{
  "openapi": "3.0.1",
  "info": {
    "title": "Onshape REST API",
    "description": "The Onshape REST API consumed by all clients.",
    "termsOfService": "http://swagger.io/terms/",
    "contact": {
      "email": "api-support@onshape.zendesk.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "1.106.24625.56a35b263da3",
    "x-logo": {
      "backgroundColor": "#ffffff",
      "altText": "Onshape",
      "href": "https://www.onshape.com/",
      "url": "https://cad.onshape.com/images/onshape_logo_medium.png"
    }
  },
  "servers": [
    {
      "url": "https://cad.onshape.com",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "OpenAPI",
      "description": "Endpoints for getting the OpenAPI specification for the Onshape API."
    },
    {
      "name": "PartStudios",
      "description": "Modify, change, and get PartStudios."
    }
  ],
  "paths": {
    "/api/openapi": {
      "get": {
        "tags": [
          "OpenAPI"
        ],
        "summary": "OpenAPI spec documentation for the Onshape REST API.",
        "operationId": "getOpenApi",
        "parameters": [
          {
            "name": "fileType",
            "in": "query",
            "description": "The type of file to return. Defaults to JSON.",
            "schema": {
              "type": "string",
              "default": "JSON",
              "enum": [
                "JSON",
                "YAML"
              ]
            }
          },
          {
            "name": "excludedTags",
            "in": "query",
            "description": "If an operation contains an excluded tag, it is not returned from this endpoint.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includedTags",
            "in": "query",
            "description": "Return only operations with tags included in includedTags.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeDeprecated",
            "in": "query",
            "description": "Include deprecated endpoints.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "documentationStatus",
            "in": "query",
            "description": "Only return endpoints that have the specified document status. Default is to return all the endpoints the user should have access to.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "DEVELOPMENT",
                  "PRODUCTION",
                  "STAGING",
                  "EVP",
                  "UNSET",
                  "INTERNAL"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAPI"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-BTVisibility": "PRODUCTION"
      }
    },
    "/api/partstudios/d/{did}/{wvm}/{wvmid}/e/{eid}/features": {
      "get": {
        "tags": [
          "PartStudios"
        ],
        "summary": "Get Feature List",
        "operationId": "getFeatures_1",
        "parameters": [
          {
            "name": "did",
            "in": "path",
            "description": "Document ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wvm",
            "in": "path",
            "description": "One of w or v or m corresponding to whether a workspace or version or microversion was entered.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wvmid",
            "in": "path",
            "description": "Workspace (w), Version (v) or Microversion (m) ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eid",
            "in": "path",
            "description": "Element ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "featureId",
            "in": "query",
            "description": "ID of a feature; repeat query param to add more than one",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "linkDocumentId",
            "in": "query",
            "description": "Id of document that links to the document being accessed. This may provide additional access rights to the document. Allowed only with version (v) path parameter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "noSketchGeometry",
            "in": "query",
            "description": "Whether or not to output simple sketch info without geometry",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "type": "string",
                "enum": [
                  "UNDEFINED",
                  "V1",
                  "V2"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/vnd.onshape.v2+json;charset=UTF-8;qs=0.2": {
                "schema": {
                  "$ref": "#/components/schemas/BTFeatureListResponse"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "OAuth2Read"
            ]
          }
        ],
        "x-BTVisibility": "PRODUCTION"
      }
    }
  },
  "components": {
    "schemas": {
      "BTVector3d": {
        "type": "object",
        "properties": {
          "x": {
            "type": "number",
            "format": "double"
          },
          "z": {
            "type": "number",
            "format": "double"
          },
          "y": {
            "type": "number",
            "format": "double"
          },
          "btType": {
            "type": "string"
          }
        }
      },
      "BTOccurrence": {
        "type": "object",
        "properties": {
          "occurrenceWithoutTail": {
            "$ref": "#/components/schemas/BTOccurrence"
          },
          "patternDescendant": {
            "type": "boolean"
          },
          "occurrenceWithoutHead": {
            "$ref": "#/components/schemas/BTOccurrence"
          },
          "tailInstanceId": {
            "type": "string"
          },
          "headInstanceId": {
            "type": "string"
          },
          "parent": {
            "$ref": "#/components/schemas/BTOccurrence"
          },
          "fullPathAsString": {
            "type": "string"
          },
          "rootOccurrence": {
            "type": "boolean"
          },
          "path": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "btType": {
            "type": "string"
          }
        }
      },
      "ApiResponse": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string"
          },
          "headers": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/Header"
            }
          },
          "content": {
            "type": "object",
            "properties": {
              "empty": {
                "type": "boolean"
              }
            },
            "additionalProperties": {
              "$ref": "#/components/schemas/MediaType"
            }
          },
          "links": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/Link"
            }
          },
          "extensions": {
            "type": "object",
            "additionalProperties": {
              "type": "object"
            },
            "writeOnly": true
          },
          "get$ref": {
            "type": "string"
          }
        }
      },
      "Callback": {
        "type": "object",
        "properties": {
          "extensions": {
            "type": "object",
            "additionalProperties": {
              "type": "object"
            },
            "writeOnly": true
          },
          "get$ref": {
            "type": "string"
          },
          "empty": {
            "type": "boolean"
          }
        },
        "additionalProperties": {
          "$ref": "#/components/schemas/PathItem"
        }
      },
      "Components": {
        "type": "object",
        "properties": {
          "schemas": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/Schema"
            }
          },
          "responses": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/ApiResponse"
            }
          },
          "parameters": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/Parameter"
            }
          },
          "examples": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/Example"
            }
          },
          "requestBodies": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/RequestBody"
            }
          },
          "headers": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/Header"
            }
          },
          "securitySchemes": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/SecurityScheme"
            }
          },
          "links": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/Link"
            }
          },
          "callbacks": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/Callback"
            }
          },
          "extensions": {
            "type": "object",
            "additionalProperties": {
              "type": "object"
            },
            "writeOnly": true
          }
        }
      },
      "Contact": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "extensions": {
            "type": "object",
            "additionalProperties": {
              "type": "object"
            },
            "writeOnly": true
          }
        }
      },
      "Discriminator": {
        "type": "object",
        "properties": {
          "propertyName": {
            "type": "string"
          },
          "mapping": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "Encoding": {
        "type": "object",
        "properties": {
          "contentType": {
            "type": "string"
          },
          "headers": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/Header"
            }
          },
          "style": {
            "type": "string",
            "enum": [
              "form",
              "spaceDelimited",
              "pipeDelimited",
              "deepObject"
            ]
          },
          "explode": {
            "type": "boolean"
          },
          "allowReserved": {
            "type": "boolean"
          },
          "extensions": {
            "type": "object",
            "additionalProperties": {
              "type": "object"
            },
            "writeOnly": true
          }
        }
      },
      "Example": {
        "type": "object",
        "properties": {
          "summary": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "value": {
            "type": "object"
          },
          "externalValue": {
            "type": "string"
          },
          "get$ref": {
            "type": "string"
          },
          "extensions": {
            "type": "object",
            "additionalProperties": {
              "type": "object"
            },
            "writeOnly": true
          }
        }
      },
      "ExternalDocumentation": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "extensions": {
            "type": "object",
            "additionalProperties": {
              "type": "object"
            },
            "writeOnly": true
          }
        }
      },
      "Header": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string"
          },
          "get$ref": {
            "type": "string"
          },
          "required": {
            "type": "boolean"
          },
          "deprecated": {
            "type": "boolean"
          },
          "style": {
            "type": "string",
            "enum": [
              "simple"
            ]
          },
          "explode": {
            "type": "boolean"
          },
          "schema": {
            "$ref": "#/components/schemas/Schema"
          },
          "examples": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/Example"
            }
          },
          "example": {
            "type": "object"
          },
          "extensions": {
            "type": "object",
            "additionalProperties": {
              "type": "object"
            },
            "writeOnly": true
          }
        }
      },
      "Info": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "termsOfService": {
            "type": "string"
          },
          "contact": {
            "$ref": "#/components/schemas/Contact"
          },
          "license": {
            "$ref": "#/components/schemas/License"
          },
          "version": {
            "type": "string"
          },
          "extensions": {
            "type": "object",
            "additionalProperties": {
              "type": "object"
            },
            "writeOnly": true
          }
        }
      },
      "License": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "extensions": {
            "type": "object",
            "additionalProperties": {
              "type": "object"
            },
            "writeOnly": true
          }
        }
      },
      "Link": {
        "type": "object",
        "properties": {
          "operationRef": {
            "type": "string"
          },
          "operationId": {
            "type": "string"
          },
          "parameters": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "requestBody": {
            "type": "object"
          },
          "headers": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/Header"
            }
          },
          "description": {
            "type": "string"
          },
          "get$ref": {
            "type": "string"
          },
          "extensions": {
            "type": "object",
            "additionalProperties": {
              "type": "object"
            },
            "writeOnly": true
          },
          "server": {
            "$ref": "#/components/schemas/Server"
          }
        }
      },
      "MediaType": {
        "type": "object",
        "properties": {
          "schema": {
            "$ref": "#/components/schemas/Schema"
          },
          "examples": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/Example"
            }
          },
          "example": {
            "type": "object"
          },
          "encoding": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/Encoding"
            }
          },
          "extensions": {
            "type": "object",
            "additionalProperties": {
              "type": "object"
            },
            "writeOnly": true
          }
        }
      },
      "OAuthFlow": {
        "type": "object",
        "properties": {
          "authorizationUrl": {
            "type": "string"
          },
          "tokenUrl": {
            "type": "string"
          },
          "refreshUrl": {
            "type": "string"
          },
          "scopes": {
            "type": "object",
            "properties": {
              "extensions": {
                "type": "object",
                "additionalProperties": {
                  "type": "object"
                },
                "writeOnly": true
              },
              "empty": {
                "type": "boolean"
              }
            },
            "additionalProperties": {
              "type": "string"
            }
          },
          "extensions": {
            "type": "object",
            "additionalProperties": {
              "type": "object"
            },
            "writeOnly": true
          }
        }
      },
      "OAuthFlows": {
        "type": "object",
        "properties": {
          "implicit": {
            "$ref": "#/components/schemas/OAuthFlow"
          },
          "password": {
            "$ref": "#/components/schemas/OAuthFlow"
          },
          "clientCredentials": {
            "$ref": "#/components/schemas/OAuthFlow"
          },
          "authorizationCode": {
            "$ref": "#/components/schemas/OAuthFlow"
          },
          "extensions": {
            "type": "object",
            "additionalProperties": {
              "type": "object"
            },
            "writeOnly": true
          }
        }
      },
      "OpenAPI": {
        "type": "object",
        "properties": {
          "openapi": {
            "type": "string"
          },
          "info": {
            "$ref": "#/components/schemas/Info"
          },
          "externalDocs": {
            "$ref": "#/components/schemas/ExternalDocumentation"
          },
          "servers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Server"
            }
          },
          "security": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SecurityRequirement"
            }
          },
          "tags": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Tag"
            }
          },
          "paths": {
            "type": "object",
            "properties": {
              "extensions": {
                "type": "object",
                "additionalProperties": {
                  "type": "object"
                },
                "writeOnly": true
              },
              "empty": {
                "type": "boolean"
              }
            },
            "additionalProperties": {
              "$ref": "#/components/schemas/PathItem"
            }
          },
          "components": {
            "$ref": "#/components/schemas/Components"
          },
          "extensions": {
            "type": "object",
            "additionalProperties": {
              "type": "object"
            },
            "writeOnly": true
          }
        }
      },
      "Operation": {
        "type": "object",
        "properties": {
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "summary": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "externalDocs": {
            "$ref": "#/components/schemas/ExternalDocumentation"
          },
          "operationId": {
            "type": "string"
          },
          "parameters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Parameter"
            }
          },
          "requestBody": {
            "$ref": "#/components/schemas/RequestBody"
          },
          "responses": {
            "type": "object",
            "properties": {
              "extensions": {
                "type": "object",
                "additionalProperties": {
                  "type": "object"
                },
                "writeOnly": true
              },
              "default": {
                "$ref": "#/components/schemas/ApiResponse"
              },
              "empty": {
                "type": "boolean"
              }
            },
            "additionalProperties": {
              "$ref": "#/components/schemas/ApiResponse"
            }
          },
          "callbacks": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/Callback"
            }
          },
          "deprecated": {
            "type": "boolean"
          },
          "security": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SecurityRequirement"
            }
          },
          "servers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Server"
            }
          },
          "extensions": {
            "type": "object",
            "additionalProperties": {
              "type": "object"
            },
            "writeOnly": true
          }
        }
      },
      "Parameter": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "in": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "required": {
            "type": "boolean"
          },
          "deprecated": {
            "type": "boolean"
          },
          "allowEmptyValue": {
            "type": "boolean"
          },
          "get$ref": {
            "type": "string"
          },
          "style": {
            "type": "string",
            "enum": [
              "matrix",
              "label",
              "form",
              "simple",
              "spaceDelimited",
              "pipeDelimited",
              "deepObject"
            ]
          },
          "explode": {
            "type": "boolean"
          },
          "allowReserved": {
            "type": "boolean"
          },
          "schema": {
            "$ref": "#/components/schemas/Schema"
          },
          "examples": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/Example"
            }
          },
          "example": {
            "type": "object"
          },
          "content": {
            "type": "object",
            "properties": {
              "empty": {
                "type": "boolean"
              }
            },
            "additionalProperties": {
              "$ref": "#/components/schemas/MediaType"
            }
          },
          "extensions": {
            "type": "object",
            "additionalProperties": {
              "type": "object"
            },
            "writeOnly": true
          }
        }
      },
      "PathItem": {
        "type": "object",
        "properties": {
          "summary": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "get": {
            "$ref": "#/components/schemas/Operation"
          },
          "put": {
            "$ref": "#/components/schemas/Operation"
          },
          "post": {
            "$ref": "#/components/schemas/Operation"
          },
          "delete": {
            "$ref": "#/components/schemas/Operation"
          },
          "options": {
            "$ref": "#/components/schemas/Operation"
          },
          "head": {
            "$ref": "#/components/schemas/Operation"
          },
          "patch": {
            "$ref": "#/components/schemas/Operation"
          },
          "trace": {
            "$ref": "#/components/schemas/Operation"
          },
          "servers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Server"
            }
          },
          "parameters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Parameter"
            }
          },
          "get$ref": {
            "type": "string"
          },
          "extensions": {
            "type": "object",
            "additionalProperties": {
              "type": "object"
            },
            "writeOnly": true
          }
        }
      },
      "RequestBody": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string"
          },
          "content": {
            "type": "object",
            "properties": {
              "empty": {
                "type": "boolean"
              }
            },
            "additionalProperties": {
              "$ref": "#/components/schemas/MediaType"
            }
          },
          "required": {
            "type": "boolean"
          },
          "extensions": {
            "type": "object",
            "additionalProperties": {
              "type": "object"
            },
            "writeOnly": true
          },
          "get$ref": {
            "type": "string"
          }
        }
      },
      "Schema": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "multipleOf": {
            "type": "number"
          },
          "maximum": {
            "type": "number"
          },
          "exclusiveMaximum": {
            "type": "boolean"
          },
          "minimum": {
            "type": "number"
          },
          "exclusiveMinimum": {
            "type": "boolean"
          },
          "maxLength": {
            "type": "integer",
            "format": "int32"
          },
          "minLength": {
            "type": "integer",
            "format": "int32"
          },
          "pattern": {
            "type": "string"
          },
          "maxItems": {
            "type": "integer",
            "format": "int32"
          },
          "minItems": {
            "type": "integer",
            "format": "int32"
          },
          "uniqueItems": {
            "type": "boolean"
          },
          "maxProperties": {
            "type": "integer",
            "format": "int32"
          },
          "minProperties": {
            "type": "integer",
            "format": "int32"
          },
          "required": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "type": {
            "type": "string"
          },
          "not": {
            "$ref": "#/components/schemas/Schema"
          },
          "properties": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/Schema"
            }
          },
          "default": {
            "type": "object"
          },
          "description": {
            "type": "string"
          },
          "format": {
            "type": "string"
          },
          "get$ref": {
            "type": "string"
          },
          "nullable": {
            "type": "boolean"
          },
          "readOnly": {
            "type": "boolean"
          },
          "writeOnly": {
            "type": "boolean"
          },
          "externalDocs": {
            "$ref": "#/components/schemas/ExternalDocumentation"
          },
          "deprecated": {
            "type": "boolean"
          },
          "xml": {
            "$ref": "#/components/schemas/XML"
          },
          "extensions": {
            "type": "object",
            "additionalProperties": {
              "type": "object"
            },
            "writeOnly": true
          },
          "discriminator": {
            "$ref": "#/components/schemas/Discriminator"
          },
          "enum": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "SecurityRequirement": {
        "type": "object",
        "properties": {
          "empty": {
            "type": "boolean"
          }
        },
        "additionalProperties": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "SecurityScheme": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "apiKey",
              "http",
              "oauth2",
              "openIdConnect"
            ]
          },
          "description": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "get$ref": {
            "type": "string"
          },
          "in": {
            "type": "string",
            "enum": [
              "cookie",
              "header",
              "query"
            ]
          },
          "scheme": {
            "type": "string"
          },
          "bearerFormat": {
            "type": "string"
          },
          "flows": {
            "$ref": "#/components/schemas/OAuthFlows"
          },
          "openIdConnectUrl": {
            "type": "string"
          },
          "extensions": {
            "type": "object",
            "additionalProperties": {
              "type": "object"
            },
            "writeOnly": true
          }
        }
      },
      "Server": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "variables": {
            "type": "object",
            "properties": {
              "extensions": {
                "type": "object",
                "additionalProperties": {
                  "type": "object"
                },
                "writeOnly": true
              },
              "empty": {
                "type": "boolean"
              }
            },
            "additionalProperties": {
              "$ref": "#/components/schemas/ServerVariable"
            }
          },
          "extensions": {
            "type": "object",
            "additionalProperties": {
              "type": "object"
            },
            "writeOnly": true
          }
        }
      },
      "ServerVariable": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string"
          },
          "extensions": {
            "type": "object",
            "additionalProperties": {
              "type": "object"
            },
            "writeOnly": true
          },
          "default": {
            "type": "string"
          },
          "enum": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Tag": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "externalDocs": {
            "$ref": "#/components/schemas/ExternalDocumentation"
          },
          "extensions": {
            "type": "object",
            "additionalProperties": {
              "type": "object"
            },
            "writeOnly": true
          }
        }
      },
      "XML": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "namespace": {
            "type": "string"
          },
          "prefix": {
            "type": "string"
          },
          "attribute": {
            "type": "boolean"
          },
          "wrapped": {
            "type": "boolean"
          },
          "extensions": {
            "type": "object",
            "additionalProperties": {
              "type": "object"
            },
            "writeOnly": true
          }
        }
      },
      "BTDocumentWithVersionAndElementId": {
        "type": "object",
        "properties": {
          "documentId": {
            "type": "string"
          },
          "documentVersionId": {
            "type": "string"
          },
          "elementId": {
            "type": "string"
          },
          "partNumber": {
            "type": "string"
          },
          "revision": {
            "type": "string"
          },
          "validRevisionReference": {
            "type": "boolean"
          },
          "uniqueVersionId": {
            "type": "string"
          }
        }
      },
      "BTDocumentWithVersionId": {
        "type": "object",
        "properties": {
          "documentId": {
            "type": "string"
          },
          "documentVersionId": {
            "type": "string"
          }
        }
      },
      "BTElementReference": {
        "type": "object",
        "properties": {
          "configured": {
            "type": "boolean"
          },
          "elementId": {
            "type": "string"
          },
          "microversionIdAndConfiguration": {
            "$ref": "#/components/schemas/BTMicroversionIdAndConfiguration"
          },
          "externalDocumentWithVersionAndElementId": {
            "$ref": "#/components/schemas/BTDocumentWithVersionAndElementId"
          },
          "externalDocumentWithVersion": {
            "$ref": "#/components/schemas/BTDocumentWithVersionId"
          },
          "externalReference": {
            "type": "boolean"
          },
          "fullElementId": {
            "$ref": "#/components/schemas/BTFullElementId"
          },
          "nodeId": {
            "type": "string"
          },
          "btType": {
            "type": "string"
          }
        },
        "discriminator": {
          "propertyName": "btType",
          "mapping": {
            "BTExternalReference-1936": "#/components/schemas/BTExternalReference"
          }
        }
      },
      "BTExplosion": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/BTMAssemblyFeature"
          },
          {
            "type": "object",
            "properties": {
              "explodeSteps": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/BTExplosionStepFeature"
                }
              },
              "startingPositionId": {
                "$ref": "#/components/schemas/BTMicroversionIdAndConfiguration"
              }
            }
          }
        ]
      },
      "BTExplosionStepFeature": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/BTMAssemblyFeature"
          }
        ]
      },
      "BTExternalReference": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/BTElementReference"
          },
          {
            "type": "object",
            "properties": {
              "documentVersionId": {
                "type": "string"
              }
            }
          }
        ]
      },
      "BTFSValue": {
        "type": "object",
        "properties": {
          "configurationValueString": {
            "type": "string"
          },
          "valueObject": {
            "type": "object"
          },
          "typeTag": {
            "type": "string"
          },
          "btType": {
            "type": "string"
          }
        },
        "discriminator": {
          "propertyName": "btType",
          "mapping": {
            "BTFSValueArray-1499": "#/components/schemas/BTFSValueArray",
            "BTFSValueBoolean-1195": "#/components/schemas/BTFSValueBoolean",
            "BTFSValueMap-2062": "#/components/schemas/BTFSValueMap",
            "BTFSValueNumber-772": "#/components/schemas/BTFSValueNumber",
            "BTFSValueOther-1124": "#/components/schemas/BTFSValueOther",
            "BTFSValueString-1422": "#/components/schemas/BTFSValueString",
            "BTFSValueTooBig-1247": "#/components/schemas/BTFSValueTooBig",
            "BTFSValueUndefined-2003": "#/components/schemas/BTFSValueUndefined",
            "BTFSValueWithUnits-1817": "#/components/schemas/BTFSValueWithUnits"
          }
        }
      },
      "BTFSValueArray": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/BTFSValue"
          },
          {
            "type": "object",
            "properties": {
              "valueObject": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              },
              "value": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/BTFSValue"
                }
              }
            }
          }
        ]
      },
      "BTFSValueBoolean": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/BTFSValue"
          },
          {
            "type": "object",
            "properties": {
              "valueObject": {
                "type": "boolean"
              },
              "value": {
                "type": "boolean"
              }
            }
          }
        ]
      },
      "BTFSValueMap": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/BTFSValue"
          },
          {
            "type": "object",
            "properties": {
              "valueObject": {
                "type": "object",
                "additionalProperties": {
                  "type": "object"
                }
              },
              "value": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/BTFSValueMapEntry"
                }
              }
            }
          }
        ]
      },
      "BTFSValueMapEntry": {
        "type": "object",
        "properties": {
          "value": {
            "$ref": "#/components/schemas/BTFSValue"
          },
          "key": {
            "$ref": "#/components/schemas/BTFSValue"
          },
          "btType": {
            "type": "string"
          }
        }
      },
      "BTFSValueNumber": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/BTFSValue"
          },
          {
            "type": "object",
            "properties": {
              "valueObject": {
                "type": "number",
                "format": "double"
              },
              "value": {
                "type": "number",
                "format": "double"
              }
            }
          }
        ]
      },
      "BTFSValueOther": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/BTFSValue"
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "UNDEFINED",
                  "BOOLEAN",
                  "NUMBER",
                  "STRING",
                  "ARRAY",
                  "MAP",
                  "BOX",
                  "BUILTIN",
                  "FUNCTION",
                  "UNKNOWN"
                ]
              }
            }
          }
        ]
      },
      "BTFSValueString": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/BTFSValue"
          },
          {
            "type": "object",
            "properties": {
              "valueObject": {
                "type": "string"
              },
              "value": {
                "type": "string"
              }
            }
          }
        ]
      },
      "BTFSValueTooBig": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/BTFSValue"
          }
        ]
      },
      "BTFSValueUndefined": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/BTFSValue"
          }
        ]
      },
      "BTFSValueWithUnits": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/BTFSValue"
          },
          {
            "type": "object",
            "properties": {
              "valueObject": {
                "type": "number",
                "format": "double"
              },
              "quantityType": {
                "type": "string",
                "enum": [
                  "UNKNOWN",
                  "INTEGER",
                  "REAL",
                  "LENGTH",
                  "ANGLE",
                  "MASS",
                  "TIME",
                  "TEMPERATURE",
                  "CURRENT",
                  "ANYTHING"
                ]
              },
              "unitToPower": {
                "type": "object",
                "additionalProperties": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "value": {
                "type": "number",
                "format": "double"
              }
            }
          }
        ]
      },
      "BTFeatureListResponse": {
        "type": "object",
        "properties": {
          "defaultFeatures": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BTMFeature"
            }
          },
          "imports": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BTMImport"
            }
          },
          "rollbackIndex": {
            "type": "integer",
            "format": "int32"
          },
          "features": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BTMFeature"
            }
          },
          "isComplete": {
            "type": "boolean"
          },
          "featureStates": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/BTFeatureState"
            }
          },
          "sourceMicroversion": {
            "type": "string"
          },
          "rejectMicroversionSkew": {
            "type": "boolean"
          },
          "microversionSkew": {
            "type": "boolean"
          },
          "serializationVersion": {
            "type": "string"
          },
          "libraryVersion": {
            "type": "integer",
            "format": "int32"
          },
          "btType": {
            "type": "string"
          }
        }
      },
      "BTFeatureState": {
        "type": "object",
        "properties": {
          "featureStatus": {
            "type": "string",
            "enum": [
              "OK",
              "INFO",
              "WARNING",
              "ERROR",
              "UNKNOWN"
            ]
          },
          "btType": {
            "type": "string"
          }
        }
      },
      "BTGraphicsAppearance": {
        "type": "object",
        "properties": {
          "nonTrivial": {
            "type": "boolean"
          },
          "reset": {
            "type": "boolean"
          },
          "color": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "byte"
            }
          },
          "opacity": {
            "type": "integer",
            "format": "int32"
          },
          "btType": {
            "type": "string"
          }
        }
      },
      "BTMArrayParameterItem": {
        "type": "object",
        "properties": {
          "importMicroversion": {
            "type": "string",
            "writeOnly": true
          },
          "nodeId": {
            "type": "string"
          },
          "btType": {
            "type": "string"
          }
        }
      },
      "BTMAssemblyFeature": {
        "type": "object",
        "discriminator": {
          "propertyName": "btType",
          "mapping": {
            "BTExplosion-2754": "#/components/schemas/BTExplosion",
            "BTExplosionStepFeature-3008": "#/components/schemas/BTExplosionStepFeature",
            "BTMAssemblyFeature1-2218": "#/components/schemas/BTMAssemblyFeature1",
            "BTMAssemblyFeature2-1022": "#/components/schemas/BTMAssemblyFeature2",
            "BTMAssemblyPatternFeature-2241": "#/components/schemas/BTMAssemblyPatternFeature",
            "BTMGeometryMate-1260": "#/components/schemas/BTMGeometryMate",
            "BTMMate-64": "#/components/schemas/BTMMate",
            "BTMMateConnector-66": "#/components/schemas/BTMMateConnector",
            "BTMMateGroup-65": "#/components/schemas/BTMMateGroup",
            "BTMMateRelation-1412": "#/components/schemas/BTMMateRelation",
            "BTMNonGeometricItem-1864": "#/components/schemas/BTMNonGeometricItem"
          }
        },
        "allOf": [
          {
            "$ref": "#/components/schemas/BTMFeature"
          },
          {
            "type": "object",
            "properties": {
              "occurrenceQueriesFromAllConfigurations": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/BTMIndividualQueryWithOccurrenceBase"
                }
              },
              "auxiliaryAssemblyFeature": {
                "type": "boolean"
              },
              "featureListFieldIndex": {
                "type": "integer",
                "format": "int32"
              },
              "version": {
                "type": "integer",
                "format": "int32"
              }
            }
          }
        ]
      },
      "BTMAssemblyFeature1": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/BTMAssemblyFeature"
          }
        ]
      },
      "BTMAssemblyFeature2": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/BTMAssemblyFeature"
          }
        ]
      },
      "BTMAssemblyPatternFeature": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/BTMAssemblyFeature"
          },
          {
            "type": "object",
            "properties": {
              "patternType": {
                "type": "string",
                "enum": [
                  "LINEAR",
                  "CIRCULAR",
                  "UNKNOWN"
                ]
              }
            }
          }
        ]
      },
      "BTMConfiguredValue": {
        "type": "object",
        "properties": {
          "configurationValueString": {
            "type": "string"
          },
          "value": {
            "$ref": "#/components/schemas/BTMParameter"
          },
          "importMicroversion": {
            "type": "string",
            "writeOnly": true
          },
          "nodeId": {
            "type": "string"
          },
          "btType": {
            "type": "string"
          }
        },
        "discriminator": {
          "propertyName": "btType",
          "mapping": {
            "BTMConfiguredValueByBoolean-1501": "#/components/schemas/BTMConfiguredValueByBoolean",
            "BTMConfiguredValueByEnum-1923": "#/components/schemas/BTMConfiguredValueByEnum"
          }
        }
      },
      "BTMConfiguredValueByBoolean": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/BTMConfiguredValue"
          },
          {
            "type": "object",
            "properties": {
              "booleanValue": {
                "type": "boolean"
              }
            }
          }
        ]
      },
      "BTMConfiguredValueByEnum": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/BTMConfiguredValue"
          },
          {
            "type": "object",
            "properties": {
              "namespace": {
                "type": "string"
              },
              "enumName": {
                "type": "string"
              },
              "enumValue": {
                "type": "string"
              }
            }
          }
        ]
      },
      "BTMDatabaseParameter": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/BTMParameter"
          },
          {
            "type": "object",
            "properties": {
              "databaseId": {
                "type": "string"
              }
            }
          }
        ]
      },
      "BTMFeature": {
        "type": "object",
        "properties": {
          "namespace": {
            "type": "string"
          },
          "nodeId": {
            "type": "string"
          },
          "importMicroversion": {
            "type": "string",
            "writeOnly": true
          },
          "name": {
            "type": "string"
          },
          "suppressed": {
            "type": "boolean"
          },
          "parameters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BTMParameter"
            }
          },
          "returnAfterSubfeatures": {
            "type": "boolean"
          },
          "featureType": {
            "type": "string"
          },
          "featureId": {
            "type": "string"
          },
          "btType": {
            "type": "string"
          }
        },
        "discriminator": {
          "propertyName": "btType",
          "mapping": {
            "BTMAssemblyFeature-887": "#/components/schemas/BTMAssemblyFeature",
            "BTMFeatureInvalid-1031": "#/components/schemas/BTMFeatureInvalid",
            "BTMSketch-151": "#/components/schemas/BTMSketch"
          }
        }
      },
      "BTMFeatureInvalid": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/BTMFeature"
          }
        ]
      },
      "BTMFeatureQueryWithOccurrence": {
        "type": "object",
        "discriminator": {
          "propertyName": "btType",
          "mapping": {
            "BTMPartStudioMateConnectorQuery-1324": "#/components/schemas/BTMPartStudioMateConnectorQuery"
          }
        },
        "allOf": [
          {
            "$ref": "#/components/schemas/BTMIndividualQueryWithOccurrenceBase"
          },
          {
            "type": "object",
            "properties": {
              "featureIdWithOccurrence": {
                "type": "string"
              },
              "partStudioMateConnectorQuery": {
                "type": "boolean"
              },
              "featureId": {
                "type": "string"
              },
              "queryData": {
                "type": "string"
              }
            }
          }
        ]
      },
      "BTMGeometryMate": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/BTMAssemblyFeature"
          }
        ]
      },
      "BTMImport": {
        "type": "object",
        "properties": {
          "importedExternalDocumentId": {
            "type": "string"
          },
          "elementImport": {
            "type": "boolean"
          },
          "namespace": {
            "type": "string"
          },
          "nodeId": {
            "type": "string"
          },
          "importMicroversion": {
            "type": "string",
            "writeOnly": true
          },
          "version": {
            "type": "string"
          },
          "path": {
            "type": "string"
          },
          "btType": {
            "type": "string"
          }
        }
      },
      "BTMInContextQuery": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/BTMIndividualQueryBase"
          },
          {
            "type": "object",
            "properties": {
              "path": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        ]
      },
      "BTMIndividualCoEdgeQuery": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/BTMIndividualQuery"
          },
          {
            "type": "object",
            "properties": {
              "faceQuery": {
                "$ref": "#/components/schemas/BTMIndividualQuery"
              },
              "edgeQuery": {
                "$ref": "#/components/schemas/BTMIndividualQuery"
              }
            }
          }
        ]
      },
      "BTMIndividualCreatedByQuery": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/BTMIndividualQuery"
          },
          {
            "type": "object",
            "properties": {
              "filterConstruction": {
                "type": "boolean"
              },
              "featureId": {
                "type": "string"
              },
              "bodyType": {
                "type": "string",
                "enum": [
                  "SOLID",
                  "SHEET",
                  "WIRE",
                  "POINT",
                  "MATE_CONNECTOR",
                  "COMPOSITE",
                  "UNKNOWN"
                ]
              },
              "entityType": {
                "type": "string",
                "enum": [
                  "VERTEX",
                  "EDGE",
                  "FACE",
                  "BODY",
                  "DEGENERATE_EDGE",
                  "UNKNOWN"
                ]
              }
            }
          }
        ]
      },
      "BTMIndividualOccurrenceQuery": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/BTMIndividualQueryWithOccurrenceBase"
          }
        ]
      },
      "BTMIndividualQuery": {
        "type": "object",
        "discriminator": {
          "propertyName": "btType",
          "mapping": {
            "BTMIndividualCoEdgeQuery-1332": "#/components/schemas/BTMIndividualCoEdgeQuery",
            "BTMIndividualCreatedByQuery-137": "#/components/schemas/BTMIndividualCreatedByQuery",
            "BTMIndividualSketchRegionQuery-140": "#/components/schemas/BTMIndividualSketchRegionQuery",
            "BTMIndividualSketchUniqueVerticesQuery-1472": "#/components/schemas/BTMIndividualSketchUniqueVerticesQuery"
          }
        },
        "allOf": [
          {
            "$ref": "#/components/schemas/BTMIndividualQueryBase"
          },
          {
            "type": "object",
            "properties": {
              "persistentQuery": {
                "$ref": "#/components/schemas/BTPStatement"
              },
              "variableName": {
                "$ref": "#/components/schemas/BTMIndividualQuery"
              },
              "queryStatement": {
                "$ref": "#/components/schemas/BTPStatement"
              }
            }
          }
        ]
      },
      "BTMIndividualQueryBase": {
        "type": "object",
        "properties": {
          "deterministicIdList": {
            "$ref": "#/components/schemas/BTMIndividualQueryBase"
          },
          "queryString": {
            "type": "string"
          },
          "query": {
            "$ref": "#/components/schemas/BTMIndividualQueryBase"
          },
          "deterministicIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "importMicroversion": {
            "type": "string",
            "writeOnly": true
          },
          "nodeId": {
            "type": "string"
          },
          "btType": {
            "type": "string"
          }
        },
        "discriminator": {
          "propertyName": "btType",
          "mapping": {
            "BTMInContextQuery-2254": "#/components/schemas/BTMInContextQuery",
            "BTMIndividualQuery-138": "#/components/schemas/BTMIndividualQuery",
            "BTMIndividualQueryWithOccurrenceBase-904": "#/components/schemas/BTMIndividualQueryWithOccurrenceBase"
          }
        }
      },
      "BTMIndividualQueryWithOccurrence": {
        "type": "object",
        "discriminator": {
          "propertyName": "btType",
          "mapping": {
            "BTMInferenceQueryWithOccurrence-1083": "#/components/schemas/BTMInferenceQueryWithOccurrence"
          }
        },
        "allOf": [
          {
            "$ref": "#/components/schemas/BTMIndividualQueryWithOccurrenceBase"
          },
          {
            "type": "object",
            "properties": {
              "entityQuery": {
                "type": "string"
              }
            }
          }
        ]
      },
      "BTMIndividualQueryWithOccurrenceBase": {
        "type": "object",
        "properties": {
          "path": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "deterministicIdList": {
            "$ref": "#/components/schemas/BTMIndividualQueryBase"
          },
          "queryString": {
            "type": "string"
          },
          "query": {
            "$ref": "#/components/schemas/BTMIndividualQueryBase"
          },
          "deterministicIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "importMicroversion": {
            "type": "string",
            "writeOnly": true
          },
          "nodeId": {
            "type": "string"
          },
          "btType": {
            "type": "string"
          }
        },
        "discriminator": {
          "propertyName": "btType",
          "mapping": {
            "BTMFeatureQueryWithOccurrence-157": "#/components/schemas/BTMFeatureQueryWithOccurrence",
            "BTMIndividualOccurrenceQuery-626": "#/components/schemas/BTMIndividualOccurrenceQuery",
            "BTMIndividualQueryWithOccurrence-811": "#/components/schemas/BTMIndividualQueryWithOccurrence"
          }
        }
      },
      "BTMIndividualSketchRegionQuery": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/BTMIndividualQuery"
          },
          {
            "type": "object",
            "properties": {
              "filterInnerLoops": {
                "type": "boolean"
              },
              "featureId": {
                "type": "string"
              }
            }
          }
        ]
      },
      "BTMIndividualSketchUniqueVerticesQuery": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/BTMIndividualQuery"
          },
          {
            "type": "object",
            "properties": {
              "featureId": {
                "type": "string"
              }
            }
          }
        ]
      },
      "BTMInferenceQueryWithOccurrence": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/BTMIndividualQueryWithOccurrence"
          },
          {
            "type": "object",
            "properties": {
              "inferenceType": {
                "type": "string",
                "enum": [
                  "PART_ORIGIN",
                  "POINT",
                  "CENTROID",
                  "CENTER",
                  "MID_POINT",
                  "TOP_AXIS_POINT",
                  "MID_AXIS_POINT",
                  "BOTTOM_AXIS_POINT",
                  "ORIGIN_X",
                  "ORIGIN_Y",
                  "ORIGIN_Z",
                  "LOOP_CENTER",
                  "UNKNOWN"
                ]
              },
              "secondEntityQuery": {
                "type": "string"
              },
              "secondDeterministicId": {
                "type": "string"
              }
            }
          }
        ]
      },
      "BTMMate": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/BTMAssemblyFeature"
          },
          {
            "type": "object",
            "properties": {
              "mateOffset": {
                "$ref": "#/components/schemas/BTVector3d"
              },
              "mateConnectorQueryList": {
                "$ref": "#/components/schemas/BTMParameterQueryWithOccurrenceList"
              },
              "primaryAxisAlignment": {
                "type": "boolean"
              },
              "secondaryAxisAlignment": {
                "type": "string",
                "enum": [
                  "PLUS_X",
                  "PLUS_Y",
                  "MINUS_X",
                  "MINUS_Y",
                  "UNKNOWN"
                ]
              },
              "mateConnectors": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/BTMMateConnector"
                }
              }
            }
          }
        ]
      },
      "BTMMateConnector": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/BTMAssemblyFeature"
          },
          {
            "type": "object",
            "properties": {
              "savedFeatureType": {
                "type": "string"
              },
              "implicit": {
                "type": "boolean"
              },
              "isHidden": {
                "type": "boolean"
              }
            }
          }
        ]
      },
      "BTMMateGroup": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/BTMAssemblyFeature"
          }
        ]
      },
      "BTMMateRelation": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/BTMAssemblyFeature"
          }
        ]
      },
      "BTMNonGeometricItem": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/BTMAssemblyFeature"
          },
          {
            "type": "object",
            "properties": {
              "itemDefinitionId": {
                "type": "string"
              }
            }
          }
        ]
      },
      "BTMParameter": {
        "type": "object",
        "properties": {
          "parameterId": {
            "type": "string"
          },
          "importMicroversion": {
            "type": "string",
            "writeOnly": true
          },
          "nodeId": {
            "type": "string"
          },
          "btType": {
            "type": "string"
          }
        },
        "discriminator": {
          "propertyName": "btType",
          "mapping": {
            "BTMDatabaseParameter-2229": "#/components/schemas/BTMDatabaseParameter",
            "BTMParameterAppearance-627": "#/components/schemas/BTMParameterAppearance",
            "BTMParameterArray-2025": "#/components/schemas/BTMParameterArray",
            "BTMParameterBlobReference-1679": "#/components/schemas/BTMParameterBlobReference",
            "BTMParameterBoolean-144": "#/components/schemas/BTMParameterBoolean",
            "BTMParameterConfigured-2222": "#/components/schemas/BTMParameterConfigured",
            "BTMParameterDerived-864": "#/components/schemas/BTMParameterDerived",
            "BTMParameterEnum-145": "#/components/schemas/BTMParameterEnum",
            "BTMParameterFeatureList-1749": "#/components/schemas/BTMParameterFeatureList",
            "BTMParameterForeignId-146": "#/components/schemas/BTMParameterForeignId",
            "BTMParameterInvalid-1664": "#/components/schemas/BTMParameterInvalid",
            "BTMParameterLookupTablePath-1419": "#/components/schemas/BTMParameterLookupTablePath",
            "BTMParameterMaterial-1388": "#/components/schemas/BTMParameterMaterial",
            "BTMParameterQuantity-147": "#/components/schemas/BTMParameterQuantity",
            "BTMParameterQueryList-148": "#/components/schemas/BTMParameterQueryList",
            "BTMParameterQueryWithOccurrenceList-67": "#/components/schemas/BTMParameterQueryWithOccurrenceList",
            "BTMParameterReference-2434": "#/components/schemas/BTMParameterReference",
            "BTMParameterString-149": "#/components/schemas/BTMParameterString"
          }
        }
      },
      "BTMParameterAppearance": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/BTMParameter"
          },
          {
            "type": "object",
            "properties": {
              "appearance": {
                "$ref": "#/components/schemas/BTGraphicsAppearance"
              }
            }
          }
        ]
      },
      "BTMParameterArray": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/BTMParameter"
          },
          {
            "type": "object",
            "properties": {
              "items": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/BTMArrayParameterItem"
                }
              }
            }
          }
        ]
      },
      "BTMParameterBlobReference": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/BTMParameter"
          },
          {
            "type": "object",
            "properties": {
              "namespace": {
                "type": "string"
              },
              "blobImport": {
                "$ref": "#/components/schemas/BTMImport"
              }
            }
          }
        ]
      },
      "BTMParameterBoolean": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/BTMParameter"
          },
          {
            "type": "object",
            "properties": {
              "value": {
                "type": "boolean"
              }
            }
          }
        ]
      },
      "BTMParameterConfigured": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/BTMParameter"
          },
          {
            "type": "object",
            "properties": {
              "valuesFieldIndex": {
                "type": "integer",
                "format": "int32"
              },
              "configurationParameterIdFieldIndex": {
                "type": "integer",
                "format": "int32"
              },
              "configurationParameterId": {
                "type": "string"
              },
              "values": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/BTMConfiguredValue"
                }
              }
            }
          }
        ]
      },
      "BTMParameterDerived": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/BTMParameter"
          },
          {
            "type": "object",
            "properties": {
              "moduleId": {
                "$ref": "#/components/schemas/BTPModuleId"
              },
              "namespace": {
                "type": "string"
              },
              "imports": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/BTMImport"
                }
              }
            }
          }
        ]
      },
      "BTMParameterEnum": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/BTMParameter"
          },
          {
            "type": "object",
            "properties": {
              "namespace": {
                "type": "string"
              },
              "enumName": {
                "type": "string"
              },
              "value": {
                "type": "string"
              }
            }
          }
        ]
      },
      "BTMParameterFeatureList": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/BTMParameter"
          },
          {
            "type": "object",
            "properties": {
              "featureIds": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        ]
      },
      "BTMParameterForeignId": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/BTMParameter"
          },
          {
            "type": "object",
            "properties": {
              "foreignName": {
                "type": "string"
              },
              "foreignId": {
                "type": "string"
              }
            }
          }
        ]
      },
      "BTMParameterInvalid": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/BTMParameter"
          }
        ]
      },
      "BTMParameterLookupTablePath": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/BTMParameter"
          },
          {
            "type": "object",
            "properties": {
              "value": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              }
            }
          }
        ]
      },
      "BTMParameterMaterial": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/BTMParameter"
          },
          {
            "type": "object",
            "properties": {
              "material": {
                "$ref": "#/components/schemas/BTPartMaterial"
              }
            }
          }
        ]
      },
      "BTMParameterNullableQuantity": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/BTMParameterQuantity"
          },
          {
            "type": "object",
            "properties": {
              "nullValue": {
                "type": "string"
              },
              "isNull": {
                "type": "boolean"
              }
            }
          }
        ]
      },
      "BTMParameterQuantity": {
        "type": "object",
        "discriminator": {
          "propertyName": "btType",
          "mapping": {
            "BTMParameterNullableQuantity-807": "#/components/schemas/BTMParameterNullableQuantity"
          }
        },
        "allOf": [
          {
            "$ref": "#/components/schemas/BTMParameter"
          },
          {
            "type": "object",
            "properties": {
              "isInteger": {
                "type": "boolean"
              },
              "units": {
                "type": "string"
              },
              "value": {
                "type": "number",
                "format": "double"
              },
              "expression": {
                "type": "string"
              }
            }
          }
        ]
      },
      "BTMParameterQueryList": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/BTMParameter"
          },
          {
            "type": "object",
            "properties": {
              "queries": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/BTMIndividualQueryBase"
                }
              }
            }
          }
        ]
      },
      "BTMParameterQueryWithOccurrenceList": {
        "type": "object",
        "properties": {
          "occurrences": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BTOccurrence"
            }
          },
          "queries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BTMIndividualQueryWithOccurrenceBase"
            }
          },
          "parameterId": {
            "type": "string"
          },
          "importMicroversion": {
            "type": "string",
            "writeOnly": true
          },
          "nodeId": {
            "type": "string"
          },
          "btType": {
            "type": "string"
          }
        }
      },
      "BTMParameterReference": {
        "type": "object",
        "discriminator": {
          "propertyName": "btType",
          "mapping": {
            "BTMParameterReferenceBlob-3281": "#/components/schemas/BTMParameterReferenceBlob",
            "BTMParameterReferenceWithConfiguration-3028": "#/components/schemas/BTMParameterReferenceWithConfiguration"
          }
        },
        "allOf": [
          {
            "$ref": "#/components/schemas/BTMParameter"
          },
          {
            "type": "object",
            "properties": {
              "featureScriptType": {
                "type": "string"
              },
              "elementId": {
                "type": "string"
              },
              "namespace": {
                "type": "string"
              }
            }
          }
        ]
      },
      "BTMParameterReferenceAssembly": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/BTMParameterReferenceWithConfiguration"
          }
        ]
      },
      "BTMParameterReferenceBlob": {
        "type": "object",
        "discriminator": {
          "propertyName": "btType",
          "mapping": {
            "BTMParameterReferenceCADImport-2016": "#/components/schemas/BTMParameterReferenceCADImport",
            "BTMParameterReferenceImage-2014": "#/components/schemas/BTMParameterReferenceImage",
            "BTMParameterReferenceJSON-790": "#/components/schemas/BTMParameterReferenceJSON",
            "BTMParameterReferenceTable-917": "#/components/schemas/BTMParameterReferenceTable"
          }
        },
        "allOf": [
          {
            "$ref": "#/components/schemas/BTMParameterReference"
          }
        ]
      },
      "BTMParameterReferenceCADImport": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/BTMParameterReferenceBlob"
          }
        ]
      },
      "BTMParameterReferenceImage": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/BTMParameterReferenceBlob"
          }
        ]
      },
      "BTMParameterReferenceJSON": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/BTMParameterReferenceBlob"
          }
        ]
      },
      "BTMParameterReferencePartStudio": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/BTMParameterReferenceWithConfiguration"
          },
          {
            "type": "object",
            "properties": {
              "blockBuildFunctionAccess": {
                "type": "boolean",
                "writeOnly": true
              },
              "partQuery": {
                "$ref": "#/components/schemas/BTMParameterQueryList"
              },
              "standardContentParametersId": {
                "type": "string"
              }
            }
          }
        ]
      },
      "BTMParameterReferenceTable": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/BTMParameterReferenceBlob"
          }
        ]
      },
      "BTMParameterReferenceWithConfiguration": {
        "type": "object",
        "discriminator": {
          "propertyName": "btType",
          "mapping": {
            "BTMParameterReferenceAssembly-938": "#/components/schemas/BTMParameterReferenceAssembly",
            "BTMParameterReferencePartStudio-3302": "#/components/schemas/BTMParameterReferencePartStudio"
          }
        },
        "allOf": [
          {
            "$ref": "#/components/schemas/BTMParameterReference"
          }
        ]
      },
      "BTMParameterString": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/BTMParameter"
          },
          {
            "type": "object",
            "properties": {
              "value": {
                "type": "string"
              }
            }
          }
        ]
      },
      "BTMPartStudioMateConnectorQuery": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/BTMFeatureQueryWithOccurrence"
          }
        ]
      },
      "BTMSketch": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/BTMFeature"
          },
          {
            "type": "object",
            "properties": {
              "entities": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/BTMSketchGeomEntity"
                }
              },
              "constraints": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/BTMSketchConstraint"
                }
              }
            }
          }
        ]
      },
      "BTMSketchConstraint": {
        "type": "object",
        "properties": {
          "drivenDimension": {
            "type": "boolean"
          },
          "hasOffsetData1": {
            "type": "boolean"
          },
          "offsetOrientation1": {
            "type": "boolean"
          },
          "offsetDistance1": {
            "type": "number",
            "format": "double"
          },
          "hasOffsetData2": {
            "type": "boolean"
          },
          "offsetOrientation2": {
            "type": "boolean"
          },
          "offsetDistance2": {
            "type": "number",
            "format": "double"
          },
          "hasPierceParameter": {
            "type": "boolean"
          },
          "pierceParameter": {
            "type": "number",
            "format": "double"
          },
          "helpParameters": {
            "type": "array",
            "items": {
              "type": "number",
              "format": "double"
            }
          },
          "parameters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BTMParameter"
            }
          },
          "constraintType": {
            "type": "string",
            "enum": [
              "NONE",
              "COINCIDENT",
              "PARALLEL",
              "VERTICAL",
              "HORIZONTAL",
              "PERPENDICULAR",
              "CONCENTRIC",
              "MIRROR",
              "MIDPOINT",
              "TANGENT",
              "EQUAL",
              "LENGTH",
              "DISTANCE",
              "ANGLE",
              "RADIUS",
              "NORMAL",
              "FIX",
              "PROJECTED",
              "OFFSET",
              "CIRCULAR_PATTERN",
              "PIERCE",
              "LINEAR_PATTERN",
              "MAJOR_DIAMETER",
              "MINOR_DIAMETER",
              "QUADRANT",
              "DIAMETER",
              "SILHOUETTED",
              "CENTERLINE_DIMENSION",
              "INTERSECTED",
              "RHO",
              "EQUAL_CURVATURE",
              "UNKNOWN"
            ]
          },
          "entityIdAndReplaceInDependentFields": {
            "type": "string",
            "writeOnly": true
          },
          "namespace": {
            "type": "string"
          },
          "nodeId": {
            "type": "string"
          },
          "importMicroversion": {
            "type": "string",
            "writeOnly": true
          },
          "entityId": {
            "type": "string"
          },
          "btType": {
            "type": "string"
          }
        }
      },
      "BTMSketchCurve": {
        "type": "object",
        "discriminator": {
          "propertyName": "btType",
          "mapping": {
            "BTMSketchCurveSegment-155": "#/components/schemas/BTMSketchCurveSegment"
          }
        },
        "allOf": [
          {
            "$ref": "#/components/schemas/BTMSketchGeomEntity"
          },
          {
            "type": "object",
            "properties": {
              "geometry": {
                "$ref": "#/components/schemas/BTCurveGeometry"
              },
              "centerId": {
                "type": "string"
              },
              "internalIds": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        ]
      },
      "BTMSketchCurveSegment": {
        "type": "object",
        "discriminator": {
          "propertyName": "btType",
          "mapping": {
            "BTMSketchCurveSegment": "#/components/schemas/BTMSketchCurveSegment"
          }
        },
        "allOf": [
          {
            "$ref": "#/components/schemas/BTMSketchCurve"
          },
          {
            "type": "object",
            "properties": {
              "endPointId": {
                "type": "string"
              },
              "startParam": {
                "type": "number",
                "format": "double"
              },
              "endParam": {
                "type": "number",
                "format": "double"
              },
              "startPointId": {
                "type": "string"
              }
            }
          }
        ]
      },
      "BTMSketchGeomEntity": {
        "type": "object",
        "properties": {
          "controlBoxIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "isConstruction": {
            "type": "boolean"
          },
          "parameters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BTMParameter"
            }
          },
          "entityIdAndReplaceInDependentFields": {
            "type": "string",
            "writeOnly": true
          },
          "namespace": {
            "type": "string"
          },
          "nodeId": {
            "type": "string"
          },
          "importMicroversion": {
            "type": "string",
            "writeOnly": true
          },
          "entityId": {
            "type": "string"
          },
          "btType": {
            "type": "string"
          }
        },
        "discriminator": {
          "propertyName": "btType",
          "mapping": {
            "BTMSketchCurve-4": "#/components/schemas/BTMSketchCurve",
            "BTMSketchImageEntity-763": "#/components/schemas/BTMSketchImageEntity",
            "BTMSketchPoint-158": "#/components/schemas/BTMSketchPoint",
            "BTMSketchTextEntity-1761": "#/components/schemas/BTMSketchTextEntity"
          }
        }
      },
      "BTMSketchImageEntity": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/BTMSketchGeomEntity"
          },
          {
            "type": "object",
            "properties": {
              "xaxisX": {
                "type": "number",
                "format": "double"
              },
              "xaxisY": {
                "type": "number",
                "format": "double"
              },
              "aspectRatio": {
                "type": "number",
                "format": "double"
              },
              "originX": {
                "type": "number",
                "format": "double"
              },
              "originY": {
                "type": "number",
                "format": "double"
              }
            }
          }
        ]
      },
      "BTMSketchPoint": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/BTMSketchGeomEntity"
          },
          {
            "type": "object",
            "properties": {
              "x": {
                "type": "number",
                "format": "double"
              },
              "isUserPoint": {
                "type": "boolean"
              },
              "y": {
                "type": "number",
                "format": "double"
              }
            }
          }
        ]
      },
      "BTMSketchTextEntity": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/BTMSketchGeomEntity"
          },
          {
            "type": "object",
            "properties": {
              "text": {
                "type": "string"
              },
              "fontName": {
                "type": "string"
              },
              "baselineStartX": {
                "type": "number",
                "format": "double"
              },
              "baselineStartY": {
                "type": "number",
                "format": "double"
              },
              "baselineDirectionX": {
                "type": "number",
                "format": "double"
              },
              "baselineDirectionY": {
                "type": "number",
                "format": "double"
              },
              "ascent": {
                "type": "number",
                "format": "double"
              }
            }
          }
        ]
      },
      "BTMicroversionId": {
        "type": "object",
        "properties": {
          "deleted": {
            "type": "boolean"
          },
          "theId": {
            "type": "string"
          },
          "btType": {
            "type": "string"
          }
        }
      },
      "BTMicroversionIdAndConfiguration": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string"
          },
          "cacheKey": {
            "type": "string"
          },
          "deleted": {
            "type": "boolean"
          },
          "microversion": {
            "$ref": "#/components/schemas/BTMicroversionId"
          },
          "configurationParameterIdToValue": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/BTFSValue"
            }
          },
          "btType": {
            "type": "string"
          }
        }
      },
      "BTPArgumentDeclaration": {
        "type": "object",
        "properties": {
          "shortDescriptor": {
            "type": "string"
          },
          "standardType": {
            "type": "string",
            "enum": [
              "UNDEFINED",
              "BOOLEAN",
              "NUMBER",
              "STRING",
              "ARRAY",
              "MAP",
              "BOX",
              "BUILTIN",
              "FUNCTION",
              "UNKNOWN"
            ]
          },
          "typeName": {
            "type": "string"
          },
          "startSourceLocation": {
            "type": "integer",
            "format": "int32"
          },
          "endSourceLocation": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "$ref": "#/components/schemas/BTPIdentifier"
          },
          "type": {
            "$ref": "#/components/schemas/BTPTypeName"
          },
          "atomic": {
            "type": "boolean"
          },
          "documentationType": {
            "type": "string",
            "enum": [
              "FUNCTION",
              "PREDICATE",
              "CONSTANT",
              "ENUM",
              "USER_TYPE",
              "FEATURE_DEFINITION",
              "FILE_HEADER",
              "UNDOCUMENTABLE",
              "UNKNOWN"
            ]
          },
          "spaceBefore": {
            "$ref": "#/components/schemas/BTPSpace"
          },
          "spaceAfter": {
            "$ref": "#/components/schemas/BTPSpace"
          },
          "spaceDefault": {
            "type": "boolean"
          },
          "nodeId": {
            "type": "string"
          },
          "btType": {
            "type": "string"
          }
        }
      },
      "BTPBuiltinIdentifier": {
        "type": "object",
        "properties": {
          "shortDescriptor": {
            "type": "string"
          },
          "identifier": {
            "type": "string"
          },
          "atomic": {
            "type": "boolean"
          },
          "startSourceLocation": {
            "type": "integer",
            "format": "int32"
          },
          "endSourceLocation": {
            "type": "integer",
            "format": "int32"
          },
          "documentationType": {
            "type": "string",
            "enum": [
              "FUNCTION",
              "PREDICATE",
              "CONSTANT",
              "ENUM",
              "USER_TYPE",
              "FEATURE_DEFINITION",
              "FILE_HEADER",
              "UNDOCUMENTABLE",
              "UNKNOWN"
            ]
          },
          "spaceBefore": {
            "$ref": "#/components/schemas/BTPSpace"
          },
          "spaceAfter": {
            "$ref": "#/components/schemas/BTPSpace"
          },
          "spaceDefault": {
            "type": "boolean"
          },
          "nodeId": {
            "type": "string"
          },
          "btType": {
            "type": "string"
          }
        }
      },
      "BTPExpression": {
        "type": "object",
        "properties": {
          "shortDescriptor": {
            "type": "string"
          },
          "atomic": {
            "type": "boolean"
          },
          "startSourceLocation": {
            "type": "integer",
            "format": "int32"
          },
          "endSourceLocation": {
            "type": "integer",
            "format": "int32"
          },
          "documentationType": {
            "type": "string",
            "enum": [
              "FUNCTION",
              "PREDICATE",
              "CONSTANT",
              "ENUM",
              "USER_TYPE",
              "FEATURE_DEFINITION",
              "FILE_HEADER",
              "UNDOCUMENTABLE",
              "UNKNOWN"
            ]
          },
          "spaceBefore": {
            "$ref": "#/components/schemas/BTPSpace"
          },
          "spaceAfter": {
            "$ref": "#/components/schemas/BTPSpace"
          },
          "spaceDefault": {
            "type": "boolean"
          },
          "nodeId": {
            "type": "string"
          },
          "btType": {
            "type": "string"
          }
        },
        "discriminator": {
          "propertyName": "btType",
          "mapping": {
            "BTPExpressionAccess-237": "#/components/schemas/BTPExpressionAccess",
            "BTPExpressionAs-238": "#/components/schemas/BTPExpressionAs",
            "BTPExpressionBuiltinCall-239": "#/components/schemas/BTPExpressionBuiltinCall",
            "BTPExpressionCall-240": "#/components/schemas/BTPExpressionCall",
            "BTPExpressionFunction-1325": "#/components/schemas/BTPExpressionFunction",
            "BTPExpressionGroup-241": "#/components/schemas/BTPExpressionGroup",
            "BTPExpressionIs-242": "#/components/schemas/BTPExpressionIs",
            "BTPExpressionNew-243": "#/components/schemas/BTPExpressionNew",
            "BTPExpressionOperator-244": "#/components/schemas/BTPExpressionOperator",
            "BTPExpressionSwitch-2632": "#/components/schemas/BTPExpressionSwitch",
            "BTPExpressionTry-1271": "#/components/schemas/BTPExpressionTry",
            "BTPExpressionVarReference-245": "#/components/schemas/BTPExpressionVarReference",
            "BTPLiteral-253": "#/components/schemas/BTPLiteral"
          }
        }
      },
      "BTPExpressionAccess": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/BTPExpression"
          },
          {
            "type": "object",
            "properties": {
              "accessor": {
                "$ref": "#/components/schemas/BTPPropertyAccessor"
              },
              "spaceInAccessor": {
                "$ref": "#/components/schemas/BTPSpace"
              },
              "base": {
                "$ref": "#/components/schemas/BTPExpression"
              }
            }
          }
        ]
      },
      "BTPExpressionAs": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/BTPExpression"
          },
          {
            "type": "object",
            "properties": {
              "operand": {
                "$ref": "#/components/schemas/BTPExpression"
              },
              "typeName": {
                "$ref": "#/components/schemas/BTPTypeName"
              }
            }
          }
        ]
      },
      "BTPExpressionBuiltinCall": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/BTPExpression"
          },
          {
            "type": "object",
            "properties": {
              "spaceInEmptyList": {
                "$ref": "#/components/schemas/BTPSpace"
              },
              "name": {
                "$ref": "#/components/schemas/BTPBuiltinIdentifier"
              },
              "arguments": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/BTPExpression"
                }
              }
            }
          }
        ]
      },
      "BTPExpressionCall": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/BTPExpression"
          },
          {
            "type": "object",
            "properties": {
              "functionName": {
                "$ref": "#/components/schemas/BTPName"
              },
              "functionNameString": {
                "type": "string"
              },
              "functionExpression": {
                "$ref": "#/components/schemas/BTPExpression"
              },
              "spaceInEmptyList": {
                "$ref": "#/components/schemas/BTPSpace"
              }
            }
          }
        ]
      },
      "BTPExpressionFunction": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/BTPExpression"
          },
          {
            "type": "object",
            "properties": {
              "spaceInEmptyList": {
                "$ref": "#/components/schemas/BTPSpace"
              },
              "precondition": {
                "$ref": "#/components/schemas/BTPStatement"
              },
              "spaceAfterArglist": {
                "$ref": "#/components/schemas/BTPSpace"
              },
              "spaceAfterFunction": {
                "$ref": "#/components/schemas/BTPSpace"
              },
              "returnType": {
                "$ref": "#/components/schemas/BTPTypeName"
              },
              "body": {
                "$ref": "#/components/schemas/BTPStatementBlock"
              },
              "arguments": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/BTPArgumentDeclaration"
                }
              }
            }
          }
        ]
      },
      "BTPExpressionGroup": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/BTPExpression"
          },
          {
            "type": "object",
            "properties": {
              "content": {
                "$ref": "#/components/schemas/BTPExpression"
              }
            }
          }
        ]
      },
      "BTPExpressionIs": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/BTPExpression"
          },
          {
            "type": "object",
            "properties": {
              "operand": {
                "$ref": "#/components/schemas/BTPExpression"
              },
              "typeName": {
                "$ref": "#/components/schemas/BTPTypeName"
              }
            }
          }
        ]
      },
      "BTPExpressionNew": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/BTPExpression"
          },
          {
            "type": "object",
            "properties": {
              "spaceBetweenNewBox": {
                "$ref": "#/components/schemas/BTPSpace"
              },
              "spaceAfterBox": {
                "$ref": "#/components/schemas/BTPSpace"
              },
              "value": {
                "$ref": "#/components/schemas/BTPExpression"
              }
            }
          }
        ]
      },
      "BTPExpressionOperator": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/BTPExpression"
          },
          {
            "type": "object",
            "properties": {
              "importMicroversion": {
                "type": "string",
                "writeOnly": true
              },
              "forExport": {
                "type": "boolean"
              },
              "operand1": {
                "$ref": "#/components/schemas/BTPExpression"
              },
              "operand2": {
                "$ref": "#/components/schemas/BTPExpression"
              },
              "operand3": {
                "$ref": "#/components/schemas/BTPExpression"
              },
              "globalNamespace": {
                "type": "boolean"
              },
              "writtenAsFunctionCall": {
                "type": "boolean"
              },
              "spaceAfterNamespace": {
                "$ref": "#/components/schemas/BTPSpace"
              },
              "spaceBeforeOperator": {
[...]
