{
  "openapi": "3.0.1",
  "info": {
    "title": "Onshape REST API",
    "description": "The Onshape REST API consumed by all clients.",
    "termsOfService": "http://swagger.io/terms/",
    "contact": {
      "email": "api-support@onshape.zendesk.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "1.133.27428.63074130d61b",
    "x-logo": {
      "backgroundColor": "#ffffff",
      "altText": "Onshape",
      "href": "https://www.onshape.com/",
      "url": "https://demo-c.dev.onshape.com/images/logo-onshape-gray-green.svg"
    },
    "x-filter-info": {
      "includeDeprecated": false,
      "restUserRole": "PUBLIC",
      "includedTags": [],
      "excludedTags": [],
      "documentationStatusesAllowedAndDesired": [
        "PRODUCTION"
      ],
      "desiredDocumentStatuses": []
    }
  },
  "servers": [
    {
      "url": "https://cad.onshape.com/api",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Applications",
      "description": "Manage application settings."
    },
    {
      "name": "Accounts",
      "description": "Modify and access account information."
    },
    {
      "name": "AppElements",
      "description": "Modify, change, and get AppElements."
    },
    {
      "name": "Assemblies",
      "description": "Access and manipulate assembly elements."
    },
    {
      "name": "Billing",
      "description": "Access billing plans for clients."
    },
    {
      "name": "BlobElements",
      "description": "Save and access Blob Elements."
    },
    {
      "name": "Comments",
      "description": "CRUD for comments."
    },
    {
      "name": "Companies",
      "description": "Access company information."
    },
    {
      "name": "Document",
      "description": "Manage documents."
    },
    {
      "name": "Drawings",
      "description": "Access drawing translations."
    },
    {
      "name": "Elements",
      "description": "Access and manipulate Elements."
    },
    {
      "name": "FeatureStudios",
      "description": "Access and write to Feature Studio Elements."
    },
    {
      "name": "Folders",
      "description": "Access Folders."
    },
    {
      "name": "Metadata",
      "description": "Manipulate and access metadata."
    },
    {
      "name": "OpenAPI",
      "description": "Endpoints for getting the OpenAPI specification for the Onshape API."
    },
    {
      "name": "Parts",
      "description": "Get details about specific parts."
    },
    {
      "name": "PartStudios",
      "description": "Modify, change, and get PartStudios."
    },
    {
      "name": "ReleaseManagement",
      "description": "Manage Release Management workflows."
    },
    {
      "name": "Revisions",
      "description": "Access revisions."
    },
    {
      "name": "Teams",
      "description": "Access team details."
    },
    {
      "name": "Thumbnails",
      "description": "Get Thumbnails."
    },
    {
      "name": "Translations",
      "description": "Create and manage translations."
    },
    {
      "name": "Users",
      "description": "Get details about users."
    },
    {
      "name": "Versions",
      "description": "Example of API version management."
    },
    {
      "name": "Webhooks",
      "description": "Create and manage webhooks."
    },
    {
      "name": "Workflow",
      "description": "Access Release Management workflows."
    }
  ],
  "paths": {
    "/api/applications/clients/{cid}/settings/users/{uid}": {
      "get": {
        "tags": [
          "Applications"
        ],
        "summary": "Get User Application Settings",
        "operationId": "getUserAppSettings",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
                "schema": {
                  "$ref": "#/components/schemas/BTUserAppSettingsInfo"
                }
              },
              "application/vnd.onshape.v2+json;charset=UTF-8;qs=0.2": {
                "schema": {
                  "$ref": "#/components/schemas/BTUserAppSettingsInfo"
                }
              },
              "application/json;charset=UTF-8; qs=0.09": {
                "schema": {
                  "$ref": "#/components/schemas/BTUserAppSettingsInfo"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-BTVisibility": "PRODUCTION"
      },
      "post": {
        "tags": [
          "Applications"
        ],
        "summary": "Update Application Settings",
        "operationId": "updateAppSettings",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json;charset=UTF-8; qs=0.09": {
              "schema": {
                "$ref": "#/components/schemas/BTUserAppSettingsParams"
              }
            },
            "application/vnd.onshape.v2+json;charset=UTF-8;qs=0.2": {
              "schema": {
                "$ref": "#/components/schemas/BTUserAppSettingsParams"
              }
            },
            "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
              "schema": {
                "$ref": "#/components/schemas/BTUserAppSettingsParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {},
              "application/vnd.onshape.v2+json;charset=UTF-8;qs=0.2": {},
              "application/json;charset=UTF-8; qs=0.09": {}
            }
          }
        },
        "deprecated": false,
        "x-BTVisibility": "PRODUCTION"
      },
      "delete": {
        "tags": [
          "Applications"
        ],
        "summary": "Delete Application Settings",
        "operationId": "deleteAppSettings",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success!"
          }
        },
        "deprecated": false,
        "x-BTVisibility": "PRODUCTION"
      }
    },
    "/api/applications/clients/{cid}/settings/companies/{cpid}": {
      "get": {
        "tags": [
          "Applications"
        ],
        "operationId": "getCompanyAppSettings",
        "parameters": [
          {
            "name": "cpid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
                "schema": {
                  "$ref": "#/components/schemas/BTUserAppSettingsInfo"
                }
              },
              "application/vnd.onshape.v2+json;charset=UTF-8;qs=0.2": {
                "schema": {
                  "$ref": "#/components/schemas/BTUserAppSettingsInfo"
                }
              },
              "application/json;charset=UTF-8; qs=0.09": {
                "schema": {
                  "$ref": "#/components/schemas/BTUserAppSettingsInfo"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-BTVisibility": "PRODUCTION"
      },
      "post": {
        "tags": [
          "Applications"
        ],
        "operationId": "updateAppCompanySettings",
        "parameters": [
          {
            "name": "cpid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json;charset=UTF-8; qs=0.09": {
              "schema": {
                "$ref": "#/components/schemas/BTUserAppSettingsParams"
              }
            },
            "application/vnd.onshape.v2+json;charset=UTF-8;qs=0.2": {
              "schema": {
                "$ref": "#/components/schemas/BTUserAppSettingsParams"
              }
            },
            "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
              "schema": {
                "$ref": "#/components/schemas/BTUserAppSettingsParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {},
              "application/vnd.onshape.v2+json;charset=UTF-8;qs=0.2": {},
              "application/json;charset=UTF-8; qs=0.09": {}
            }
          }
        },
        "deprecated": false,
        "x-BTVisibility": "PRODUCTION"
      },
      "delete": {
        "tags": [
          "Applications"
        ],
        "operationId": "deleteCompanyAppSettings",
        "parameters": [
          {
            "name": "cpid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {},
              "application/vnd.onshape.v2+json;charset=UTF-8;qs=0.2": {},
              "application/json;charset=UTF-8; qs=0.09": {}
            }
          }
        },
        "deprecated": false,
        "x-BTVisibility": "PRODUCTION"
      }
    },
    "/api/accounts/{aid}/purchases/{pid}": {
      "delete": {
        "tags": [
          "Accounts"
        ],
        "summary": "Cancel Recurring Subscription",
        "operationId": "cancelPurchaseNew",
        "parameters": [
          {
            "name": "aid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cancelImmediately",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {},
              "application/vnd.onshape.v2+json;charset=UTF-8;qs=0.2": {},
              "application/json;charset=UTF-8; qs=0.09": {}
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "OAuth2Purchase"
            ]
          }
        ],
        "x-BTVisibility": "PRODUCTION"
      }
    },
    "/api/accounts/purchases/{pid}/consume": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "Mark Purchase Consumed For User",
        "operationId": "consumePurchase",
        "parameters": [
          {
            "name": "pid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json;charset=UTF-8; qs=0.09": {
              "schema": {
                "$ref": "#/components/schemas/BTPurchaseUserParams"
              }
            },
            "application/vnd.onshape.v2+json;charset=UTF-8;qs=0.2": {
              "schema": {
                "$ref": "#/components/schemas/BTPurchaseUserParams"
              }
            },
            "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
              "schema": {
                "$ref": "#/components/schemas/BTPurchaseUserParams"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
                "schema": {
                  "$ref": "#/components/schemas/BTPurchaseInfo"
                }
              },
              "application/vnd.onshape.v2+json;charset=UTF-8;qs=0.2": {
                "schema": {
                  "$ref": "#/components/schemas/BTPurchaseInfo"
                }
              },
              "application/json;charset=UTF-8; qs=0.09": {
                "schema": {
                  "$ref": "#/components/schemas/BTPurchaseInfo"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "OAuth2Purchase"
            ]
          }
        ],
        "x-BTVisibility": "PRODUCTION"
      }
    },
    "/api/accounts/plans/{planId}/purchases": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get Plan Purchases",
        "operationId": "getPlanPurchases",
        "parameters": [
          {
            "name": "planId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "maximum": 20,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
                "schema": {
                  "$ref": "#/components/schemas/BTListResponseBTPurchaseInfo"
                }
              },
              "application/vnd.onshape.v2+json;charset=UTF-8;qs=0.2": {
                "schema": {
                  "$ref": "#/components/schemas/BTListResponseBTPurchaseInfo"
                }
              },
              "application/json;charset=UTF-8; qs=0.09": {
                "schema": {
                  "$ref": "#/components/schemas/BTListResponseBTPurchaseInfo"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-BTVisibility": "PRODUCTION"
      }
    },
    "/api/accounts/purchases": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get User's Appstore Purchases.",
        "operationId": "getPurchases",
        "parameters": [
          {
            "name": "all",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "ownPurchaseOnly",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BTPurchaseInfo"
                  }
                }
              },
              "application/vnd.onshape.v2+json;charset=UTF-8;qs=0.2": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BTPurchaseInfo"
                  }
                }
              },
              "application/json;charset=UTF-8; qs=0.09": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BTPurchaseInfo"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-BTVisibility": "PRODUCTION"
      }
    },
    "/api/aliases": {
      "get": {
        "operationId": "getAliasesInCompany",
        "parameters": [
          {
            "name": "prefix",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "sortColumn",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "name"
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "asc"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "maximum": 20,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
                "schema": {
                  "$ref": "#/components/schemas/BTListResponseBTAliasInfo"
                }
              },
              "application/vnd.onshape.v2+json;charset=UTF-8;qs=0.2": {
                "schema": {
                  "$ref": "#/components/schemas/BTListResponseBTAliasInfo"
                }
              },
              "application/json;charset=UTF-8; qs=0.09": {
                "schema": {
                  "$ref": "#/components/schemas/BTListResponseBTAliasInfo"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "OAuth2Read"
            ]
          }
        ],
        "x-BTVisibility": "PRODUCTION"
      },
      "post": {
        "operationId": "createAlias",
        "requestBody": {
          "content": {
            "application/json;charset=UTF-8; qs=0.09": {
              "schema": {
                "$ref": "#/components/schemas/BTAliasParams"
              }
            },
            "application/vnd.onshape.v2+json;charset=UTF-8;qs=0.2": {
              "schema": {
                "$ref": "#/components/schemas/BTAliasParams"
              }
            },
            "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
              "schema": {
                "$ref": "#/components/schemas/BTAliasParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
                "schema": {
                  "$ref": "#/components/schemas/BTAliasInfo"
                }
              },
              "application/vnd.onshape.v2+json;charset=UTF-8;qs=0.2": {
                "schema": {
                  "$ref": "#/components/schemas/BTAliasInfo"
                }
              },
              "application/json;charset=UTF-8; qs=0.09": {
                "schema": {
                  "$ref": "#/components/schemas/BTAliasInfo"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "OAuth2Write"
            ]
          }
        ],
        "x-BTVisibility": "PRODUCTION"
      }
    },
    "/api/aliases/{aid}": {
      "get": {
        "operationId": "getAlias",
        "parameters": [
          {
            "name": "aid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
                "schema": {
                  "$ref": "#/components/schemas/BTAliasInfo"
                }
              },
              "application/vnd.onshape.v2+json;charset=UTF-8;qs=0.2": {
                "schema": {
                  "$ref": "#/components/schemas/BTAliasInfo"
                }
              },
              "application/json;charset=UTF-8; qs=0.09": {
                "schema": {
                  "$ref": "#/components/schemas/BTAliasInfo"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "OAuth2Read"
            ]
          }
        ],
        "x-BTVisibility": "PRODUCTION"
      },
      "post": {
        "operationId": "updateAlias",
        "parameters": [
          {
            "name": "aid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json;charset=UTF-8; qs=0.09": {
              "schema": {
                "$ref": "#/components/schemas/BTAliasParams"
              }
            },
            "application/vnd.onshape.v2+json;charset=UTF-8;qs=0.2": {
              "schema": {
                "$ref": "#/components/schemas/BTAliasParams"
              }
            },
            "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
              "schema": {
                "$ref": "#/components/schemas/BTAliasParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
                "schema": {
                  "$ref": "#/components/schemas/BTAliasInfo"
                }
              },
              "application/vnd.onshape.v2+json;charset=UTF-8;qs=0.2": {
                "schema": {
                  "$ref": "#/components/schemas/BTAliasInfo"
                }
              },
              "application/json;charset=UTF-8; qs=0.09": {
                "schema": {
                  "$ref": "#/components/schemas/BTAliasInfo"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "OAuth2Write"
            ]
          }
        ],
        "x-BTVisibility": "PRODUCTION"
      },
      "delete": {
        "operationId": "deleteAlias",
        "parameters": [
          {
            "name": "aid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {},
              "application/vnd.onshape.v2+json;charset=UTF-8;qs=0.2": {},
              "application/json;charset=UTF-8; qs=0.09": {}
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "OAuth2Write"
            ]
          }
        ],
        "x-BTVisibility": "PRODUCTION"
      }
    },
    "/api/aliases/{aid}/members": {
      "get": {
        "operationId": "getAliasMembers",
        "parameters": [
          {
            "name": "aid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "prefix",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "sortColumn",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "name"
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "asc"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "maximum": 20,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
                "schema": {
                  "$ref": "#/components/schemas/BTListResponseBTAliasEntryInfo"
                }
              },
              "application/vnd.onshape.v2+json;charset=UTF-8;qs=0.2": {
                "schema": {
                  "$ref": "#/components/schemas/BTListResponseBTAliasEntryInfo"
                }
              },
              "application/json;charset=UTF-8; qs=0.09": {
                "schema": {
                  "$ref": "#/components/schemas/BTListResponseBTAliasEntryInfo"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "OAuth2Read"
            ]
          }
        ],
        "x-BTVisibility": "PRODUCTION"
      }
    },
    "/api/appelements/d/{did}/w/{wid}/e/{eid}/copyassociativedata": {
      "post": {
        "operationId": "copyAssociativeData",
        "parameters": [
          {
            "name": "did",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json;charset=UTF-8; qs=0.09": {
              "schema": {
                "$ref": "#/components/schemas/BTAppElementParamsArrayBTCopyViewAssociativeDataParams"
              }
            },
            "application/vnd.onshape.v2+json;charset=UTF-8;qs=0.2": {
              "schema": {
                "$ref": "#/components/schemas/BTAppElementParamsArrayBTCopyViewAssociativeDataParams"
              }
            },
            "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
              "schema": {
                "$ref": "#/components/schemas/BTAppElementParamsArrayBTCopyViewAssociativeDataParams"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppAssociativeDataArrayInfo"
                }
              },
              "application/vnd.onshape.v2+json;charset=UTF-8;qs=0.2": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppAssociativeDataArrayInfo"
                }
              },
              "application/json;charset=UTF-8; qs=0.09": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppAssociativeDataArrayInfo"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "OAuth2Write"
            ]
          }
        ],
        "x-BTVisibility": "PRODUCTION"
      }
    },
    "/api/appelements/d/{did}/{wvm}/{wvmid}/e/{eid}/associativedata": {
      "get": {
        "operationId": "getAssociativeData",
        "parameters": [
          {
            "name": "did",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wvm",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wvmid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transactionId",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "changeId",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "associativeDataId",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "elementId",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "viewId",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "microversionId",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "documentMicroversion",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "deterministicId",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "featureId",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "entityId",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "occurrenceId",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "returnIdTags",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppAssociativeDataArrayInfo"
                }
              },
              "application/vnd.onshape.v2+json;charset=UTF-8;qs=0.2": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppAssociativeDataArrayInfo"
                }
              },
              "application/json;charset=UTF-8; qs=0.09": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppAssociativeDataArrayInfo"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "OAuth2Read"
            ]
          }
        ],
        "x-BTVisibility": "PRODUCTION"
      },
      "post": {
        "operationId": "postAssociativeData",
        "parameters": [
          {
            "name": "did",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wvm",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wvmid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json;charset=UTF-8; qs=0.09": {
              "schema": {
                "type": "string"
              }
            },
            "application/vnd.onshape.v2+json;charset=UTF-8;qs=0.2": {
              "schema": {
                "type": "string"
              }
            },
            "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppAssociativeDataArrayInfo"
                }
              },
              "application/vnd.onshape.v2+json;charset=UTF-8;qs=0.2": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppAssociativeDataArrayInfo"
                }
              },
              "application/json;charset=UTF-8; qs=0.09": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppAssociativeDataArrayInfo"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "OAuth2Read",
              "OAuth2Write"
            ]
          }
        ],
        "x-BTVisibility": "PRODUCTION"
      },
      "delete": {
        "operationId": "deleteAssociativeData",
        "parameters": [
          {
            "name": "did",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wvm",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wvmid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transactionId",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "parentChangeId",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "associativeDataId",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "elementId",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "viewId",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "microversionId",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "documentMicroversion",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "deterministicId",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "featureId",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "entityId",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "occurrenceId",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppElementBasicInfo"
                }
              },
              "application/vnd.onshape.v2+json;charset=UTF-8;qs=0.2": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppElementBasicInfo"
                }
              },
              "application/json;charset=UTF-8; qs=0.09": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppElementBasicInfo"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "OAuth2Write"
            ]
          }
        ],
        "x-BTVisibility": "PRODUCTION"
      }
    },
    "/api/appelements/d/{did}/w/{wid}/e/{eid}/transactions/{tid}": {
      "delete": {
        "tags": [
          "AppElements"
        ],
        "summary": "Abort Transaction",
        "operationId": "abortTransaction",
        "parameters": [
          {
            "name": "did",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "returnError",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {},
              "application/vnd.onshape.v2+json;charset=UTF-8;qs=0.2": {},
              "application/json;charset=UTF-8; qs=0.09": {}
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "OAuth2Write"
            ]
          }
        ],
        "x-BTVisibility": "PRODUCTION"
      }
    },
    "/api/appelements/d/{did}/w/{wid}/transactions": {
      "post": {
        "tags": [
          "AppElements"
        ],
        "summary": "Commit Transactions",
        "operationId": "commitTransactions",
        "parameters": [
          {
            "name": "did",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "linkDocumentId",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "wid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json;charset=UTF-8; qs=0.09": {
              "schema": {
                "$ref": "#/components/schemas/BTAppElementCommitTransactionParams"
              }
            },
            "application/vnd.onshape.v2+json;charset=UTF-8;qs=0.2": {
              "schema": {
                "$ref": "#/components/schemas/BTAppElementCommitTransactionParams"
              }
            },
            "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
              "schema": {
                "$ref": "#/components/schemas/BTAppElementCommitTransactionParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppElementModifyInfo"
                }
              },
              "application/vnd.onshape.v2+json;charset=UTF-8;qs=0.2": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppElementModifyInfo"
                }
              },
              "application/json;charset=UTF-8; qs=0.09": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppElementModifyInfo"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "OAuth2Write"
            ]
          }
        ],
        "x-BTVisibility": "PRODUCTION"
      }
    },
    "/api/appelements/d/{did}/{wvm}/{wvmid}/e/{eid}/compare": {
      "get": {
        "tags": [
          "AppElements"
        ],
        "summary": "Compare Json",
        "operationId": "compareAppElementJson",
        "parameters": [
          {
            "name": "did",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wvm",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wvmid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workspaceId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "versionId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "microversionId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "linkDocumentId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "jsonDifferenceFormat",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
                "schema": {
                  "$ref": "#/components/schemas/BTDiffJsonResponse-2725"
                }
              },
              "application/vnd.onshape.v2+json;charset=UTF-8;qs=0.2": {
                "schema": {
                  "$ref": "#/components/schemas/BTDiffJsonResponse-2725"
                }
              },
              "application/json;charset=UTF-8; qs=0.09": {
                "schema": {
                  "$ref": "#/components/schemas/BTDiffJsonResponse-2725"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "OAuth2Read"
            ]
          }
        ],
        "x-BTVisibility": "PRODUCTION"
      }
    },
    "/api/appelements/d/{did}/w/{wid}": {
      "post": {
        "tags": [
          "AppElements"
        ],
        "summary": "Create App Element",
        "operationId": "createElement",
        "parameters": [
          {
            "name": "did",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json;charset=UTF-8; qs=0.09": {
              "schema": {
                "$ref": "#/components/schemas/BTAppElementParams"
              }
            },
            "application/vnd.onshape.v2+json;charset=UTF-8;qs=0.2": {
              "schema": {
                "$ref": "#/components/schemas/BTAppElementParams"
              }
            },
            "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
              "schema": {
                "$ref": "#/components/schemas/BTAppElementParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppElementModifyInfo"
                }
              },
              "application/vnd.onshape.v2+json;charset=UTF-8;qs=0.2": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppElementModifyInfo"
                }
              },
              "application/json;charset=UTF-8; qs=0.09": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppElementModifyInfo"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "OAuth2Write"
            ]
          }
        ],
        "x-BTVisibility": "PRODUCTION"
      }
    },
    "/api/appelements/d/{did}/{wvm}/{wvmid}/e/{eid}/references": {
      "post": {
        "tags": [
          "AppElements"
        ],
        "summary": "Create Reference",
        "operationId": "createReference",
        "parameters": [
          {
            "name": "did",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wvm",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wvmid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json;charset=UTF-8; qs=0.09": {
              "schema": {
                "$ref": "#/components/schemas/BTAppElementReferenceParams"
              }
            },
            "application/vnd.onshape.v2+json;charset=UTF-8;qs=0.2": {
              "schema": {
                "$ref": "#/components/schemas/BTAppElementReferenceParams"
              }
            },
            "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
              "schema": {
                "$ref": "#/components/schemas/BTAppElementReferenceParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppElementReferenceInfo"
                }
              },
              "application/vnd.onshape.v2+json;charset=UTF-8;qs=0.2": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppElementReferenceInfo"
                }
              },
              "application/json;charset=UTF-8; qs=0.09": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppElementReferenceInfo"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "OAuth2Write",
              "OAuth2Read"
            ]
          }
        ],
        "x-BTVisibility": "PRODUCTION"
      }
    },
    "/api/appelements/d/{did}/{wvm}/{wvmid}/e/{eid}/content/subelements/{sid}": {
      "delete": {
        "tags": [
          "AppElements"
        ],
        "summary": "Delete a Subelement",
        "operationId": "deleteAppElementContent",
        "parameters": [
          {
            "name": "did",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wvm",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wvmid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transactionId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "parentChangeId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "description",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppElementModifyInfo"
                }
              },
              "application/vnd.onshape.v2+json;charset=UTF-8;qs=0.2": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppElementModifyInfo"
                }
              },
              "application/json;charset=UTF-8; qs=0.09": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppElementModifyInfo"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "OAuth2Write"
            ]
          }
        ],
        "x-BTVisibility": "PRODUCTION"
      }
    },
    "/api/appelements/d/{did}/w/{wid}/e/{eid}/blob/{bid}": {
      "get": {
        "tags": [
          "AppElements"
        ],
        "operationId": "downloadBlobSubelementWorkspace",
        "parameters": [
          {
            "name": "did",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contentDisposition",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-None-Match",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transactionId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "changeId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "File download.",
            "content": {
              "application/vnd.onshape.v1+octet-stream;charset=UTF-8;qs=0.1": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/json;charset=UTF-8; qs=0.09": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "OAuth2Read"
            ]
          }
        ],
        "x-BTVisibility": "PRODUCTION"
      },
      "post": {
        "tags": [
          "AppElements"
        ],
        "summary": "Upload Blob Subelement",
        "operationId": "uploadBlobSubelement",
        "parameters": [
          {
            "name": "did",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "transactionId": {
                    "type": "string"
                  },
                  "parentChangeId": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "file": {
                    "type": "object",
                    "description": "File to upload.",
                    "format": "binary"
                  },
                  "fileContentLength": {
                    "type": "integer",
                    "format": "int64",
                    "default": -1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppElementModifyInfo"
                }
              },
              "application/vnd.onshape.v2+json;charset=UTF-8;qs=0.2": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppElementModifyInfo"
                }
              },
              "application/json;charset=UTF-8; qs=0.09": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppElementModifyInfo"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "OAuth2Write"
            ]
          }
        ],
        "x-BTVisibility": "PRODUCTION"
      },
      "delete": {
        "tags": [
          "AppElements"
        ],
        "summary": "Delete Blob Subelement",
        "operationId": "deleteBlobSubelement",
        "parameters": [
          {
            "name": "did",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transactionId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "changeId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppElementModifyInfo"
                }
              },
              "application/vnd.onshape.v2+json;charset=UTF-8;qs=0.2": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppElementModifyInfo"
                }
              },
              "application/json;charset=UTF-8; qs=0.09": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppElementModifyInfo"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "OAuth2Write"
            ]
          }
        ],
        "x-BTVisibility": "PRODUCTION"
      }
    },
    "/api/appelements/d/{did}/{wvm}/{wvmid}/e/{eid}/references/{rid}": {
      "get": {
        "tags": [
          "AppElements"
        ],
        "summary": "Resolve Reference",
        "operationId": "resolveReference",
        "parameters": [
          {
            "name": "did",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wvm",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wvmid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transactionId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "parentChangeId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeInternal",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "linkDocumentId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppElementReferenceResolveInfo"
                }
              },
              "application/vnd.onshape.v2+json;charset=UTF-8;qs=0.2": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppElementReferenceResolveInfo"
                }
              },
              "application/json;charset=UTF-8; qs=0.09": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppElementReferenceResolveInfo"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "OAuth2Read"
            ]
          }
        ],
        "x-BTVisibility": "PRODUCTION"
      },
      "post": {
        "tags": [
          "AppElements"
        ],
        "summary": "Update Reference",
        "operationId": "updateReference",
        "parameters": [
          {
            "name": "did",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wvm",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wvmid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json;charset=UTF-8; qs=0.09": {
              "schema": {
                "$ref": "#/components/schemas/BTAppElementReferenceParams"
              }
            },
            "application/vnd.onshape.v2+json;charset=UTF-8;qs=0.2": {
              "schema": {
                "$ref": "#/components/schemas/BTAppElementReferenceParams"
              }
            },
            "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
              "schema": {
                "$ref": "#/components/schemas/BTAppElementReferenceParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppElementReferenceInfo"
                }
              },
              "application/vnd.onshape.v2+json;charset=UTF-8;qs=0.2": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppElementReferenceInfo"
                }
              },
              "application/json;charset=UTF-8; qs=0.09": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppElementReferenceInfo"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "OAuth2Write",
              "OAuth2Read"
            ]
          }
        ],
        "x-BTVisibility": "PRODUCTION"
      },
      "delete": {
        "tags": [
          "AppElements"
        ],
        "summary": "Delete Reference",
        "operationId": "deleteReference",
        "parameters": [
          {
            "name": "did",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wvm",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wvmid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transactionId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "parentChangeId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "description",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppElementReferenceInfo"
                }
              },
              "application/vnd.onshape.v2+json;charset=UTF-8;qs=0.2": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppElementReferenceInfo"
                }
              },
              "application/json;charset=UTF-8; qs=0.09": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppElementReferenceInfo"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "OAuth2Write"
            ]
          }
        ],
        "x-BTVisibility": "PRODUCTION"
      }
    },
    "/api/appelements/d/{did}/{vm}/{vmid}/e/{eid}/blob/{bid}": {
      "get": {
        "tags": [
          "AppElements"
        ],
        "summary": "Download Blob Subelement",
        "operationId": "downloadBlobSubelement",
        "parameters": [
          {
            "name": "did",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vm",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vmid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contentDisposition",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-None-Match",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transactionId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "changeId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "linkDocumentId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "File download.",
            "content": {
              "application/vnd.onshape.v1+octet-stream;charset=UTF-8;qs=0.1": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/json;charset=UTF-8; qs=0.09": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "OAuth2Read"
            ]
          }
        ],
        "x-BTVisibility": "PRODUCTION"
      }
    },
    "/api/appelements/d/{did}/{wvm}/{wvmid}/e/{eid}/content/history": {
      "get": {
        "tags": [
          "AppElements"
        ],
        "summary": "Get History",
        "operationId": "getAppElementHistory",
        "parameters": [
          {
            "name": "did",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wvm",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wvmid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppElementHistoryInfo"
                }
              },
              "application/vnd.onshape.v2+json;charset=UTF-8;qs=0.2": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppElementHistoryInfo"
                }
              },
              "application/json;charset=UTF-8; qs=0.09": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppElementHistoryInfo"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "OAuth2Read"
            ]
          }
        ],
        "x-BTVisibility": "PRODUCTION"
      }
    },
    "/api/appelements/d/{did}/{wvm}/{wvmid}/e/{eid}/blob": {
      "get": {
        "tags": [
          "AppElements"
        ],
        "summary": "Get Blob Subelement IDs",
        "operationId": "getBlobSubelementIds",
        "parameters": [
          {
            "name": "did",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wvm",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wvmid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transactionId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "changeId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppElementIdsInfo"
                }
              },
              "application/vnd.onshape.v2+json;charset=UTF-8;qs=0.2": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppElementIdsInfo"
                }
              },
              "application/json;charset=UTF-8; qs=0.09": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppElementIdsInfo"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "OAuth2Read"
            ]
          }
        ],
        "x-BTVisibility": "PRODUCTION"
      }
    },
    "/api/appelements/d/{did}/w/{wid}/e/{eid}/transactions": {
      "get": {
        "tags": [
          "AppElements"
        ],
        "summary": "List App Element Transactions",
        "operationId": "getElementTransactions",
        "parameters": [
          {
            "name": "did",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppElementTransactionsInfo"
                }
              },
              "application/vnd.onshape.v2+json;charset=UTF-8;qs=0.2": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppElementTransactionsInfo"
                }
              },
              "application/json;charset=UTF-8; qs=0.09": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppElementTransactionsInfo"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "OAuth2Read"
            ]
          }
        ],
        "x-BTVisibility": "PRODUCTION"
      },
      "post": {
        "tags": [
          "AppElements"
        ],
        "summary": "Start App Element Transaction",
        "operationId": "startTransaction",
        "parameters": [
          {
            "name": "did",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json;charset=UTF-8; qs=0.09": {
              "schema": {
                "$ref": "#/components/schemas/BTAppElementStartTransactionParams"
              }
            },
            "application/vnd.onshape.v2+json;charset=UTF-8;qs=0.2": {
              "schema": {
                "$ref": "#/components/schemas/BTAppElementStartTransactionParams"
              }
            },
            "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
              "schema": {
                "$ref": "#/components/schemas/BTAppElementStartTransactionParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppElementModifyInfo"
                }
              },
              "application/vnd.onshape.v2+json;charset=UTF-8;qs=0.2": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppElementModifyInfo"
                }
              },
              "application/json;charset=UTF-8; qs=0.09": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppElementModifyInfo"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "OAuth2Write"
            ]
          }
        ],
        "x-BTVisibility": "PRODUCTION"
      }
    },
    "/api/appelements/d/{did}/{wvm}/{wvmid}/e/{eid}/content/json": {
      "get": {
        "tags": [
          "AppElements"
        ],
        "summary": "Get Json",
        "operationId": "getJson",
        "parameters": [
          {
            "name": "did",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wvm",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wvmid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transactionId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "changeId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
                "schema": {
                  "$ref": "#/components/schemas/BTGetJsonResponse-2137"
                }
              },
              "application/vnd.onshape.v2+json;charset=UTF-8;qs=0.2": {
                "schema": {
                  "$ref": "#/components/schemas/BTGetJsonResponse-2137"
                }
              },
              "application/json;charset=UTF-8; qs=0.09": {
                "schema": {
                  "$ref": "#/components/schemas/BTGetJsonResponse-2137"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "OAuth2Read"
            ]
          }
        ],
        "x-BTVisibility": "PRODUCTION"
      }
    },
    "/api/appelements/d/{did}/{wvm}/{wvmid}/e/{eid}/content/jsonpaths": {
      "post": {
        "tags": [
          "AppElements"
        ],
        "summary": "Get Json Paths",
        "operationId": "getJsonPaths",
        "parameters": [
          {
            "name": "did",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wvm",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wvmid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transactionId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "changeId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json;charset=UTF-8; qs=0.09": {
              "schema": {
                "$ref": "#/components/schemas/BTGetJsonPaths-1697"
              }
            },
            "application/vnd.onshape.v2+json;charset=UTF-8;qs=0.2": {
              "schema": {
                "$ref": "#/components/schemas/BTGetJsonPaths-1697"
              }
            },
            "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
              "schema": {
                "$ref": "#/components/schemas/BTGetJsonPaths-1697"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
                "schema": {
                  "$ref": "#/components/schemas/BTGetJsonPathsResponse-1544"
                }
              },
              "application/vnd.onshape.v2+json;charset=UTF-8;qs=0.2": {
                "schema": {
                  "$ref": "#/components/schemas/BTGetJsonPathsResponse-1544"
                }
              },
              "application/json;charset=UTF-8; qs=0.09": {
                "schema": {
                  "$ref": "#/components/schemas/BTGetJsonPathsResponse-1544"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "OAuth2Read"
            ]
          }
        ],
        "x-BTVisibility": "PRODUCTION"
      }
    },
    "/api/appelements/d/{did}/{wvm}/{wvmid}/e/{eid}/content": {
      "get": {
        "tags": [
          "AppElements"
        ],
        "summary": "Get Subelement Content",
        "operationId": "getSubElementContent",
        "parameters": [
          {
            "name": "did",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wvm",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wvmid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transactionId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "changeId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "baseChangeId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subelementId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "linkDocumentId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppElementContentInfo"
                }
              },
              "application/vnd.onshape.v2+json;charset=UTF-8;qs=0.2": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppElementContentInfo"
                }
              },
              "application/json;charset=UTF-8; qs=0.09": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppElementContentInfo"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "OAuth2Read"
            ]
          }
        ],
        "x-BTVisibility": "PRODUCTION"
      },
      "post": {
        "tags": [
          "AppElements"
        ],
        "summary": "Update App Element",
        "operationId": "updateAppElement",
        "parameters": [
          {
            "name": "did",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wvm",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wvmid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json;charset=UTF-8; qs=0.09": {
              "schema": {
                "$ref": "#/components/schemas/BTAppElementUpdateParams"
              }
            },
            "application/vnd.onshape.v2+json;charset=UTF-8;qs=0.2": {
              "schema": {
                "$ref": "#/components/schemas/BTAppElementUpdateParams"
              }
            },
            "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
              "schema": {
                "$ref": "#/components/schemas/BTAppElementUpdateParams"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppElementModifyInfo"
                }
              },
              "application/vnd.onshape.v2+json;charset=UTF-8;qs=0.2": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppElementModifyInfo"
                }
              },
              "application/json;charset=UTF-8; qs=0.09": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppElementModifyInfo"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "OAuth2Read",
              "OAuth2Write"
            ]
          }
        ],
        "x-BTVisibility": "PRODUCTION"
      }
    },
    "/api/appelements/d/{did}/{wvm}/{wvmid}/e/{eid}/content/ids": {
      "get": {
        "tags": [
          "AppElements"
        ],
        "summary": "Get Subelement IDs",
        "operationId": "getSubelementIds",
        "parameters": [
          {
            "name": "did",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wvm",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wvmid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transactionId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "changeId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppElementIdsInfo"
                }
              },
              "application/vnd.onshape.v2+json;charset=UTF-8;qs=0.2": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppElementIdsInfo"
                }
              },
              "application/json;charset=UTF-8; qs=0.09": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppElementIdsInfo"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "OAuth2Read"
            ]
          }
        ],
        "x-BTVisibility": "PRODUCTION"
      }
    },
    "/api/appelements/d/{did}/{wvm}/{wvmid}/e/{eid}/resolvereferences": {
      "get": {
        "tags": [
          "AppElements"
        ],
        "summary": "Resolve references.",
        "operationId": "resolveReferences",
        "parameters": [
          {
            "name": "did",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wvm",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wvmid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transactionId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "parentChangeId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeInternal",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "linkDocumentId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "referenceIds",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppElementReferencesResolveInfo"
                }
              },
              "application/vnd.onshape.v2+json;charset=UTF-8;qs=0.2": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppElementReferencesResolveInfo"
                }
              },
              "application/json;charset=UTF-8; qs=0.09": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppElementReferencesResolveInfo"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "OAuth2Read"
            ]
          }
        ],
        "x-BTVisibility": "PRODUCTION"
      }
    },
    "/api/assemblies/d/{did}/{wvm}/{wvmid}/e/{eid}/features": {
      "get": {
        "tags": [
          "Assemblies"
        ],
        "summary": "Get Feature List",
        "operationId": "getFeatures",
        "parameters": [
          {
            "name": "did",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wvm",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wvmid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "featureId",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "linkDocumentId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
[...]
