{"openapi":"3.0.1","info":{"title":"Onshape REST API","description":"The Onshape REST API consumed by all clients.","termsOfService":"http://swagger.io/terms/","contact":{"email":"api-support@onshape.zendesk.com"},"license":{"name":"Apache 2.0","url":"http://www.apache.org/licenses/LICENSE-2.0.html"},"version":"1.97","x-logo":{"backgroundColor":"#ffffff","altText":"Onshape","href":"https://www.onshape.com/","url":"https://cad.onshape.com/images/onshape_logo_medium.png"}},"servers":[{"url":"https://cad.onshape.com","description":"Production"},{"url":"http://localhost.dev.onshape.com:8080","description":"Development"},{"url":"https://demo-c.dev.onshape.com","description":"Demo-c"}],"tags":[{"name":"Accounts","description":"Modify and access account information."},{"name":"App Elements","description":"Save and manage application state."},{"name":"Assemblies","description":"Access and manipulate assembly elements."},{"name":"BlobElements","description":"Save and access Blob Elements."},{"name":"Documents","description":"Manage documents."},{"name":"Drawings","description":"Access drawing translations."},{"name":"Elements","description":"Access and manipulate Elements."},{"name":"Endpoints","description":"Get the Onshape serialization of all endpoints."},{"name":"Metadata","description":"Manipulate and access metadata."},{"name":"Parts","description":"Get details about specific parts."},{"name":"PartStudios","description":"Modify, change, and get PartStudios."},{"name":"Translations","description":"Create and manage translations."}],"paths":{"/api/appelements/d/{did}/w/{wid}":{"post":{"tags":["App Elements"],"summary":"Create Element.","operationId":"create_7","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/BTAppElementParams"}}},"required":true},"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BTAppElementModifyInfo"}}}}},"security":[{"OAuth2":["OAuth2Write"]}],"x-BTVisibility":"PRODUCTION"}},"/api/appelements/d/{did}/{wvm}/{wvmid}/e/{eid}/content/ids":{"get":{"tags":["App Elements"],"summary":"Get Sub-element IDs","operationId":"getSubelementIds","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvm","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvmid","in":"path","required":true,"schema":{"type":"string"}},{"name":"transactionId","in":"query","schema":{"type":"string"}},{"name":"changeId","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BTAppElementModifyInfo"}}}}},"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"}},"/api/appelements/d/{did}/w/{wid}/e/{eid}/transactions":{"post":{"tags":["App Elements"],"summary":"Start Transaction","operationId":"startTransaction","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}},{"name":"wid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/BTAppElementStartTransactionParams"}}},"required":true},"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BTAppElementModifyInfo"}}}}},"security":[{"OAuth2":["OAuth2Write"]}],"x-BTVisibility":"PRODUCTION"}},"/api/appelements/d/{did}/{wvm}/{wvmid}/e/{eid}/content/history":{"get":{"tags":["App Elements"],"summary":"Get History","operationId":"getHistory","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvm","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvmid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BTAppElementHistoryInfo"}}}}},"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"}},"/api/assemblies/d/{did}/{wvm}/{wvmid}/e/{eid}/boundingboxes":{"get":{"tags":["Assemblies"],"operationId":"getBoundingBoxes","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvm","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvmid","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}},{"name":"linkDocumentId","in":"query","schema":{"type":"string"}},{"name":"includeHidden","in":"query","schema":{"type":"boolean"}},{"name":"displayStateId","in":"query","schema":{"type":"string"}},{"name":"configuration","in":"query","schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8; qs=0.1":{},"application/json;charset=UTF-8; qs=0.9":{}}}},"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"}},"/api/assemblies/d/{did}/{wvm}/{wvmid}/e/{eid}/shadedviews":{"get":{"tags":["Assemblies"],"operationId":"getShadedViews_3","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvm","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvmid","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}},{"name":"linkDocumentId","in":"query","schema":{"type":"string"}},{"name":"viewMatrix","in":"query","schema":{"type":"string","default":"front"}},{"name":"outputHeight","in":"query","schema":{"type":"integer","format":"int32","default":500}},{"name":"outputWidth","in":"query","schema":{"type":"integer","format":"int32","default":500}},{"name":"pixelSize","in":"query","schema":{"type":"number","format":"double","default":0.003}},{"name":"edges","in":"query","schema":{"type":"string","default":"show"}},{"name":"showAllParts","in":"query","schema":{"type":"boolean","default":false}},{"name":"includeSurfaces","in":"query","schema":{"type":"boolean","default":true}},{"name":"useAntiAliasing","in":"query","schema":{"type":"boolean","default":false}},{"name":"displayStateId","in":"query","schema":{"type":"string"}},{"name":"configuration","in":"query","schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8; qs=0.1":{},"application/json;charset=UTF-8; qs=0.9":{}}}},"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"}},"/api/assemblies/d/{did}/{wvm}/{wvmid}/e/{eid}/bom":{"get":{"tags":["Assemblies"],"operationId":"getBillOfMaterials_1","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvm","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvmid","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}},{"name":"metadataWorkspaceId","in":"query","schema":{"type":"string","default":""}},{"name":"bomColumnIds","in":"query","schema":{"type":"array","items":{"type":"string"}}},{"name":"indented","in":"query","schema":{"type":"boolean","default":true}},{"name":"multiLevel","in":"query","schema":{"type":"boolean","default":false}},{"name":"generateIfAbsent","in":"query","schema":{"type":"boolean","default":false}},{"name":"linkDocumentId","in":"query","schema":{"type":"string"}},{"name":"configuration","in":"query","schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8; qs=0.1":{},"application/json;charset=UTF-8; qs=0.9":{}}}},"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"}},"/api/assemblies/d/{did}/{wvm}/{wvmid}/e/{eid}":{"get":{"tags":["Assemblies"],"operationId":"getAssemblyDefinition_1","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvm","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvmid","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}},{"name":"linkDocumentId","in":"query","schema":{"type":"string"}},{"name":"includeMateFeatures","in":"query","schema":{"type":"boolean"}},{"name":"includeNonSolids","in":"query","schema":{"type":"boolean"}},{"name":"includeMateConnectors","in":"query","schema":{"type":"boolean"}},{"name":"configuration","in":"query","schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8; qs=0.1":{},"application/json;charset=UTF-8; qs=0.9":{}}}},"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"}},"/api/assemblies/d/{did}/w/{wid}":{"post":{"tags":["Assemblies"],"operationId":"createAssembly","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/BTModelElementParams"}}},"required":true},"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8; qs=0.1":{},"application/json;charset=UTF-8; qs=0.9":{}}}},"security":[{"OAuth2":["OAuth2Write"]}],"x-BTVisibility":"PRODUCTION"}},"/api/assemblies/d/{did}/w/{wid}/e/{eid}/bomelement":{"post":{"tags":["Assemblies"],"operationId":"getOrCreateBillOfMaterialsElement","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wid","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8; qs=0.1":{},"application/json;charset=UTF-8; qs=0.9":{}}}},"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"}},"/api/assemblies/d/{did}/w/{wid}/e/{eid}/instances":{"post":{"tags":["Assemblies"],"operationId":"createInstance_1","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wid","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/BTAssemblyInstanceDefinitionParams"}}},"required":true},"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8; qs=0.1":{},"application/json;charset=UTF-8; qs=0.9":{}}}},"security":[{"OAuth2":["OAuth2Read","OAuth2Write"]}],"x-BTVisibility":"PRODUCTION"}},"/api/assemblies/d/{did}/w/{wid}/e/{eid}/instance/nodeid/{nid}":{"delete":{"tags":["Assemblies"],"operationId":"deleteInstance_1","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}},{"name":"wid","in":"path","required":true,"schema":{"type":"string"}},{"name":"nid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8; qs=0.1":{},"application/json;charset=UTF-8; qs=0.9":{}}}},"security":[{"OAuth2":["OAuth2Write"]}],"x-BTVisibility":"PRODUCTION"}},"/api/assemblies/d/{did}/{wvm}/{wvmid}/e/{eid}/features":{"get":{"tags":["Assemblies"],"operationId":"getFeatures_2","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvm","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvmid","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}},{"name":"featureId","in":"query","schema":{"type":"array","items":{"type":"string"}}},{"name":"linkDocumentId","in":"query","schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8; qs=0.1":{},"application/json;charset=UTF-8; qs=0.9":{}}}},"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"},"post":{"tags":["Assemblies"],"operationId":"addFeature","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvm","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvmid","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json;charset=UTF-8":{"schema":{"type":"string"}}}},"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8; qs=0.1":{},"application/json;charset=UTF-8; qs=0.9":{}}}},"security":[{"OAuth2":["OAuth2Write"]}],"x-BTVisibility":"PRODUCTION"}},"/api/assemblies/d/{did}/w/{wid}/e/{eid}/features/featureid/{fid}":{"post":{"tags":["Assemblies"],"operationId":"updateFeature_2","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wid","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}},{"name":"fid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json;charset=UTF-8":{"schema":{"type":"string"}}}},"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8; qs=0.1":{},"application/json;charset=UTF-8; qs=0.9":{}}}},"security":[{"OAuth2":["OAuth2Write"]}],"x-BTVisibility":"PRODUCTION"},"delete":{"tags":["Assemblies"],"operationId":"deleteFeature_2","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wid","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}},{"name":"fid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8; qs=0.1":{},"application/json;charset=UTF-8; qs=0.9":{}}}},"security":[{"OAuth2":["OAuth2Write"]}],"x-BTVisibility":"PRODUCTION"}},"/api/assemblies/d/{did}/{wvm}/{wvmid}/e/{eid}/featurespecs":{"get":{"tags":["Assemblies"],"operationId":"getFeatureSpecs_3","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvm","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvmid","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8; qs=0.1":{},"application/json;charset=UTF-8; qs=0.9":{}}}},"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"}},"/api/assemblies/d/{did}/w/{wid}/e/{eid}/transformedinstances":{"post":{"tags":["Assemblies"],"operationId":"insertTransformedInstances","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}},{"name":"wid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/BTAssemblyTransformedInstancesDefinitionParams"}}},"required":true},"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8; qs=0.1":{},"application/json;charset=UTF-8; qs=0.9":{}}}},"security":[{"OAuth2":["OAuth2Read","OAuth2Write"]}],"x-BTVisibility":"PRODUCTION"}},"/api/assemblies/d/{did}/w/{wid}/e/{eid}/occurrencetransforms":{"post":{"tags":["Assemblies"],"operationId":"transformOccurrences","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}},{"name":"wid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/BTAssemblyTransformDefinitionParams"}}},"required":true},"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8; qs=0.1":{},"application/json;charset=UTF-8; qs=0.9":{}}}},"security":[{"OAuth2":["OAuth2Read","OAuth2Write"]}],"x-BTVisibility":"PRODUCTION"}},"/api/blobelements/d/{did}/w/{wid}":{"post":{"tags":["BlobElements"],"operationId":"uploadFileCreateElement","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/FormDataMultiPart"}}},"required":true},"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8; qs=0.1":{},"application/json;charset=UTF-8; qs=0.9":{}}}},"security":[{"OAuth2":["OAuth2Write"]}],"x-BTVisibility":"PRODUCTION"}},"/api/elements/d/{did}/w/{wid}/e/{eid}/updatereferences":{"post":{"tags":["Elements"],"operationId":"updateReferences_1","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wid","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/BTUpdateReferenceParams"}}},"required":true},"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8; qs=0.1":{},"application/json;charset=UTF-8; qs=0.9":{}}}},"security":[{"OAuth2":["OAuth2Read","OAuth2Write"]}],"x-BTVisibility":"PRODUCTION"}},"/api/elements/d/{did}/w/{wid}/e/{eid}":{"delete":{"tags":["Elements"],"operationId":"delete_8","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wid","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8; qs=0.1":{},"application/json;charset=UTF-8; qs=0.9":{}}}},"security":[{"OAuth2":["OAuth2Delete"]}],"x-BTVisibility":"PRODUCTION"}},"/api/partstudios/d/{did}/{wvm}/{wvmid}/e/{eid}/configuration":{"get":{"tags":["PartStudios"],"summary":"Get Configuration","operationId":"getConfiguration_4","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvm","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvmid","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success!"}},"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"},"post":{"tags":["PartStudios"],"summary":"Update Configuration","operationId":"updateConfiguration_3","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvm","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvmid","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json;charset=UTF-8":{"schema":{"type":"string"}}}},"responses":{"200":{"description":"Success!"}},"security":[{"OAuth2":["OAuth2Write"]}],"x-BTVisibility":"PRODUCTION"}},"/api/partstudios/d/{did}/{wvm}/{wvmid}/e/{eid}/features":{"get":{"tags":["PartStudios"],"summary":"Get Feature List","operationId":"getFeatures","parameters":[{"name":"did","in":"path","description":"Document ID.","required":true,"schema":{"type":"string"}},{"name":"wvm","in":"path","description":"One of w or v or m corresponding to whether a workspace or version or microversion was entered.","required":true,"schema":{"type":"string"}},{"name":"wvmid","in":"path","description":"Workspace (w), Version (v) or Microversion (m) ID.","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","description":"Element ID.","required":true,"schema":{"type":"string"}},{"name":"featureId","in":"query","description":"ID of a feature; repeat query param to add more than one","schema":{"type":"array","items":{"type":"string"}}},{"name":"linkDocumentId","in":"query","description":"Id of document that links to the document being accessed. This may provide additional access rights to the document. Allowed only with version (v) path parameter.","schema":{"type":"string"}},{"name":"noSketchGeometry","in":"query","description":"Whether or not to output simple sketch info without geometry","schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"Success!","content":{"application/vnd.onshape.v2+json;charset=UTF-8; qs=0.2":{"schema":{"$ref":"#/components/schemas/BTFeatureListResponse"}}}}},"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"},"post":{"tags":["PartStudios"],"summary":"Add Feature","operationId":"addFeature_1","parameters":[{"name":"did","in":"path","description":"Document ID.","required":true,"schema":{"type":"string"}},{"name":"wvm","in":"path","description":"One of w or v or m corresponding to whether a workspace or version or microversion was entered.","required":true,"schema":{"type":"string"}},{"name":"wvmid","in":"path","description":"Workspace (w), Version (v) or Microversion (m) ID.","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","description":"Element ID.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"feature The serialized feature definition","content":{"application/json;charset=UTF-8":{"schema":{"type":"string"}}}},"responses":{"200":{"description":"Success!","content":{"application/vnd.onshape.v2+json;charset=UTF-8; qs=0.2":{"schema":{"$ref":"#/components/schemas/BTFeatureDefinitionResponse"}}}}},"security":[{"OAuth2":["OAuth2Write"]}],"x-BTVisibility":"PRODUCTION"}},"/api/partstudios/d/{did}/w/{wid}/e/{eid}/features/featureid/{fid}":{"post":{"tags":["PartStudios"],"summary":"Update Feature","operationId":"updateFeature","parameters":[{"name":"did","in":"path","description":"Document ID.","required":true,"schema":{"type":"string"}},{"name":"wid","in":"path","description":"Workspace ID.","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","description":"Element ID.","required":true,"schema":{"type":"string"}},{"name":"fid","in":"path","description":"The id of the feature being updated.  This id should be URL encoded and must match the featureId found in the serialized structure","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"feature The serialized feature definition","content":{"application/json;charset=UTF-8":{"schema":{"type":"string"}}}},"responses":{"200":{"description":"Success!"}},"security":[{"OAuth2":["OAuth2Write"]}],"x-BTVisibility":"PRODUCTION"},"delete":{"tags":["PartStudios"],"summary":"Delete Feature","operationId":"deleteFeature","parameters":[{"name":"did","in":"path","description":"Document ID.","required":true,"schema":{"type":"string"}},{"name":"wid","in":"path","description":"Workspace ID.","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","description":"Element ID.","required":true,"schema":{"type":"string"}},{"name":"fid","in":"path","description":"The id of the feature being updated.  This id should be URL encoded and must match the featureId found in the serialized structure","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success!"}},"security":[{"OAuth2":["OAuth2Write"]}],"x-BTVisibility":"PRODUCTION"}},"/api/partstudios/d/{did}/{wvm}/{wvmid}/e/{eid}/featurespecs":{"get":{"tags":["PartStudios"],"summary":"Get Feature Specs","operationId":"getFeatureSpecs","parameters":[{"name":"did","in":"path","description":"Document ID.","required":true,"schema":{"type":"string"}},{"name":"wvm","in":"path","description":"One of w or v or m corresponding to whether a workspace or version or microversion was entered.","required":true,"schema":{"type":"string"}},{"name":"wvmid","in":"path","description":"Workspace (w), Version (v) or Microversion (m) ID.","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","description":"Element ID.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success!"}},"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"}},"/api/partstudios/d/{did}/w/{wid}/e/{eid}/features/updates":{"post":{"tags":["PartStudios"],"summary":"Update Features","operationId":"updateFeatures_1","parameters":[{"name":"did","in":"path","description":"Document ID.","required":true,"schema":{"type":"string"}},{"name":"wid","in":"path","description":"Workspace ID.","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","description":"Element ID.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"feature The serialized feature definition","content":{"application/json;charset=UTF-8":{"schema":{"type":"string"}}}},"responses":{"200":{"description":"Success!"}},"security":[{"OAuth2":["OAuth2Write"]}],"x-BTVisibility":"PRODUCTION"}},"/api/partstudios/d/{did}/w/{wid}/e/{eid}/features/rollback":{"post":{"tags":["PartStudios"],"summary":"Update Feature Rollback","operationId":"updateRollback","parameters":[{"name":"did","in":"path","description":"Document ID.","required":true,"schema":{"type":"string"}},{"name":"wid","in":"path","description":"Workspace ID.","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","description":"Element ID.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The index at which the rollback index should be placed. Features\n     *   with entry index (0-based) higher than or equal to this value are rolled back.  The value -1 is treated\n     *   as an alias for \"end of feature list\".  Otherwise the value must be in the range 0 to the number of\n     *   entries in the feature list","content":{"application/json;charset=UTF-8":{"schema":{"type":"string"}}}},"responses":{"200":{"description":"Success!"}},"security":[{"OAuth2":["OAuth2Write"]}],"x-BTVisibility":"PRODUCTION"}},"/api/partstudios/d/{did}/{wvm}/{wvmid}/e/{eid}/featurescript":{"post":{"tags":["PartStudios"],"summary":"Evaluate FeatureScript","operationId":"evalFeatureScript","parameters":[{"name":"did","in":"path","description":"Document ID.","required":true,"schema":{"type":"string"}},{"name":"wvm","in":"path","description":"One of w or v or m corresponding to whether a workspace or version or microversion was entered.","required":true,"schema":{"type":"string"}},{"name":"wvmid","in":"path","description":"Workspace (w), Version (v) or Microversion (m) ID.","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","description":"Element ID.","required":true,"schema":{"type":"string"}},{"name":"configuration","in":"query","description":"Configuration string.","schema":{"type":"string"}}],"requestBody":{"content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/BTFeatureScriptEvalCall"}}}},"responses":{"200":{"description":"Success!","content":{"application/vnd.onshape.v1+json;charset=UTF-8; qs=0.1":{"schema":{"$ref":"#/components/schemas/BTFeatureScriptEvalResponse"}},"application/json;charset=UTF-8; qs=0.9":{"schema":{"$ref":"#/components/schemas/BTFeatureScriptEvalResponse"}}}}},"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"}},"/api/partstudios/d/{did}/{wvm}/{wvmid}/e/{eid}/tessellatedfaces":{"get":{"tags":["PartStudios"],"summary":"Tesselated faces of the parts in the Part Studio.","operationId":"getFaces_2","parameters":[{"name":"did","in":"path","description":"Document ID.","required":true,"schema":{"type":"string"}},{"name":"wvm","in":"path","description":"One of w or v or m corresponding to whether a workspace or version or microversion was entered.","required":true,"schema":{"type":"string"}},{"name":"wvmid","in":"path","description":"Workspace (w), Version (v) or Microversion (m) ID.","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","description":"Element ID.","required":true,"schema":{"type":"string"}},{"name":"angleTolerance","in":"query","description":"Angle tolerance (in radians). This specifies the limit on the sum of the angular deviations of a tessellation chord from the tangent vectors at two chord endpoints. The specified value must be less than PI/2. This parameter currently has a default value chosen based on the complexity of the parts being tessellated.","schema":{"type":"number","format":"double"}},{"name":"chordTolerance","in":"query","description":"Chord tolerance (in meters). This specifies the limit on the maximum deviation of a tessellation chord from the true surface/edge. This parameter currently has a default value chosen based on the size and complexity of the parts being tessellated.","schema":{"type":"number","format":"double"}},{"name":"maxFacetWidth","in":"query","description":"Max facet width. This specifies the limit on the size of any side of a tessellation facet.","schema":{"type":"number","format":"double"}},{"name":"outputVertexNormals","in":"query","description":"If true, output vertex normals corresponding to surface normals at facet vertex points.","schema":{"type":"boolean","default":false}},{"name":"outputFacetNormals","in":"query","description":"Output facet normals.","schema":{"type":"boolean","default":true}},{"name":"outputTextureCoordinates","in":"query","description":"Output texture coordinates.","schema":{"type":"boolean","default":false}},{"name":"outputIndexTable","in":"query","description":"Output index table.","schema":{"type":"boolean","default":false}},{"name":"partId","in":"query","description":"IDs of the parts to retrieve. Repeat query param to add more than one, i.e. partId=JHK&partId=JHD). May not be combined with other ID filters","schema":{"type":"array","items":{"type":"string"}}},{"name":"faceId","in":"query","description":"IDs of the faces to tessellate (repeat query param to add more than one, i.e. faceId=JHK&faceId=JHD)","schema":{"type":"array","items":{"type":"string"}}},{"name":"outputErrorFaces","in":"query","description":"Whether or not to output faces that cause an error","schema":{"type":"boolean","default":false}},{"name":"configuration","in":"query","description":"Configuration string.","schema":{"type":"string"}},{"name":"linkDocumentId","in":"query","description":"Id of document that links to the document being accessed. This may provide additional access rights to the document. Allowed only with version (v) path parameter.","schema":{"type":"string"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BTExportTessellatedFacesResponse"}}}}},"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"}},"/api/partstudios/d/{did}/{wvm}/{wvmid}/e/{eid}/tessellatededges":{"get":{"tags":["PartStudios"],"summary":"Tesselated edges from a PartStudio.","operationId":"getEdges_2","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvm","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvmid","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}},{"name":"angleTolerance","in":"query","schema":{"type":"number","format":"double"}},{"name":"chordTolerance","in":"query","schema":{"type":"number","format":"double"}},{"name":"partId","in":"query","schema":{"type":"array","items":{"type":"string"}}},{"name":"edgeId","in":"query","schema":{"type":"array","items":{"type":"string"}}},{"name":"configuration","in":"query","schema":{"type":"string"}},{"name":"linkDocumentId","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BTExportTessellatedEdgesResponse"}}}}},"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"}},"/api/partstudios/d/{did}/{wvm}/{wvmid}/e/{eid}/bodydetails":{"get":{"tags":["PartStudios"],"summary":"Array of body information","operationId":"getBodyDetails_2","parameters":[{"name":"did","in":"path","description":"Document ID.","required":true,"schema":{"type":"string"}},{"name":"wvm","in":"path","description":"One of w or v or m corresponding to whether a workspace or version or microversion was entered.","required":true,"schema":{"type":"string"}},{"name":"wvmid","in":"path","description":"Workspace (w), Version (v) or Microversion (m) ID.","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","description":"Element ID.","required":true,"schema":{"type":"string"}},{"name":"configuration","in":"query","description":"Configuration string.","schema":{"type":"string"}},{"name":"linkDocumentId","in":"query","description":"Id of document that links to the document being accessed. This may provide additional access rights to the document. Allowed only with version (v) path parameter.","schema":{"type":"string"}}],"responses":{"200":{"description":"Success!","content":{"application/vnd.onshape.v1+json;charset=UTF-8; qs=0.1":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BTExportModelBodiesResponse"}}},"application/json;charset=UTF-8; qs=0.9":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BTExportModelBodiesResponse"}}}}}},"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"}},"/api/partstudios/d/{did}/{wvm}/{wvmid}/e/{eid}/massproperties":{"get":{"tags":["PartStudios"],"summary":"Mass properties of parts or a PartStudio.","operationId":"getMassProperties","parameters":[{"name":"did","in":"path","description":"Document ID.","required":true,"schema":{"type":"string"}},{"name":"wvm","in":"path","description":"One of w or v or m corresponding to whether a workspace or version or microversion was entered.","required":true,"schema":{"type":"string"}},{"name":"wvmid","in":"path","description":"Workspace (w), Version (v) or Microversion (m) ID.","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","description":"Element ID.","required":true,"schema":{"type":"string"}},{"name":"partId","in":"query","description":"IDs of the parts to retrieve. Repeat query param to add more than one, i.e. partId=JHK&partId=JHD). May not be combined with other ID filters","schema":{"type":"array","items":{"type":"string"}}},{"name":"massAsGroup","in":"query","description":"If true, specified parts will be evaluated as a single object instead of individually","schema":{"type":"boolean","default":true}},{"name":"configuration","in":"query","description":"Configuration string.","schema":{"type":"string"}},{"name":"linkDocumentId","in":"query","description":"Id of document that links to the document being accessed. This may provide additional access rights to the document. Allowed only with version (v) path parameter.","schema":{"type":"string"}}],"responses":{"200":{"description":"Success!","content":{"application/vnd.onshape.v1+json;charset=UTF-8; qs=0.1":{"schema":{"$ref":"#/components/schemas/BTMassPropResponse"}},"application/json;charset=UTF-8; qs=0.9":{"schema":{"$ref":"#/components/schemas/BTMassPropResponse"}}}}},"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"}},"/api/partstudios/d/{did}/{wvm}/{wvmid}/e/{eid}/idtranslations":{"post":{"tags":["PartStudios"],"summary":"Id Translations","operationId":"translateIds_1","parameters":[{"name":"did","in":"path","description":"Document ID.","required":true,"schema":{"type":"string"}},{"name":"wvm","in":"path","description":"One of w or v or m corresponding to whether a workspace or version or microversion was entered.","required":true,"schema":{"type":"string"}},{"name":"wvmid","in":"path","description":"Workspace (w), Version (v) or Microversion (m) ID.","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","description":"Element ID.","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/BTIdTranslationParams"}}},"required":true},"responses":{"200":{"description":"Success!","content":{"application/vnd.onshape.v1+json;charset=UTF-8; qs=0.1":{"schema":{"$ref":"#/components/schemas/BTIdTranslationInfo"}},"application/json;charset=UTF-8; qs=0.9":{"schema":{"$ref":"#/components/schemas/BTIdTranslationInfo"}}}}},"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"}},"/api/partstudios/d/{did}/{wvm}/{wvmid}/e/{eid}/boundingboxes":{"get":{"tags":["PartStudios"],"summary":"Mass properties of parts or a PartStudio.","operationId":"getBoundingBoxes_2","parameters":[{"name":"did","in":"path","description":"Document ID.","required":true,"schema":{"type":"string"}},{"name":"wvm","in":"path","description":"One of w or v or m corresponding to whether a workspace or version or microversion was entered.","required":true,"schema":{"type":"string"}},{"name":"wvmid","in":"path","description":"Workspace (w), Version (v) or Microversion (m) ID.","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","description":"Element ID.","required":true,"schema":{"type":"string"}},{"name":"includeHidden","in":"query","description":"Whether or not to include bounding boxes for hidden parts.","schema":{"type":"boolean","default":false}},{"name":"includeWireBodies","in":"query","description":"Whether to include wire bodies in the bounding box.","schema":{"type":"boolean","default":true}},{"name":"configuration","in":"query","description":"Configuration string.","schema":{"type":"string"}},{"name":"linkDocumentId","in":"query","description":"Id of document that links to the document being accessed. This may provide additional access rights to the document. Allowed only with version (v) path parameter.","schema":{"type":"string"}}],"responses":{"200":{"description":"Success!","content":{"application/vnd.onshape.v1+json;charset=UTF-8; qs=0.1":{"schema":{"$ref":"#/components/schemas/BTBoundingBox"}},"application/json;charset=UTF-8; qs=0.9":{"schema":{"$ref":"#/components/schemas/BTBoundingBox"}}}}},"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"}},"/api/partstudios/d/{did}/{wvm}/{wvmid}/e/{eid}/shadedviews":{"get":{"tags":["PartStudios"],"summary":"Get Shaded Views","operationId":"getShadedViews_1","parameters":[{"name":"did","in":"path","description":"Document ID.","required":true,"schema":{"type":"string"}},{"name":"wvm","in":"path","description":"One of w or v or m corresponding to whether a workspace or version or microversion was entered.","required":true,"schema":{"type":"string"}},{"name":"wvmid","in":"path","description":"Workspace (w), Version (v) or Microversion (m) ID.","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","description":"Element ID.","required":true,"schema":{"type":"string"}},{"name":"viewMatrix","in":"query","description":"12-number view matrix (comma-separated), or one of the following named views:\ntop, bottom, front, back, left, right\nThe 12 entries in the view matrix form three rows and four columns, which is a linear transformation applied to the model itself.\nThe matrix's first three columns maps the coordinate axes of the model to the coordinate axes of the view, and the fourth column translates the origin (in meters).\nThe view coordinates have x pointing right, y pointing up, and z pointing towards the viewer, while a front view of the model has x pointing right, y pointing away from the viewer, and z pointing up.\nFor example, the identity matrix viewMatrix=1,0,0,0,0,1,0,0,0,0,1,0 corresponds to the top view, and viewMatrix=0.612,0.612,0,0,-0.354,0.354,0.707,0,0.707,-0.707,0.707,0 corresponds (approximately) to the isometric view.\nThe first three columns of the view matrix should be orthonormal and have a positive determinant.  If this is not the case, view behavior may be undefined.","schema":{"type":"string","default":"front"}},{"name":"outputHeight","in":"query","description":"Output image height (in pixels)","schema":{"type":"integer","format":"int32","default":500}},{"name":"outputWidth","in":"query","description":"Output image width (in pixels)","schema":{"type":"integer","format":"int32","default":500}},{"name":"pixelSize","in":"query","description":"Height and width represented by each pixel (in meters). If the value is 0, the display will be sized to fit the output image dimensions.","schema":{"type":"number","format":"double","default":0.003}},{"name":"edges","in":"query","description":"The treatment to be applied to edges in the display. Options are show: show visible edges, hide: hide visible edges.","schema":{"type":"string","default":"show"}},{"name":"showAllParts","in":"query","description":"Whether or not all parts should be shown in the element,\nregardless of user setting. If false, the visibility setting made by the user will be reflected in the\nimage. If true, all parts will be shown.","schema":{"type":"boolean","default":false}},{"name":"includeSurfaces","in":"query","description":"Whether or not surfaces should be shown in the element.\nIt is applicable only when showAllParts is true. If false, surfaces will be excluded.\nIf true, all surfaces will be shown.","schema":{"type":"boolean","default":false}},{"name":"useAntiAliasing","in":"query","description":"If true, an anti-aliasing factor will be used to smooth\nmodel boundaries in the final image result. If false, the image will be rasterized at the given\nresolution. Setting to true can have negative performance implications with respect to rendering time\nand memory usage. If a high-resolution image is requested and anti-aliasing is turned on, the server\nmay not be able to fulfill the request.","schema":{"type":"boolean","default":false}},{"name":"configuration","in":"query","description":"Configuration string.","schema":{"type":"string"}},{"name":"linkDocumentId","in":"query","description":"Id of document that links to the document being accessed. This may provide additional access rights to the document. Allowed only with version (v) path parameter.","schema":{"type":"string"}}],"responses":{"200":{"description":"Success!","content":{"application/vnd.onshape.v1+json;charset=UTF-8; qs=0.1":{"schema":{"$ref":"#/components/schemas/BTShadedRenderDocumentResponse"}},"application/json;charset=UTF-8; qs=0.9":{"schema":{"$ref":"#/components/schemas/BTShadedRenderDocumentResponse"}}}}},"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"}},"/api/partstudios/d/{did}/w/{wid}":{"post":{"tags":["PartStudios"],"summary":"Create Part Studio","operationId":"createPartStudio","parameters":[{"name":"did","in":"path","description":"Document ID.","required":true,"schema":{"type":"string"}},{"name":"wid","in":"path","description":"Workspace ID.","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/BTModelElementParams"}}},"required":true},"responses":{"200":{"description":"Success!","content":{"application/vnd.onshape.v1+json;charset=UTF-8; qs=0.1":{"schema":{"$ref":"#/components/schemas/BTDocumentElementInfo"}},"application/json;charset=UTF-8; qs=0.9":{"schema":{"$ref":"#/components/schemas/BTDocumentElementInfo"}}}}},"security":[{"OAuth2":["OAuth2Write"]}],"x-BTVisibility":"PRODUCTION"}},"/api/partstudios/d/{did}/{wvm}/{wvmid}/e/{eid}/compare":{"get":{"tags":["PartStudios"],"summary":"Compare Part Studios","operationId":"comparePartStudios_1","parameters":[{"name":"did","in":"path","description":"Document ID.","required":true,"schema":{"type":"string"}},{"name":"wvm","in":"path","description":"One of w or v or m corresponding to whether a workspace or version or microversion was entered.","required":true,"schema":{"type":"string"}},{"name":"wvmid","in":"path","description":"Workspace (w), Version (v) or Microversion (m) ID.","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","description":"Element ID.","required":true,"schema":{"type":"string"}},{"name":"workspaceId","in":"query","schema":{"type":"string"}},{"name":"versionId","in":"query","schema":{"type":"string"}},{"name":"microversionId","in":"query","schema":{"type":"string"}},{"name":"sourceConfiguration","in":"query","schema":{"type":"string"}},{"name":"targetConfiguration","in":"query","schema":{"type":"string"}},{"name":"linkDocumentId","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"Success!","content":{"application/vnd.onshape.v1+json;charset=UTF-8; qs=0.1":{"schema":{"$ref":"#/components/schemas/BTRootDiffInfo"}},"application/json;charset=UTF-8; qs=0.9":{"schema":{"$ref":"#/components/schemas/BTRootDiffInfo"}}}}},"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"}},"/api/accounts/purchases":{"get":{"tags":["Accounts"],"summary":"Get User's Appstore Purchases.","operationId":"getPurchases","parameters":[{"name":"all","in":"query","schema":{"type":"boolean","default":false}},{"name":"ownPurchaseOnly","in":"query","schema":{"type":"boolean","default":false}}],"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8; qs=0.1":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BTPurchaseInfo"}}},"application/json;charset=UTF-8; qs=0.9":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BTPurchaseInfo"}}}}}},"x-BTVisibility":"PRODUCTION"}},"/api/accounts/{aid}/purchases/{pid}":{"delete":{"tags":["Accounts"],"summary":"Cancel Recurring Subscription","operationId":"cancelPurchaseNew","parameters":[{"name":"aid","in":"path","required":true,"schema":{"type":"string"}},{"name":"pid","in":"path","required":true,"schema":{"type":"string"}},{"name":"cancelImmediately","in":"query","schema":{"type":"boolean","default":false}}],"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8; qs=0.1":{},"application/json;charset=UTF-8; qs=0.9":{}}}},"security":[{"OAuth2":["OAuth2Purchase"]}],"x-BTVisibility":"PRODUCTION"}},"/api/accounts/purchases/{pid}/consume":{"post":{"tags":["Accounts"],"summary":"Mark Purchase Consumed For User","operationId":"consumePurchase","parameters":[{"name":"pid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/BTPurchaseUserParams"}}}},"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8; qs=0.1":{"schema":{"$ref":"#/components/schemas/BTPurchaseInfo"}},"application/json;charset=UTF-8; qs=0.9":{"schema":{"$ref":"#/components/schemas/BTPurchaseInfo"}}}}},"security":[{"OAuth2":["OAuth2Purchase"]}],"x-BTVisibility":"PRODUCTION"}},"/api/accounts/plans/{planId}/purchases":{"get":{"tags":["Accounts"],"summary":"Get Plan Purchases","operationId":"getPlanPurchases","parameters":[{"name":"planId","in":"path","required":true,"schema":{"type":"string"}},{"name":"offset","in":"query","schema":{"type":"integer","format":"int32","default":0}},{"name":"limit","in":"query","schema":{"type":"integer","format":"int32","default":20}}],"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8; qs=0.1":{"schema":{"$ref":"#/components/schemas/BTListResponseBTPurchaseInfo"}},"application/json;charset=UTF-8; qs=0.9":{"schema":{"$ref":"#/components/schemas/BTListResponseBTPurchaseInfo"}}}}},"x-BTVisibility":"PRODUCTION"}},"/api/appelements/d/{did}/{wvm}/{wvmid}/e/{eid}/content":{"get":{"tags":["App Elements"],"summary":"Get Content","operationId":"getSubElementContent","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvm","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvmid","in":"path","required":true,"schema":{"type":"string"}},{"name":"transactionId","in":"query","schema":{"type":"string"}},{"name":"changeId","in":"query","schema":{"type":"string"}},{"name":"baseChangeId","in":"query","schema":{"type":"string"}},{"name":"subelementId","in":"query","schema":{"type":"string"}},{"name":"linkDocumentId","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BTAppElementContentInfo"}}}}},"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"},"post":{"tags":["App Elements"],"summary":"Update Element","operationId":"update_5","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvm","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvmid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/BTAppElementUpdateParams"}}},"required":true},"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BTAppElementModifyInfo"}}}}},"security":[{"OAuth2":["OAuth2Read","OAuth2Write"]}],"x-BTVisibility":"PRODUCTION"}},"/api/appelements/d/{did}/w/{wid}/e/{eid}/transactions/{tid}":{"post":{"tags":["App Elements"],"summary":"Commit Transaction","operationId":"commitTransaction","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}},{"name":"wid","in":"path","required":true,"schema":{"type":"string"}},{"name":"tid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/BTAppElementCommitTransactionParams"}}},"required":true},"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BTAppElementModifyInfo"}}}}},"security":[{"OAuth2":["OAuth2Write"]}],"x-BTVisibility":"PRODUCTION"}},"/api/appelements/d/{did}/{wvm}/{wvmid}/e/{eid}/content/subelements/{sid}":{"delete":{"tags":["App Elements"],"summary":"Delete a Sub-element","operationId":"deleteContent_1","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvm","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvmid","in":"path","required":true,"schema":{"type":"string"}},{"name":"sid","in":"path","required":true,"schema":{"type":"string"}},{"name":"transactionId","in":"query","schema":{"type":"string"}},{"name":"parentChangeId","in":"query","schema":{"type":"string"}},{"name":"description","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BTAppElementModifyInfo"}}}}},"security":[{"OAuth2":["OAuth2Write"]}],"x-BTVisibility":"PRODUCTION"}},"/api/appelements/d/{did}/{wvm}/{wvmid}/e/{eid}/references":{"post":{"tags":["App Elements"],"summary":"Create Reference","operationId":"createReference_1","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvm","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvmid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/BTAppElementReferenceParams"}}},"required":true},"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BTAppElementReferenceInfo"}}}}},"security":[{"OAuth2":["OAuth2Write","OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"}},"/api/appelements/d/{did}/{wvm}/{wvmid}/e/{eid}/references/{rid}":{"get":{"tags":["App Elements"],"summary":"Resolve Reference","operationId":"resolveReference_1","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvm","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvmid","in":"path","required":true,"schema":{"type":"string"}},{"name":"rid","in":"path","required":true,"schema":{"type":"string"}},{"name":"transactionId","in":"query","schema":{"type":"string"}},{"name":"parentChangeId","in":"query","schema":{"type":"string"}},{"name":"includeInternal","in":"query","schema":{"type":"boolean","default":false}},{"name":"linkDocumentId","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BTAppElementReferenceResolveInfo"}}}}},"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"},"post":{"tags":["App Elements"],"summary":"Update Reference","operationId":"updateReference_1","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvm","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvmid","in":"path","required":true,"schema":{"type":"string"}},{"name":"rid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/BTAppElementReferenceParams"}}},"required":true},"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BTAppElementReferenceInfo"}}}}},"security":[{"OAuth2":["OAuth2Write","OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"},"delete":{"tags":["App Elements"],"summary":"Delete Reference","operationId":"deleteReference_1","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvm","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvmid","in":"path","required":true,"schema":{"type":"string"}},{"name":"rid","in":"path","required":true,"schema":{"type":"string"}},{"name":"transactionId","in":"query","schema":{"type":"string"}},{"name":"parentChangeId","in":"query","schema":{"type":"string"}},{"name":"description","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BTAppElementReferenceInfo"}}}}},"security":[{"OAuth2":["OAuth2Write"]}],"x-BTVisibility":"PRODUCTION"}},"/api/assemblies/d/{did}/w/{wid}/e/{eid}/translationformats":{"get":{"tags":["Assemblies"],"operationId":"getTranslatorFormats","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wid","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}},{"name":"checkContent","in":"query","schema":{"type":"boolean","default":true}}],"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8; qs=0.1":{},"application/json;charset=UTF-8; qs=0.9":{}}}},"x-BTVisibility":"PRODUCTION"}},"/api/assemblies/d/{did}/{wv}/{wvid}/e/{eid}/translations":{"post":{"tags":["Assemblies"],"operationId":"translateFormat","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wv","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvid","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/BTTranslateFormatParams"}}},"required":true},"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8; qs=0.1":{},"application/json;charset=UTF-8; qs=0.9":{}}}},"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"}},"/api/assemblies/d/{did}/e/{eid}/namedViews":{"get":{"tags":["Assemblies"],"operationId":"getNamedViews_1","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}},{"name":"skipPerspective","in":"query","schema":{"type":"boolean","default":true}}],"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8; qs=0.1":{},"application/json;charset=UTF-8; qs=0.9":{}}}},"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"}},"/api/documents":{"get":{"tags":["Documents"],"summary":"Get Documents","operationId":"getDocuments","parameters":[{"name":"q","in":"query","schema":{"type":"string","default":""}},{"name":"filter","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"owner","in":"query","schema":{"type":"string","default":""}},{"name":"ownerType","in":"query","schema":{"type":"integer","format":"int32","default":1}},{"name":"sortColumn","in":"query","schema":{"type":"string","default":"createdAt"}},{"name":"sortOrder","in":"query","schema":{"type":"string","default":"desc"}},{"name":"offset","in":"query","schema":{"type":"integer","format":"int32","default":0}},{"name":"limit","in":"query","schema":{"type":"integer","format":"int32","default":20}},{"name":"label","in":"query","schema":{"type":"string"}},{"name":"project","in":"query","schema":{"type":"string"}},{"name":"parentId","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BTGlobalTreeNodeListResponse"}}}}},"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"},"post":{"tags":["Documents"],"operationId":"create_11","parameters":[],"requestBody":{"content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/BTDocumentParams"}}},"required":true},"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8; qs=0.1":{},"application/json;charset=UTF-8; qs=0.9":{}}}},"security":[{"OAuth2":["OAuth2Write"]}],"x-BTVisibility":"PRODUCTION"}},"/api/documents/{did}/restore":{"post":{"tags":["Documents"],"summary":"Restore Document","operationId":"restoreDocument","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success!","content":{"application/vnd.onshape.v2+json;charset=UTF-8; qs=0.2":{"schema":{"$ref":"#/components/schemas/BTDocumentMergeInfo"}}}}},"security":[{"OAuth2":["OAuth2Write"]}],"x-BTVisibility":"PRODUCTION"}},"/api/documents/d/{did}/externaldata/{fid}":{"get":{"tags":["Documents"],"summary":"Download External Data","operationId":"downloadExternalData","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"fid","in":"path","required":true,"schema":{"type":"string"}},{"name":"If-None-Match","in":"header","schema":{"type":"string"}}],"responses":{"200":{"description":"Success!","content":{"application/vnd.onshape.v1+json;charset=UTF-8; qs=0.1":{"schema":{"type":"string","format":"binary"}},"application/json;charset=UTF-8; qs=0.9":{"schema":{"type":"string","format":"binary"}},"application/vnd.onshape.v1+octet-stream; qs=0.1":{"schema":{"type":"string","format":"binary"}},"application/octet-stream":{"schema":{"type":"string","format":"binary"}}}}},"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"}},"/api/documents/{did}/workspaces/{wid}/merge":{"post":{"tags":["Documents"],"summary":"Merge into workspace","operationId":"mergeIntoWorkspace","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/BTVersionOrWorkspaceInfo"}}},"required":true},"responses":{"200":{"description":"Success!","content":{"application/vnd.onshape.v2+json;charset=UTF-8; qs=0.2":{"schema":{"$ref":"#/components/schemas/BTDocumentMergeInfo"}}}}},"security":[{"OAuth2":["OAuth2Write"]}],"x-BTVisibility":"PRODUCTION"}},"/api/documents/d/{did}/{wv}/{wvid}/currentmicroversion":{"get":{"tags":["Documents"],"operationId":"getCurrentMicroversion","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wv","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8; qs=0.1":{},"application/json;charset=UTF-8; qs=0.9":{}}}},"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"}},"/api/drawings/d/{did}/w/{wid}/e/{eid}/translationformats":{"get":{"tags":["Drawings"],"operationId":"getTranslatorFormats_2","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wid","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8; qs=0.1":{},"application/json;charset=UTF-8; qs=0.9":{}}}},"x-BTVisibility":"PRODUCTION"}},"/api/drawings/d/{did}/{wv}/{wvid}/e/{eid}/translations":{"post":{"tags":["Drawings"],"summary":"Create Drawing translation","operationId":"translateFormat_4","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wv","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvid","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/BTTranslateFormatParams"}}},"required":true},"responses":{"200":{"description":"Success!","content":{"application/vnd.onshape.v1+json;charset=UTF-8; qs=0.1":{"schema":{"$ref":"#/components/schemas/BTTranslationRequestInfo"}},"application/json;charset=UTF-8; qs=0.9":{"schema":{"$ref":"#/components/schemas/BTTranslationRequestInfo"}}}}},"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"}},"/api/elements/d/{did}/{wvm}/{wvmid}/e/{eid}/configuration":{"get":{"tags":["Elements"],"operationId":"getConfiguration_3","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvm","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvmid","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8; qs=0.1":{},"application/json;charset=UTF-8; qs=0.9":{}}}},"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"},"post":{"tags":["Elements"],"operationId":"updateConfiguration_2","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvm","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvmid","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json;charset=UTF-8":{"schema":{"type":"string"}}}},"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8; qs=0.1":{},"application/json;charset=UTF-8; qs=0.9":{}}}},"security":[{"OAuth2":["OAuth2Write"]}],"x-BTVisibility":"PRODUCTION"}},"/api/elements/upload/{did}":{"post":{"tags":["Elements"],"operationId":"uploadFile_2","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"elementId","in":"query","schema":{"type":"string"}},{"name":"workspaceId","in":"query","schema":{"type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/FormDataMultiPart"}}},"required":true},"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8; qs=0.1":{},"application/json;charset=UTF-8; qs=0.9":{}}}},"security":[{"OAuth2":["OAuth2Write"]}],"x-BTVisibility":"PRODUCTION"}},"/api/elements/{did}/version/{vid}":{"get":{"tags":["Elements"],"operationId":"getElementByVersionDeprecated","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"vid","in":"path","required":true,"schema":{"type":"string"}},{"name":"withThumbnails","in":"query","schema":{"type":"boolean","default":false}}],"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8; qs=0.1":{},"application/json;charset=UTF-8; qs=0.9":{}}}},"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"}},"/api/elements/{did}/workspace/{wid}":{"get":{"tags":["Elements"],"operationId":"getElementByWorkspaceDeprecated","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wid","in":"path","required":true,"schema":{"type":"string"}},{"name":"withThumbnails","in":"query","schema":{"type":"boolean","default":false}}],"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8; qs=0.1":{},"application/json;charset=UTF-8; qs=0.9":{}}}},"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"}},"/api/elements/{emid}":{"get":{"tags":["Elements"],"operationId":"getElementMetadataDeprecated","parameters":[{"name":"emid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8; qs=0.1":{},"application/json;charset=UTF-8; qs=0.9":{}}}},"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"}},"/api/elements/d/{did}/{wv}/{wvid}/e/{eid}/metadata":{"get":{"tags":["Elements"],"operationId":"getElementMetadata","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wv","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvid","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}},{"name":"linkDocumentId","in":"query","schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8; qs=0.1":{},"application/json;charset=UTF-8; qs=0.9":{}}}},"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"},"post":{"tags":["Elements"],"operationId":"updateElementMetadata","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wv","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvid","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/BTPDMMetadataParams"}}},"required":true},"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8; qs=0.1":{},"application/json;charset=UTF-8; qs=0.9":{}}}},"security":[{"OAuth2":["OAuth2Read","OAuth2Write"]}],"x-BTVisibility":"PRODUCTION"}},"/api/elements/copyelement/{did}/workspace/{wid}":{"post":{"tags":["Elements"],"operationId":"copyElementFromSourceDocument_1","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/BTCopyElementParams"}}},"required":true},"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8; qs=0.1":{},"application/json;charset=UTF-8; qs=0.9":{}}}},"security":[{"OAuth2":["OAuth2Write"]}],"x-BTVisibility":"PRODUCTION"}},"/api/elements/translatorFormats":{"get":{"tags":["Elements"],"operationId":"getTranslatorFormats_3","parameters":[],"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8; qs=0.1":{},"application/json;charset=UTF-8; qs=0.9":{}}}},"x-BTVisibility":"PRODUCTION"}},"/api/elements/translatorFormats/{did}/{wid}/{eid}":{"get":{"tags":["Elements"],"operationId":"getElementTranslatorFormats_1","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wid","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}},{"name":"checkContent","in":"query","schema":{"type":"boolean","default":true}},{"name":"configuration","in":"query","schema":{"type":"string","default":""}}],"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8; qs=0.1":{},"application/json;charset=UTF-8; qs=0.9":{}}}},"x-BTVisibility":"PRODUCTION"}},"/api/elements/d/{did}/e/{eid}/configurationencodings":{"post":{"tags":["Elements"],"operationId":"encodeConfigurationMap","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}},{"name":"versionId","in":"query","schema":{"type":"string"}},{"name":"linkDocumentId","in":"query","schema":{"type":"string"}}],"requestBody":{"content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/BTConfigurationParams"}}},"required":true},"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8; qs=0.1":{},"application/json;charset=UTF-8; qs=0.9":{}}}},"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"}},"/api/elements/d/{did}/{wvm}/{wvmid}/e/{eid}/configurationencodings/{cid}":{"get":{"tags":["Elements"],"operationId":"decodeConfiguration","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvm","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvmid","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}},{"name":"cid","in":"path","required":true,"schema":{"type":"string"}},{"name":"linkDocumentId","in":"query","schema":{"type":"string"}},{"name":"includeDisplay","in":"query","schema":{"type":"boolean","default":false}},{"name":"configurationIsId","in":"query","schema":{"type":"boolean","default":false}}],"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8; qs=0.1":{},"application/json;charset=UTF-8; qs=0.9":{}}}},"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"}},"/api/endpoints":{"get":{"tags":["Endpoints"],"operationId":"getEndpoints","parameters":[],"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8; qs=0.1":{},"application/json;charset=UTF-8; qs=0.9":{}}}},"deprecated":true,"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"}},"/api/metadata/d/{did}/{wv}/{wvid}":{"get":{"tags":["Metadata"],"operationId":"getWVMetadata","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wv","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvid","in":"path","required":true,"schema":{"type":"string"}},{"name":"linkDocumentId","in":"query","schema":{"type":"string"}},{"name":"inferMetadataOwner","in":"query","schema":{"type":"boolean","default":false}}],"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8; qs=0.1":{},"application/json;charset=UTF-8; qs=0.9":{}}}},"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"},"post":{"tags":["Metadata"],"operationId":"updateWVMetadata","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wv","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json;charset=UTF-8":{"schema":{"type":"string"}}},"required":true},"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8; qs=0.1":{},"application/json;charset=UTF-8; qs=0.9":{}}}},"security":[{"OAuth2":["OAuth2Write"]}],"x-BTVisibility":"PRODUCTION"}},"/api/metadata/d/{did}/{wv}/{wvid}/e":{"get":{"tags":["Metadata"],"operationId":"getWVEsMetadata","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wv","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvid","in":"path","required":true,"schema":{"type":"string"}},{"name":"linkDocumentId","in":"query","schema":{"type":"string"}},{"name":"inferMetadataOwner","in":"query","schema":{"type":"boolean","default":false}}],"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8; qs=0.1":{},"application/json;charset=UTF-8; qs=0.9":{}}}},"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"}},"/api/metadata/d/{did}/{wv}/{wvid}/e/{eid}":{"get":{"tags":["Metadata"],"operationId":"getWVEMetadata","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wv","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvid","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}},{"name":"configuration","in":"query","schema":{"type":"string"}},{"name":"linkDocumentId","in":"query","schema":{"type":"string"}},{"name":"inferMetadataOwner","in":"query","schema":{"type":"boolean","default":false}}],"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8; qs=0.1":{},"application/json;charset=UTF-8; qs=0.9":{}}}},"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"},"post":{"tags":["Metadata"],"operationId":"updateWVEMetadata","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wv","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvid","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json;charset=UTF-8":{"schema":{"type":"string"}}},"required":true},"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8; qs=0.1":{},"application/json;charset=UTF-8; qs=0.9":{}}}},"security":[{"OAuth2":["OAuth2Write"]}],"x-BTVisibility":"PRODUCTION"}},"/api/metadata/d/{did}/{wvm}/{wvmid}/e/{eid}/p":{"get":{"tags":["Metadata"],"operationId":"getWMVEPsMetadata","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvm","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvmid","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}},{"name":"configuration","in":"query","schema":{"type":"string"}},{"name":"linkDocumentId","in":"query","schema":{"type":"string"}},{"name":"inferMetadataOwner","in":"query","schema":{"type":"boolean","default":false}}],"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8; qs=0.1":{},"application/json;charset=UTF-8; qs=0.9":{}}}},"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"}},"/api/metadata/d/{did}/{wvm}/{wvmid}/e/{eid}/p/{pid}":{"get":{"tags":["Metadata"],"operationId":"getWMVEPMetadata","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvm","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvmid","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}},{"name":"pid","in":"path","required":true,"schema":{"type":"string"}},{"name":"configuration","in":"query","schema":{"type":"string"}},{"name":"linkDocumentId","in":"query","schema":{"type":"string"}},{"name":"inferMetadataOwner","in":"query","schema":{"type":"boolean","default":false}}],"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8; qs=0.1":{},"application/json;charset=UTF-8; qs=0.9":{}}}},"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"},"post":{"tags":["Metadata"],"operationId":"updateWVEPMetadata","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvm","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvmid","in":"path","required":true,"schema":{"type":"string"}},{"name":"subResource","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json;charset=UTF-8":{"schema":{"type":"string"}}},"required":true},"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8; qs=0.1":{},"application/json;charset=UTF-8; qs=0.9":{}}}},"security":[{"OAuth2":["OAuth2Write"]}],"x-BTVisibility":"PRODUCTION"}},"/api/metadata/standardcontent/d/{did}/v/{vid}/e/{eid}/{otype}/{oid}/p/{pid}":{"get":{"tags":["Metadata"],"operationId":"getVEOPStandardContentMetadata","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"vid","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}},{"name":"otype","in":"path","required":true,"schema":{"type":"string"}},{"name":"oid","in":"path","required":true,"schema":{"type":"string"}},{"name":"pid","in":"path","required":true,"schema":{"type":"string"}},{"name":"configuration","in":"query","schema":{"type":"string"}},{"name":"linkDocumentId","in":"query","schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8; qs=0.1":{},"application/json;charset=UTF-8; qs=0.9":{}}}},"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"},"post":{"tags":["Metadata"],"operationId":"updateVEOPStandardContentPartMetadata","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"vid","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}},{"name":"otype","in":"path","required":true,"schema":{"type":"string"}},{"name":"oid","in":"path","required":true,"schema":{"type":"string"}},{"name":"pid","in":"path","required":true,"schema":{"type":"string"}},{"name":"linkDocumentId","in":"query","schema":{"type":"string"}}],"requestBody":{"content":{"application/json;charset=UTF-8":{"schema":{"type":"string"}}},"required":true},"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8; qs=0.1":{},"application/json;charset=UTF-8; qs=0.9":{}}}},"security":[{"OAuth2":["OAuth2Write"]}],"x-BTVisibility":"PRODUCTION"}},"/api/openapi":{"get":{"summary":"OpenAPI spec documentation for the Onshape REST API.","operationId":"getOpenApi","parameters":[{"name":"fileType","in":"query","description":"The type of file to return. Defaults to JSON.","schema":{"type":"string","default":"json","enum":["json","yaml"]}},{"name":"excludedTags","in":"query","description":"If an operation contains an excluded tag, it is not returned from this endpoint.","schema":{"type":"string"}},{"name":"includedTags","in":"query","description":"Return at most all the operations with tags included in includedTags. If not given, this will default to all tags.","schema":{"type":"string"}},{"name":"documentationStatus","in":"query","description":"Only return endpoints that have the specified document status. Default is to return all the keys the user should have access to.","schema":{"type":"array","items":{"type":"string","enum":["DEVELOPMENT","PRODUCTION","STAGING","EVP","UNSET","INTERNAL"]}}}],"responses":{"200":{"description":"voila!","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OpenAPI"}}}}},"x-BTVisibility":"PRODUCTION"}},"/api/parts/d/{did}/{wvm}/{wvmid}":{"get":{"tags":["Parts"],"summary":"Get list of parts","operationId":"getPartsWMV","parameters":[{"name":"did","in":"path","description":"Document ID.","required":true,"schema":{"type":"string"}},{"name":"wvm","in":"path","description":"One of w or v or m corresponding to whether a workspace or version or microversion was entered.","required":true,"schema":{"type":"string"}},{"name":"wvmid","in":"path","description":"Workspace (w), Version (v) or Microversion (m) ID.","required":true,"schema":{"type":"string"}},{"name":"elementId","in":"query","description":"Element ID","schema":{"type":"string"}},{"name":"withThumbnails","in":"query","description":"Whether or not to include thumbnails (not supported for microversion)","schema":{"type":"boolean","default":false}},{"name":"includePropertyDefaults","in":"query","description":"If true, include metadata schema property defaults in response","schema":{"type":"boolean","default":false}},{"name":"linkDocumentId","in":"query","description":"Id of document that links to the document being accessed. This may provide additional access rights to the document. Allowed only with version (v) path parameter.","schema":{"type":"string"}},{"name":"configuration","in":"query","description":"Configuration string.","schema":{"type":"string"}}],"responses":{"200":{"description":"Success!","content":{"application/vnd.onshape.v1+json;charset=UTF-8; qs=0.1":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BTPartMetadataInfo"}}},"application/json;charset=UTF-8; qs=0.9":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BTPartMetadataInfo"}}}}}},"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"},"post":{"tags":["Parts"],"summary":"Part metadata batch update.","operationId":"updatePartsWMV","parameters":[{"name":"did","in":"path","description":"Document ID.","required":true,"schema":{"type":"string"}},{"name":"wvm","in":"path","description":"One of w or v or m corresponding to whether a workspace or version or microversion was entered.","required":true,"schema":{"type":"string"}},{"name":"wvmid","in":"path","description":"Workspace (w), Version (v) or Microversion (m) ID.","required":true,"schema":{"type":"string"}},{"name":"editDescription","in":"query","description":"Description of the update (as appear in document history)","schema":{"type":"string"}}],"requestBody":{"content":{"application/json;charset=UTF-8":{"schema":{"type":"string"}}}},"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8; qs=0.1":{},"application/json;charset=UTF-8; qs=0.9":{}}}},"deprecated":true,"security":[{"OAuth2":["OAuth2Read","OAuth2Write"]}],"x-BTVisibility":"PRODUCTION"}},"/api/parts/d/{did}/{wvm}/{wvmid}/e/{eid}":{"get":{"tags":["Parts"],"summary":"Get parts from an element.","operationId":"getPartsWMVE","parameters":[{"name":"did","in":"path","description":"Document ID.","required":true,"schema":{"type":"string"}},{"name":"wvm","in":"path","description":"One of w or v or m corresponding to whether a workspace or version or microversion was entered.","required":true,"schema":{"type":"string"}},{"name":"wvmid","in":"path","description":"Workspace (w), Version (v) or Microversion (m) ID.","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","description":"Element ID.","required":true,"schema":{"type":"string"}},{"name":"withThumbnails","in":"query","description":"Whether or not to include thumbnails (not supported for microversion)","schema":{"type":"boolean","default":false}},{"name":"includePropertyDefaults","in":"query","description":"If true, include metadata schema property defaults in response","schema":{"type":"boolean","default":false}},{"name":"configuration","in":"query","description":"Configuration string.","schema":{"type":"string"}},{"name":"linkDocumentId","in":"query","description":"Id of document that links to the document being accessed. This may provide additional access rights to the document. Allowed only with version (v) path parameter.","schema":{"type":"string"}}],"responses":{"200":{"description":"Success!","content":{"application/vnd.onshape.v1+json;charset=UTF-8; qs=0.1":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BTPartMetadataInfo"}}},"application/json;charset=UTF-8; qs=0.9":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BTPartMetadataInfo"}}}}}},"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"}},"/api/partstudios/d/{did}/w/{wid}/e/{eid}/translationformats":{"get":{"tags":["PartStudios"],"summary":"Get Translation Formats","operationId":"getTranslatorFormats_4","parameters":[{"name":"did","in":"path","description":"Document ID.","required":true,"schema":{"type":"string"}},{"name":"wid","in":"path","description":"Workspace ID.","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","description":"Element ID.","required":true,"schema":{"type":"string"}},{"name":"checkContent","in":"query","description":"    Whether the current content or lack thereof should be considered when determining the available formats. Empty part studios cannot be translated into any format.","schema":{"type":"boolean","default":true}}],"responses":{"200":{"description":"Success!","content":{"application/vnd.onshape.v1+json;charset=UTF-8; qs=0.1":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BTModelFormatInfo"}}},"application/json;charset=UTF-8; qs=0.9":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BTModelFormatInfo"}}}}}},"x-BTVisibility":"PRODUCTION"}},"/api/partstudios/d/{did}/{wv}/{wvid}/e/{eid}/translations":{"post":{"tags":["PartStudios"],"summary":"Create Part Studio translation","operationId":"translateFormat_5","parameters":[{"name":"did","in":"path","description":"Document ID.","required":true,"schema":{"type":"string"}},{"name":"wv","in":"path","description":"One of w or v corresponding to whether a workspace or version was entered.","required":true,"schema":{"type":"string"}},{"name":"wvid","in":"path","description":"Workspace (w) or Version (v).","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","description":"Element ID.","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/BTTranslateFormatParams"}}},"required":true},"responses":{"200":{"description":"Success!","content":{"application/vnd.onshape.v1+json;charset=UTF-8; qs=0.1":{"schema":{"$ref":"#/components/schemas/BTTranslationRequestInfo"}},"application/json;charset=UTF-8; qs=0.9":{"schema":{"$ref":"#/components/schemas/BTTranslationRequestInfo"}}}}},"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"}},"/api/partstudios/d/{did}/e/{eid}/namedViews":{"get":{"tags":["PartStudios"],"summary":"Get Named Views","operationId":"getNamedViews_2","parameters":[{"name":"did","in":"path","description":"Document ID.","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","description":"Element ID.","required":true,"schema":{"type":"string"}},{"name":"skipPerspective","in":"query","description":"Whether views with a perspective projection should be omitted.","schema":{"type":"boolean","default":true}}],"responses":{"200":{"description":"Success!","content":{"application/vnd.onshape.v1+json;charset=UTF-8; qs=0.1":{"schema":{"$ref":"#/components/schemas/BTNamedViewsInfo"}},"application/json;charset=UTF-8; qs=0.9":{"schema":{"$ref":"#/components/schemas/BTNamedViewsInfo"}}}}},"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"}},"/api/partstudios/d/{did}/{wvm}/{wvmid}/e/{eid}/stl":{"get":{"tags":["PartStudios"],"summary":"Export Part Studio to STL","operationId":"exportStl_1","parameters":[{"name":"did","in":"path","description":"Document ID.","required":true,"schema":{"type":"string"}},{"name":"wvm","in":"path","description":"One of w or v or m corresponding to whether a workspace or version or microversion was entered.","required":true,"schema":{"type":"string"}},{"name":"wvmid","in":"path","description":"Workspace (w), Version (v) or Microversion (m) ID.","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","description":"Element ID.","required":true,"schema":{"type":"string"}},{"name":"partIds","in":"query","description":"IDs of the parts to retrieve. Repeat query param to add more than one, i.e. partId=JHK&partId=JHD). May not be combined with other ID filters","schema":{"type":"string"}},{"name":"mode","in":"query","description":"Type of file: text, binary","schema":{"type":"string","default":"text"}},{"name":"grouping","in":"query","description":"Whether parts should be exported as a group or individually in a .zip file","schema":{"type":"boolean","default":true}},{"name":"scale","in":"query","description":"Scale for measurements.","schema":{"type":"number","format":"double","default":1.0}},{"name":"units","in":"query","description":"Name of base unit (meter, centimeter, millimeter, inch, foot, or yard)","schema":{"type":"string","default":"inch"}},{"name":"angleTolerance","in":"query","description":"Angle tolerance (in radians). This specifies the limit on the sum of the angular deviations of a tessellation chord from the tangent vectors at two chord endpoints. The specified value must be less than PI/2. This parameter currently has a default value chosen based on the complexity of the parts being tessellated.","schema":{"type":"number","format":"double"}},{"name":"chordTolerance","in":"query","description":"Chord tolerance (in meters). This specifies the limit on the maximum deviation of a tessellation chord from the true surface/edge. This parameter currently has a default value chosen based on the size and complexity of the parts being tessellated.","schema":{"type":"number","format":"double"}},{"name":"maxFacetWidth","in":"query","description":"Max facet width. This specifies the limit on the size of any side of a tessellation facet.","schema":{"type":"number","format":"double"}},{"name":"minFacetWidth","in":"query","description":"Max facet width. This specifies the limit on the size of any side of a tessellation facet.","schema":{"type":"number","format":"double"}},{"name":"configuration","in":"query","description":"Configuration string.","schema":{"type":"string"}},{"name":"linkDocumentId","in":"query","description":"Id of document that links to the document being accessed. This may provide additional access rights to the document. Allowed only with version (v) path parameter.","schema":{"type":"string"}}],"responses":{"307":{"description":"A Redirect!"}},"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"}},"/api/partstudios/d/{did}/{wvm}/{wvmid}/e/{eid}/parasolid":{"get":{"tags":["PartStudios"],"summary":"Export Part Studio to Parasolid","operationId":"exportPS_1","parameters":[{"name":"did","in":"path","description":"Document ID.","required":true,"schema":{"type":"string"}},{"name":"wvm","in":"path","description":"One of w or v or m corresponding to whether a workspace or version or microversion was entered.","required":true,"schema":{"type":"string"}},{"name":"wvmid","in":"path","description":"Workspace (w), Version (v) or Microversion (m) ID.","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","description":"Element ID.","required":true,"schema":{"type":"string"}},{"name":"partIds","in":"query","description":"IDs of the parts to retrieve. Repeat query param to add more than one, i.e. partId=JHK&partId=JHD). May not be combined with other ID filters","schema":{"type":"string"}},{"name":"version","in":"query","description":"Parasolid version","schema":{"type":"string","default":"0"}},{"name":"includeExportIds","in":"query","description":"Whether topolgy ids should be exported as parasolid attributes","schema":{"type":"boolean","default":false}},{"name":"configuration","in":"query","description":"Configuration string.","schema":{"type":"string"}},{"name":"linkDocumentId","in":"query","description":"Id of document that links to the document being accessed. This may provide additional access rights to the document. Allowed only with version (v) path parameter.","schema":{"type":"string"}}],"responses":{"307":{"description":"A Redirect!"}},"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"}},"/api/translations/translationformats":{"get":{"tags":["Translations"],"operationId":"getTranslatorFormats_5","parameters":[],"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8; qs=0.1":{},"application/json;charset=UTF-8; qs=0.9":{}}}},"x-BTVisibility":"PRODUCTION"}},"/api/translations/{tid}":{"get":{"tags":["Translations"],"operationId":"getTranslation","parameters":[{"name":"tid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8; qs=0.1":{},"application/json;charset=UTF-8; qs=0.9":{}}}},"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"},"delete":{"tags":["Translations"],"operationId":"deleteTranslation","parameters":[{"name":"tid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8; qs=0.1":{},"application/json;charset=UTF-8; qs=0.9":{}}}},"security":[{"OAuth2":["OAuth2Write"]}],"x-BTVisibility":"PRODUCTION"}},"/api/translations/d/{did}":{"get":{"tags":["Translations"],"operationId":"getDocumentTranslations","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"offset","in":"query","schema":{"type":"integer","format":"int32","default":0}},{"name":"limit","in":"query","schema":{"type":"integer","format":"int32","default":20}}],"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8; qs=0.1":{},"application/json;charset=UTF-8; qs=0.9":{}}}},"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"}},"/api/translations/d/{did}/w/{wid}":{"post":{"tags":["Translations"],"operationId":"createTranslation","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/FormDataMultiPart"}}},"required":true},"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8; qs=0.1":{},"application/json;charset=UTF-8; qs=0.9":{}}}},"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"}}},"components":{"schemas":{"BTAppAssociativeDataParamsArray":{"type":"object","properties":{"description":{"type":"string"},"items":{"type":"array","items":{"$ref":"#/components/schemas/BTAssociativeDataParams"}},"transactionId":{"type":"string"},"parentChangeId":{"type":"string"}}},"BTAssociativeDataParams":{"type":"object","properties":{"type":{"type":"string","enum":["ONSHAPE_DRAWING_VIEW","MODEL_TOPOLOGY","MODEL_DEFINITION_FEATURE","MODEL_DEFINITION_ENTITY","UNKNOWN"]},"microversionId":{"type":"string"},"documentMicroversion":{"type":"string"},"associativeDataId":{"type":"string"},"operation":{"type":"string","enum":["ADD","REMOVE","UPDATE"]},"viewId":{"type":"string"},"occurrenceId":{"type":"string"},"isHiddenBaseView":{"type":"boolean"},"workspaceId":{"type":"string"},"elementId":{"type":"string"},"idTag":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/BTNameValuePair"}},"configuration":{"type":"string"},"versionId":{"type":"string"},"documentId":{"type":"string"}}},"BTNameValuePair":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}}},"BTPartIdParams":{"type":"object","properties":{"ids":{"type":"array","items":{"type":"string"}},"linkDocumentId":{"type":"string"},"configuration":{"type":"string"}}},"BTAppViewParams":{"type":"object","properties":{"parameters":{"type":"array","items":{"type":"number","format":"double"}},"displayStateId":{"type":"string"},"transactionId":{"type":"string"},"parentChangeId":{"type":"string"},"bomReferenceId":{"type":"string"},"includeHiddenInstances":{"type":"boolean"},"viewScale":{"type":"number","format":"double"},"showTangentLines":{"type":"boolean"},"computeIntersection":{"type":"boolean"},"qualityOption":{"type":"integer","format":"int32"},"isBrokenOutSection":{"type":"boolean"},"isCropView":{"type":"boolean"},"hiddenLines":{"type":"string","enum":["DRAFTING","EXCLUDED","MARKED"]},"modificationId":{"type":"string"},"perspective":{"type":"boolean"},"projectionAngle":{"type":"string"},"showThreads":{"type":"boolean"},"qualityOptionType":{"type":"string","enum":["BEST_PERFORMANCE","BEST_QUALITY","BALANCED","ADAPTIVE"]},"isPartialSection":{"type":"boolean"},"brokenOutPointNumbers":{"type":"array","items":{"type":"integer","format":"int32"}},"brokenOutEndConditions":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/BTBrokenOutEndCondition"}},"brokenOutBBoxes":{"type":"array","items":{"type":"number","format":"double"}},"brokenOutBBoxesMap":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/BTBoundingBox"}},"includeSurfaces":{"type":"boolean"},"isSurface":{"type":"boolean"},"depthSectionEndCondition":{"$ref":"#/components/schemas/BTBrokenOutEndCondition"},"modelReferenceId":{"type":"string"},"viewMatrix":{"type":"array","items":{"type":"number","format":"double"}},"viewDirection":{"type":"array","items":{"type":"number","format":"double"}},"cutPoint":{"type":"array","items":{"type":"number","format":"double"}},"offsetSectionPoints":{"type":"array","items":{"type":"number","format":"double"}},"brokenOutSection":{"type":"boolean"},"cropView":{"type":"boolean"},"occurrenceOrPartIdToGeometryProperties":{"type":"object","additionalProperties":{"type":"object","additionalProperties":{"type":"string"}}}}},"BTBoundingBox":{"type":"object","properties":{"valid":{"type":"boolean"},"minCorner":{"$ref":"#/components/schemas/BTVector3d"},"maxCorner":{"$ref":"#/components/schemas/BTVector3d"},"typeId":{"type":"integer","format":"int32"},"connectionSource":{"$ref":"#/components/schemas/BTConnection"},"exportTypeName":{"type":"string"},"unknownClass":{"type":"boolean"}}},"BTBrokenOutEndCondition":{"type":"object","properties":{"uptoPoint3d":{"$ref":"#/components/schemas/BTVector3d"},"uptoPoint":{"type":"array","items":{"type":"number","format":"double"}},"hasUptoPoint":{"type":"boolean"},"hasOffset":{"type":"boolean"},"offsetDistance":{"type":"number","format":"double"},"offsetOppositeDirection":{"type":"boolean"},"typeId":{"type
[...]
