{"openapi":"3.0.1","info":{"title":"Onshape REST API","description":"The Onshape REST API consumed by all clients.","termsOfService":"http://swagger.io/terms/","contact":{"email":"api-support@onshape.zendesk.com"},"license":{"name":"Apache 2.0","url":"http://www.apache.org/licenses/LICENSE-2.0.html"},"version":"1.106","x-logo":{"backgroundColor":"#ffffff","altText":"Onshape","href":"https://www.onshape.com/","url":"http://localhost.dev.onshape.com:8083/images/onshape_logo_medium.png"}},"servers":[{"url":"https://cad.onshape.com","description":"Production"}],"tags":[{"name":"Accounts","description":"Modify and access account information."},{"name":"App Elements","description":"Save and manage application state."},{"name":"Assemblies","description":"Access and manipulate assembly elements."},{"name":"BlobElements","description":"Save and access Blob Elements."},{"name":"Documents","description":"Manage documents."},{"name":"Drawings","description":"Access drawing translations."},{"name":"Elements","description":"Access and manipulate Elements."},{"name":"FeatureStudios","description":"Access and write to Feature Studio Elements."},{"name":"Metadata","description":"Manipulate and access metadata."},{"name":"OpenAPI","description":"Endpoints for getting the OpenAPI specification for the Onshape API."},{"name":"Parts","description":"Get details about specific parts."},{"name":"PartStudios","description":"Modify, change, and get PartStudios."},{"name":"Translations","description":"Create and manage translations."}],"paths":{"/api/accounts/purchases":{"get":{"tags":["Accounts"],"summary":"Get User's Appstore Purchases.","operationId":"getPurchases","parameters":[{"name":"all","in":"query","schema":{"type":"boolean","default":false}},{"name":"ownPurchaseOnly","in":"query","schema":{"type":"boolean","default":false}}],"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BTPurchaseInfo"}}},"application/json;charset=UTF-8; qs=0.09":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BTPurchaseInfo"}}}}}},"deprecated":false,"x-BTVisibility":"PRODUCTION"}},"/api/accounts/{aid}/purchases/{pid}":{"delete":{"tags":["Accounts"],"summary":"Cancel Recurring Subscription","operationId":"cancelPurchaseNew","parameters":[{"name":"aid","in":"path","required":true,"schema":{"type":"string"}},{"name":"pid","in":"path","required":true,"schema":{"type":"string"}},{"name":"cancelImmediately","in":"query","schema":{"type":"boolean","default":false}}],"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1":{},"application/json;charset=UTF-8; qs=0.09":{}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Purchase"]}],"x-BTVisibility":"PRODUCTION"}},"/api/accounts/purchases/{pid}/consume":{"post":{"tags":["Accounts"],"summary":"Mark Purchase Consumed For User","operationId":"consumePurchase","parameters":[{"name":"pid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json;charset=UTF-8; qs=0.09":{"schema":{"$ref":"#/components/schemas/BTPurchaseUserParams"}}}},"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1":{"schema":{"$ref":"#/components/schemas/BTPurchaseInfo"}},"application/json;charset=UTF-8; qs=0.09":{"schema":{"$ref":"#/components/schemas/BTPurchaseInfo"}}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Purchase"]}],"x-BTVisibility":"PRODUCTION"}},"/api/accounts/plans/{planId}/purchases":{"get":{"tags":["Accounts"],"summary":"Get Plan Purchases","operationId":"getPlanPurchases","parameters":[{"name":"planId","in":"path","required":true,"schema":{"type":"string"}},{"name":"offset","in":"query","schema":{"type":"integer","format":"int32","default":0}},{"name":"limit","in":"query","schema":{"type":"integer","format":"int32","default":20}}],"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1":{"schema":{"$ref":"#/components/schemas/BTListResponseBTPurchaseInfo"}},"application/json;charset=UTF-8; qs=0.09":{"schema":{"$ref":"#/components/schemas/BTListResponseBTPurchaseInfo"}}}}},"deprecated":false,"x-BTVisibility":"PRODUCTION"}},"/api/appelements/d/{did}/{wvm}/{wvmid}/e/{eid}/references":{"post":{"tags":["App Elements"],"summary":"Create Reference","operationId":"createReference","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvm","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvmid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json;charset=UTF-8; qs=0.09":{"schema":{"$ref":"#/components/schemas/BTAppElementReferenceParams"}}},"required":true},"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BTAppElementReferenceInfo"}}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Write","OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"}},"/api/appelements/d/{did}/w/{wid}/e/{eid}/transactions":{"post":{"tags":["App Elements"],"summary":"Start Transaction","operationId":"startTransaction","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}},{"name":"wid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json;charset=UTF-8; qs=0.09":{"schema":{"$ref":"#/components/schemas/BTAppElementStartTransactionParams"}}},"required":true},"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BTAppElementModifyInfo"}}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Write"]}],"x-BTVisibility":"PRODUCTION"}},"/api/appelements/d/{did}/w/{wid}/e/{eid}/transactions/{tid}":{"post":{"tags":["App Elements"],"summary":"Commit Transaction","operationId":"commitTransaction","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}},{"name":"wid","in":"path","required":true,"schema":{"type":"string"}},{"name":"tid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json;charset=UTF-8; qs=0.09":{"schema":{"$ref":"#/components/schemas/BTAppElementCommitTransactionParams"}}},"required":true},"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BTAppElementModifyInfo"}}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Write"]}],"x-BTVisibility":"PRODUCTION"}},"/api/appelements/d/{did}/{wvm}/{wvmid}/e/{eid}/content/ids":{"get":{"tags":["App Elements"],"summary":"Get Sub-element IDs","operationId":"getSubelementIds","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvm","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvmid","in":"path","required":true,"schema":{"type":"string"}},{"name":"transactionId","in":"query","schema":{"type":"string"}},{"name":"changeId","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BTAppElementModifyInfo"}}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"}},"/api/appelements/d/{did}/{wvm}/{wvmid}/e/{eid}/content":{"get":{"tags":["App Elements"],"summary":"Get Content","operationId":"getSubElementContent","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvm","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvmid","in":"path","required":true,"schema":{"type":"string"}},{"name":"transactionId","in":"query","schema":{"type":"string"}},{"name":"changeId","in":"query","schema":{"type":"string"}},{"name":"baseChangeId","in":"query","schema":{"type":"string"}},{"name":"subelementId","in":"query","schema":{"type":"string"}},{"name":"linkDocumentId","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BTAppElementContentInfo"}}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"},"post":{"tags":["App Elements"],"summary":"Update Element","operationId":"update_4","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvm","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvmid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json;charset=UTF-8; qs=0.09":{"schema":{"$ref":"#/components/schemas/BTAppElementUpdateParams"}}},"required":true},"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BTAppElementModifyInfo"}}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Read","OAuth2Write"]}],"x-BTVisibility":"PRODUCTION"}},"/api/appelements/d/{did}/{wvm}/{wvmid}/e/{eid}/content/history":{"get":{"tags":["App Elements"],"summary":"Get History","operationId":"getHistory","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvm","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvmid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BTAppElementHistoryInfo"}}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"}},"/api/appelements/d/{did}/{wvm}/{wvmid}/e/{eid}/content/subelements/{sid}":{"delete":{"tags":["App Elements"],"summary":"Delete a Sub-element","operationId":"deleteContent","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvm","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvmid","in":"path","required":true,"schema":{"type":"string"}},{"name":"sid","in":"path","required":true,"schema":{"type":"string"}},{"name":"transactionId","in":"query","schema":{"type":"string"}},{"name":"parentChangeId","in":"query","schema":{"type":"string"}},{"name":"description","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BTAppElementModifyInfo"}}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Write"]}],"x-BTVisibility":"PRODUCTION"}},"/api/appelements/d/{did}/{wvm}/{wvmid}/e/{eid}/references/{rid}":{"get":{"tags":["App Elements"],"summary":"Resolve Reference","operationId":"resolveReference","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvm","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvmid","in":"path","required":true,"schema":{"type":"string"}},{"name":"rid","in":"path","required":true,"schema":{"type":"string"}},{"name":"transactionId","in":"query","schema":{"type":"string"}},{"name":"parentChangeId","in":"query","schema":{"type":"string"}},{"name":"includeInternal","in":"query","schema":{"type":"boolean","default":false}},{"name":"linkDocumentId","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BTAppElementReferenceResolveInfo"}}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"},"post":{"tags":["App Elements"],"summary":"Update Reference","operationId":"updateReference","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvm","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvmid","in":"path","required":true,"schema":{"type":"string"}},{"name":"rid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json;charset=UTF-8; qs=0.09":{"schema":{"$ref":"#/components/schemas/BTAppElementReferenceParams"}}},"required":true},"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BTAppElementReferenceInfo"}}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Write","OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"},"delete":{"tags":["App Elements"],"summary":"Delete Reference","operationId":"deleteReference","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvm","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvmid","in":"path","required":true,"schema":{"type":"string"}},{"name":"rid","in":"path","required":true,"schema":{"type":"string"}},{"name":"transactionId","in":"query","schema":{"type":"string"}},{"name":"parentChangeId","in":"query","schema":{"type":"string"}},{"name":"description","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BTAppElementReferenceInfo"}}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Write"]}],"x-BTVisibility":"PRODUCTION"}},"/api/appelements/d/{did}/{wvm}/{wvmid}/e/{eid}/resolvereferences":{"get":{"tags":["App Elements"],"summary":"Resolve references.","operationId":"resolveReferences","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvm","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvmid","in":"path","required":true,"schema":{"type":"string"}},{"name":"transactionId","in":"query","schema":{"type":"string"}},{"name":"parentChangeId","in":"query","schema":{"type":"string"}},{"name":"includeInternal","in":"query","schema":{"type":"boolean","default":false}},{"name":"linkDocumentId","in":"query","schema":{"type":"string"}},{"name":"referenceIds","in":"query","schema":{"type":"string","default":""}}],"responses":{"200":{"description":"Success!","content":{"application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1":{"schema":{"$ref":"#/components/schemas/BTAppElementReferencesResolveInfo"}}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"}},"/api/appelements/d/{did}/w/{wid}":{"post":{"tags":["App Elements"],"summary":"Create Element.","operationId":"create_4","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json;charset=UTF-8; qs=0.09":{"schema":{"$ref":"#/components/schemas/BTAppElementParams"}}},"required":true},"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BTAppElementModifyInfo"}}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Write"]}],"x-BTVisibility":"PRODUCTION"}},"/api/assemblies/d/{did}/w/{wid}/e/{eid}/translationformats":{"get":{"tags":["Assemblies"],"summary":"Get Translation Formats","operationId":"getTranslatorFormats","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wid","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}},{"name":"checkContent","in":"query","schema":{"type":"boolean","default":true}}],"responses":{"200":{"description":"Success!","content":{"application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BTModelFormatInfo"}}},"application/json;charset=UTF-8; qs=0.09":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BTModelFormatInfo"}}}}}},"deprecated":false,"x-BTVisibility":"PRODUCTION"}},"/api/assemblies/d/{did}/{wvm}/{wvmid}/e/{eid}/shadedviews":{"get":{"tags":["Assemblies"],"summary":"Shaded Views.","operationId":"getShadedViews","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvm","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvmid","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}},{"name":"linkDocumentId","in":"query","schema":{"type":"string"}},{"name":"viewMatrix","in":"query","schema":{"type":"string","default":"front"}},{"name":"outputHeight","in":"query","schema":{"type":"integer","format":"int32","default":500}},{"name":"outputWidth","in":"query","schema":{"type":"integer","format":"int32","default":500}},{"name":"pixelSize","in":"query","schema":{"type":"number","format":"double","default":0.003}},{"name":"edges","in":"query","schema":{"type":"string","default":"show"}},{"name":"showAllParts","in":"query","schema":{"type":"boolean","default":false}},{"name":"includeSurfaces","in":"query","schema":{"type":"boolean","default":true}},{"name":"useAntiAliasing","in":"query","schema":{"type":"boolean","default":false}},{"name":"displayStateId","in":"query","schema":{"type":"string"}},{"name":"configuration","in":"query","schema":{"type":"string"}},{"name":"explodedViewId","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"Success!","content":{"application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1":{"schema":{"$ref":"#/components/schemas/BTShadedViewsInfo"}},"application/json;charset=UTF-8; qs=0.09":{"schema":{"$ref":"#/components/schemas/BTShadedViewsInfo"}}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"}},"/api/assemblies/d/{did}/{wvm}/{wvmid}/e/{eid}":{"get":{"tags":["Assemblies"],"summary":"Assembly Definition.","operationId":"getAssemblyDefinition","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvm","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvmid","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}},{"name":"linkDocumentId","in":"query","schema":{"type":"string"}},{"name":"includeMateFeatures","in":"query","schema":{"type":"boolean"}},{"name":"includeNonSolids","in":"query","schema":{"type":"boolean"}},{"name":"includeMateConnectors","in":"query","schema":{"type":"boolean"}},{"name":"configuration","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"Success!","content":{"application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1":{"schema":{"$ref":"#/components/schemas/BTAssemblyDefinitionInfo"}},"application/json;charset=UTF-8; qs=0.09":{"schema":{"$ref":"#/components/schemas/BTAssemblyDefinitionInfo"}}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"}},"/api/assemblies/d/{did}/{wvm}/{wvmid}/e/{eid}/boundingboxes":{"get":{"tags":["Assemblies"],"summary":"Bounding Boxes.","operationId":"getBoundingBoxes","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvm","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvmid","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}},{"name":"linkDocumentId","in":"query","schema":{"type":"string"}},{"name":"includeHidden","in":"query","schema":{"type":"boolean"}},{"name":"displayStateId","in":"query","schema":{"type":"string"}},{"name":"configuration","in":"query","schema":{"type":"string"}},{"name":"explodedViewId","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"Success!","content":{"application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1":{"schema":{"$ref":"#/components/schemas/BTBoundingBoxInfo"}}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"}},"/api/assemblies/d/{did}/{wv}/{wvid}/e/{eid}/translations":{"post":{"tags":["Assemblies"],"summary":"Create Assembly translation.","operationId":"translateFormat","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wv","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvid","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json;charset=UTF-8; qs=0.09":{"schema":{"$ref":"#/components/schemas/BTTranslateFormatParams"}}},"required":true},"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1":{"schema":{"$ref":"#/components/schemas/BTTranslationRequestInfo"}},"application/json;charset=UTF-8; qs=0.09":{"schema":{"$ref":"#/components/schemas/BTTranslationRequestInfo"}}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"}},"/api/assemblies/d/{did}/w/{wid}/e/{eid}/instance/nodeid/{nid}":{"delete":{"tags":["Assemblies"],"summary":"Delete assembly instance.","operationId":"deleteInstance","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}},{"name":"wid","in":"path","required":true,"schema":{"type":"string"}},{"name":"nid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1":{},"application/json;charset=UTF-8; qs=0.09":{}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Write"]}],"x-BTVisibility":"PRODUCTION"}},"/api/assemblies/d/{did}/w/{wid}/e/{eid}/occurrencetransforms":{"post":{"tags":["Assemblies"],"summary":"Transform assembly occurrences.","operationId":"transformOccurrences","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}},{"name":"wid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json;charset=UTF-8; qs=0.09":{"schema":{"$ref":"#/components/schemas/BTAssemblyTransformDefinitionParams"}}},"required":true},"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1":{},"application/json;charset=UTF-8; qs=0.09":{}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Read","OAuth2Write"]}],"x-BTVisibility":"PRODUCTION"}},"/api/assemblies/d/{did}/w/{wid}/e/{eid}/transformedinstances":{"post":{"tags":["Assemblies"],"summary":"Create and transform assembly instances","operationId":"insertTransformedInstances","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}},{"name":"wid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json;charset=UTF-8; qs=0.09":{"schema":{"$ref":"#/components/schemas/BTAssemblyTransformedInstancesDefinitionParams"}}},"required":true},"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1":{},"application/json;charset=UTF-8; qs=0.09":{}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Read","OAuth2Write"]}],"x-BTVisibility":"PRODUCTION"}},"/api/assemblies/d/{did}/{wvm}/{wvmid}/e/{eid}/features":{"get":{"tags":["Assemblies"],"summary":"Get Feature List","operationId":"getFeatures","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvm","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvmid","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}},{"name":"featureId","in":"query","schema":{"type":"array","items":{"type":"string"}}},{"name":"linkDocumentId","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"Success!","content":{"application/vnd.onshape.v2+json;charset=UTF-8;qs=0.2":{"schema":{"$ref":"#/components/schemas/BTAssemblyFeatureListResponse"}}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"},"post":{"tags":["Assemblies"],"summary":"Add Feature","operationId":"addFeature","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvm","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvmid","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json;charset=UTF-8; qs=0.09":{"schema":{"type":"string"}}}},"responses":{"200":{"description":"Success!","content":{"application/vnd.onshape.v2+json;charset=UTF-8;qs=0.2":{"schema":{"$ref":"#/components/schemas/BTFeatureDefinitionResponse"}}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Write"]}],"x-BTVisibility":"PRODUCTION"}},"/api/assemblies/d/{did}/w/{wid}/e/{eid}/features/featureid/{fid}":{"post":{"tags":["Assemblies"],"summary":"Update Feature","operationId":"updateFeature","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wid","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}},{"name":"fid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json;charset=UTF-8; qs=0.09":{"schema":{"type":"string"}}}},"responses":{"200":{"description":"Success!","content":{"application/vnd.onshape.v2+json;charset=UTF-8;qs=0.2":{"schema":{"$ref":"#/components/schemas/BTFeatureDefinitionResponse"}}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Write"]}],"x-BTVisibility":"PRODUCTION"},"delete":{"tags":["Assemblies"],"summary":"Delete Feature","operationId":"deleteFeature","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wid","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}},{"name":"fid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success!","content":{"application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1":{"schema":{"$ref":"#/components/schemas/BTFeatureApiBase"}},"application/json;charset=UTF-8; qs=0.09":{"schema":{"$ref":"#/components/schemas/BTFeatureApiBase"}}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Write"]}],"x-BTVisibility":"PRODUCTION"}},"/api/assemblies/d/{did}/{wvm}/{wvmid}/e/{eid}/featurespecs":{"get":{"tags":["Assemblies"],"summary":"Get Feature Specs","operationId":"getFeatureSpecs","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvm","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvmid","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success!","content":{"application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1":{"schema":{"$ref":"#/components/schemas/BTFeatureSpecsResponse"}},"application/json;charset=UTF-8; qs=0.09":{"schema":{"$ref":"#/components/schemas/BTFeatureSpecsResponse"}}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"}},"/api/assemblies/d/{did}/e/{eid}/namedViews":{"get":{"tags":["Assemblies"],"summary":"Get Named Views","operationId":"getNamedViews","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}},{"name":"skipPerspective","in":"query","schema":{"type":"boolean","default":true}}],"responses":{"200":{"description":"Success!","content":{"application/vnd.onshape.v2+json;charset=UTF-8;qs=0.2":{"schema":{"$ref":"#/components/schemas/BTNamedViewsInfo"}}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"}},"/api/assemblies/d/{did}/w/{wid}":{"post":{"tags":["Assemblies"],"summary":"Create Assembly","operationId":"createAssembly","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json;charset=UTF-8; qs=0.09":{"schema":{"$ref":"#/components/schemas/BTModelElementParams"}}},"required":true},"responses":{"200":{"description":"Success!","content":{"application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1":{"schema":{"$ref":"#/components/schemas/BTDocumentElementInfo"}},"application/json;charset=UTF-8; qs=0.09":{"schema":{"$ref":"#/components/schemas/BTDocumentElementInfo"}}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Write"]}],"x-BTVisibility":"PRODUCTION"}},"/api/assemblies/d/{did}/w/{wid}/e/{eid}/bomelement":{"post":{"tags":["Assemblies"],"summary":"Get or Create Bill of Materials Element","operationId":"getOrCreateBillOfMaterialsElement","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wid","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success!","content":{"application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1":{"schema":{"$ref":"#/components/schemas/BTDocumentElementInfo"}},"application/json;charset=UTF-8; qs=0.09":{"schema":{"$ref":"#/components/schemas/BTDocumentElementInfo"}}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"}},"/api/assemblies/d/{did}/{wvm}/{wvmid}/e/{eid}/bom":{"get":{"tags":["Assemblies"],"operationId":"getBillOfMaterials","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvm","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvmid","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}},{"name":"metadataWorkspaceId","in":"query","schema":{"type":"string","default":""}},{"name":"bomColumnIds","in":"query","schema":{"type":"array","items":{"type":"string"}}},{"name":"indented","in":"query","schema":{"type":"boolean","default":true}},{"name":"multiLevel","in":"query","schema":{"type":"boolean","default":false}},{"name":"generateIfAbsent","in":"query","schema":{"type":"boolean","default":false}},{"name":"linkDocumentId","in":"query","schema":{"type":"string"}},{"name":"configuration","in":"query","schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1":{},"application/json;charset=UTF-8; qs=0.09":{}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"}},"/api/assemblies/d/{did}/w/{wid}/e/{eid}/instances":{"post":{"tags":["Assemblies"],"summary":"Create assembly instance","operationId":"createInstance","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wid","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json;charset=UTF-8; qs=0.09":{"schema":{"$ref":"#/components/schemas/BTAssemblyInstanceDefinitionParams"}}},"required":true},"responses":{"200":{"description":"Success!","content":{"application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BTOccurrence"}}},"application/json;charset=UTF-8; qs=0.09":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BTOccurrence"}}}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Read","OAuth2Write"]}],"x-BTVisibility":"PRODUCTION"}},"/api/blobelements/d/{did}/w/{wid}/e/{eid}":{"get":{"tags":["BlobElements"],"summary":"Download File From Blob Element.","operationId":"downloadFileWorkspace","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wid","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}},{"name":"contentDisposition","in":"query","schema":{"type":"string"}},{"name":"If-None-Match","in":"header","schema":{"type":"string"}},{"name":"linkDocumentId","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"Success!","content":{"application/vnd.onshape.v1+octet-stream;charset=UTF-8;qs=0.1":{"schema":{"$ref":"#/components/schemas/BTForeignItemInfo"}},"application/json;charset=UTF-8; qs=0.09":{"schema":{"$ref":"#/components/schemas/BTForeignItemInfo"}},"application/octet-stream":{"schema":{"$ref":"#/components/schemas/BTForeignItemInfo"}}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"}},"/api/blobelements/d/{did}/w/{wid}":{"post":{"tags":["BlobElements"],"operationId":"uploadFileCreateElement","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/FormDataMultiPart"}}},"required":true},"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1":{},"application/json;charset=UTF-8; qs=0.09":{}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Write"]}],"x-BTVisibility":"PRODUCTION"}},"/api/documents/d/{did}/w/{wid}/e/{eid}/latestdocumentreferences":{"post":{"tags":["Documents"],"operationId":"updateExternalReferencesToLatestDocuments","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wid","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json;charset=UTF-8; qs=0.09":{"schema":{"$ref":"#/components/schemas/BTLinkToLatestDocumentParams"}}}},"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1":{},"application/json;charset=UTF-8; qs=0.09":{}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Write"]}],"x-BTVisibility":"PRODUCTION"}},"/api/documents/d/{did}/versions":{"get":{"tags":["Documents"],"summary":"Get Versions","operationId":"getVersions_1","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"offset","in":"query","schema":{"type":"integer","format":"int32","default":0}},{"name":"limit","in":"query","schema":{"type":"integer","format":"int32","default":0}}],"responses":{"200":{"description":"Success!","content":{"application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BTVersionInfo"}}},"application/json;charset=UTF-8; qs=0.09":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BTVersionInfo"}}}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"},"post":{"tags":["Documents"],"operationId":"createVersion","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json;charset=UTF-8; qs=0.09":{"schema":{"$ref":"#/components/schemas/BTVersionOrWorkspaceParams"}}},"required":true},"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1":{},"application/json;charset=UTF-8; qs=0.09":{}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Write"]}],"x-BTVisibility":"PRODUCTION"}},"/api/documents/d/{did}/workspaces":{"get":{"tags":["Documents"],"summary":"Get Workspaces","operationId":"getWorkspaces_1","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success!","content":{"application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BTWorkspaceInfo"}}},"application/json;charset=UTF-8; qs=0.09":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BTWorkspaceInfo"}}}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"},"post":{"tags":["Documents"],"operationId":"createWorkspace","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json;charset=UTF-8; qs=0.09":{"schema":{"$ref":"#/components/schemas/BTVersionOrWorkspaceParams"}}}},"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1":{},"application/json;charset=UTF-8; qs=0.09":{}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Write"]}],"x-BTVisibility":"PRODUCTION"}},"/api/documents/{did}":{"get":{"tags":["Documents"],"summary":"Get Document","operationId":"getDocument","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success!","content":{"application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1":{"schema":{"$ref":"#/components/schemas/BTDocumentInfo"}},"application/json;charset=UTF-8; qs=0.09":{"schema":{"$ref":"#/components/schemas/BTDocumentInfo"}}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"},"delete":{"tags":["Documents"],"operationId":"delete_7","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"forever","in":"query","schema":{"type":"boolean","default":false}}],"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1":{},"application/json;charset=UTF-8; qs=0.09":{}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Delete"]}],"x-BTVisibility":"PRODUCTION"}},"/api/documents/{did}/workspaces/{wid}/copy":{"post":{"tags":["Documents"],"operationId":"copyWorkspace","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json;charset=UTF-8; qs=0.09":{"schema":{"$ref":"#/components/schemas/BTCopyDocumentParams"}}}},"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1":{},"application/json;charset=UTF-8; qs=0.09":{}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Write"]}],"x-BTVisibility":"PRODUCTION"}},"/api/documents":{"get":{"tags":["Documents"],"summary":"Get Documents","operationId":"getDocuments","parameters":[{"name":"q","in":"query","schema":{"type":"string","default":""}},{"name":"filter","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"owner","in":"query","schema":{"type":"string","default":""}},{"name":"ownerType","in":"query","schema":{"type":"integer","format":"int32","default":1}},{"name":"sortColumn","in":"query","schema":{"type":"string","default":"createdAt"}},{"name":"sortOrder","in":"query","schema":{"type":"string","default":"desc"}},{"name":"offset","in":"query","schema":{"type":"integer","format":"int32","default":0}},{"name":"limit","in":"query","schema":{"type":"integer","format":"int32","default":20}},{"name":"label","in":"query","schema":{"type":"string"}},{"name":"project","in":"query","schema":{"type":"string"}},{"name":"parentId","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BTGlobalTreeNodeListResponse"}}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"},"post":{"tags":["Documents"],"summary":"Create document.","operationId":"createDocument","parameters":[],"requestBody":{"content":{"application/json;charset=UTF-8; qs=0.09":{"schema":{"$ref":"#/components/schemas/BTDocumentParams"}}},"required":true},"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1":{"schema":{"$ref":"#/components/schemas/BTDocumentInfo"}},"application/json;charset=UTF-8; qs=0.09":{"schema":{"$ref":"#/components/schemas/BTDocumentInfo"}}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Write"]}],"x-BTVisibility":"PRODUCTION"}},"/api/documents/{did}/permissionset":{"get":{"tags":["Documents"],"operationId":"getDocumentPermissionSet","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1":{},"application/json;charset=UTF-8; qs=0.09":{}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"}},"/api/documents/d/{did}/{wvm}/{wvmid}/insertables":{"get":{"tags":["Documents"],"operationId":"getInsertables","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvm","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvmid","in":"path","required":true,"schema":{"type":"string"}},{"name":"betaCapabilityIds","in":"query","schema":{"uniqueItems":true,"type":"array","items":{"type":"string"}}},{"name":"includeParts","in":"query","schema":{"type":"boolean","default":false}},{"name":"includeSurfaces","in":"query","schema":{"type":"boolean","default":false}},{"name":"includeWires","in":"query","schema":{"type":"boolean","default":false}},{"name":"includeSketches","in":"query","schema":{"type":"boolean","default":false}},{"name":"includeReferenceFeatures","in":"query","schema":{"type":"boolean","default":false}},{"name":"includeAssemblies","in":"query","schema":{"type":"boolean","default":false}},{"name":"includeFeatures","in":"query","schema":{"type":"boolean","default":false}},{"name":"includeFeatureStudios","in":"query","schema":{"type":"boolean","default":false}},{"name":"includePartStudios","in":"query","schema":{"type":"boolean","default":false}},{"name":"includeBlobs","in":"query","schema":{"type":"boolean","default":false}},{"name":"includeMeshes","in":"query","schema":{"type":"boolean","default":false}},{"name":"includeFlattenedBodies","in":"query","schema":{"type":"boolean","default":false}},{"name":"allowedBlobMimeTypes","in":"query","schema":{"type":"string","default":""}},{"name":"maxFeatureScriptVersion","in":"query","schema":{"type":"integer","format":"int32","default":0}},{"name":"includeApplications","in":"query","schema":{"type":"boolean","default":false}},{"name":"allowedApplicationMimeTypes","in":"query","schema":{"type":"string","default":""}}],"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1":{},"application/json;charset=UTF-8; qs=0.09":{}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"}},"/api/documents/d/{did}/externaldata/{fid}":{"get":{"tags":["Documents"],"summary":"Download External Data","operationId":"downloadExternalData","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"fid","in":"path","required":true,"schema":{"type":"string"}},{"name":"If-None-Match","in":"header","schema":{"type":"string"}}],"responses":{"200":{"description":"Success!","content":{"application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1":{"schema":{"type":"string","format":"binary"}},"application/json;charset=UTF-8; qs=0.09":{"schema":{"type":"string","format":"binary"}},"application/vnd.onshape.v1+octet-stream;charset=UTF-8;qs=0.1":{"schema":{"type":"string","format":"binary"}},"application/octet-stream":{"schema":{"type":"string","format":"binary"}}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"}},"/api/documents/d/{did}/{wv}/{wvid}/e/{eid}/export":{"post":{"tags":["Documents"],"operationId":"export2Json","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wv","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvid","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json;charset=UTF-8; qs=0.09":{"schema":{"$ref":"#/components/schemas/BTExportModelParams"}}}},"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+octet-stream;charset=UTF-8;qs=0.1":{},"application/json;charset=UTF-8; qs=0.09":{}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"}},"/api/documents/d/{did}/versions/{vid}":{"get":{"tags":["Documents"],"summary":"Get Version","operationId":"getVersion","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"vid","in":"path","required":true,"schema":{"type":"string"}},{"name":"parents","in":"query","schema":{"type":"boolean","default":false}},{"name":"linkDocumentId","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"Success!","content":{"application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1":{"schema":{"$ref":"#/components/schemas/BTVersionInfo"}},"application/json;charset=UTF-8; qs=0.09":{"schema":{"$ref":"#/components/schemas/BTVersionInfo"}}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"}},"/api/documents/d/{did}/workspaces/{wid}":{"delete":{"tags":["Documents"],"operationId":"deleteWorkspace","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1":{},"application/json;charset=UTF-8; qs=0.09":{}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Delete"]}],"x-BTVisibility":"PRODUCTION"}},"/api/documents/{did}/workspaces/{wid}/restore/{mvid}":{"post":{"tags":["Documents"],"operationId":"restoreRendition","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wid","in":"path","required":true,"schema":{"type":"string"}},{"name":"mvid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1":{},"application/json;charset=UTF-8; qs=0.09":{}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Write"]}],"x-BTVisibility":"PRODUCTION"}},"/api/documents/{did}/workspaces/{wid}/merge":{"post":{"tags":["Documents"],"summary":"Merge into workspace","operationId":"mergeIntoWorkspace","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json;charset=UTF-8; qs=0.09":{"schema":{"$ref":"#/components/schemas/BTVersionOrWorkspaceInfo"}}},"required":true},"responses":{"200":{"description":"Success!","content":{"application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1":{"schema":{"$ref":"#/components/schemas/BTDocumentMergeInfo"}},"application/json;charset=UTF-8; qs=0.09":{"schema":{"$ref":"#/components/schemas/BTDocumentMergeInfo"}}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Write"]}],"x-BTVisibility":"PRODUCTION"}},"/api/documents/d/{did}/{wv}/{wvid}/currentmicroversion":{"get":{"tags":["Documents"],"summary":"Get Current Document Microversion","operationId":"getCurrentMicroversion","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wv","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success!","content":{"application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1":{"schema":{"$ref":"#/components/schemas/BTMicroversionInfo"}},"application/json;charset=UTF-8; qs=0.09":{"schema":{"$ref":"#/components/schemas/BTMicroversionInfo"}}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"}},"/api/documents/{did}/acl":{"get":{"tags":["Documents"],"operationId":"getAcl","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1":{},"application/json;charset=UTF-8; qs=0.09":{}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"}},"/api/documents/d/{did}/w/{wid}/syncApplicationElements":{"post":{"tags":["Documents"],"operationId":"syncApplicationElements","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wid","in":"path","required":true,"schema":{"type":"string"}},{"name":"applicationElementIds","in":"query","required":true,"schema":{"type":"array","items":{"type":"string"}}},{"name":"description","in":"query","schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1":{},"application/json;charset=UTF-8; qs=0.09":{}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Write"]}],"x-BTVisibility":"PRODUCTION"}},"/api/documents/d/{did}/{wvm}/{wvmid}/elements":{"get":{"tags":["Documents"],"summary":"Get a list of elements in the workspace, version, or microversion of the document.","operationId":"getElements_2","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvm","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvmid","in":"path","required":true,"schema":{"type":"string"}},{"name":"elementType","in":"query","schema":{"type":"string","default":""}},{"name":"elementId","in":"query","schema":{"type":"string","default":""}},{"name":"withThumbnails","in":"query","schema":{"type":"boolean","default":false}},{"name":"linkDocumentId","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"Success!","content":{"application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BTDocumentElementInfo"}}},"application/json;charset=UTF-8; qs=0.09":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BTDocumentElementInfo"}}}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"}},"/api/drawings/d/{did}/w/{wid}/e/{eid}/translationformats":{"get":{"tags":["Drawings"],"operationId":"getTranslatorFormats_2","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wid","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1":{},"application/json;charset=UTF-8; qs=0.09":{}}}},"deprecated":false,"x-BTVisibility":"PRODUCTION"}},"/api/drawings/d/{did}/{wv}/{wvid}/e/{eid}/translations":{"post":{"tags":["Drawings"],"summary":"Create Drawing translation","operationId":"translateFormat_4","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wv","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvid","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json;charset=UTF-8; qs=0.09":{"schema":{"$ref":"#/components/schemas/BTTranslateFormatParams"}}},"required":true},"responses":{"200":{"description":"Success!","content":{"application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1":{"schema":{"$ref":"#/components/schemas/BTTranslationRequestInfo"}},"application/json;charset=UTF-8; qs=0.09":{"schema":{"$ref":"#/components/schemas/BTTranslationRequestInfo"}}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"}},"/api/elements/upload/{did}":{"post":{"tags":["Elements"],"operationId":"uploadFile_1","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"elementId","in":"query","schema":{"type":"string"}},{"name":"workspaceId","in":"query","schema":{"type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/FormDataMultiPart"}}},"required":true},"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1":{},"application/json;charset=UTF-8; qs=0.09":{}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Write"]}],"x-BTVisibility":"PRODUCTION"}},"/api/elements/{did}/version/{vid}":{"get":{"tags":["Elements"],"operationId":"getElementByVersionDeprecated","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"vid","in":"path","required":true,"schema":{"type":"string"}},{"name":"withThumbnails","in":"query","schema":{"type":"boolean","default":false}}],"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1":{},"application/json;charset=UTF-8; qs=0.09":{}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"}},"/api/elements/{did}/workspace/{wid}":{"get":{"tags":["Elements"],"operationId":"getElementByWorkspaceDeprecated","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wid","in":"path","required":true,"schema":{"type":"string"}},{"name":"withThumbnails","in":"query","schema":{"type":"boolean","default":false}}],"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1":{},"application/json;charset=UTF-8; qs=0.09":{}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"}},"/api/elements/{emid}":{"get":{"tags":["Elements"],"operationId":"getElementMetadataDeprecated","parameters":[{"name":"emid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1":{},"application/json;charset=UTF-8; qs=0.09":{}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"}},"/api/elements/d/{did}/{wv}/{wvid}/e/{eid}/metadata":{"get":{"tags":["Elements"],"operationId":"getElementMetadata","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wv","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvid","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}},{"name":"linkDocumentId","in":"query","schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1":{},"application/json;charset=UTF-8; qs=0.09":{}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"},"post":{"tags":["Elements"],"operationId":"updateElementMetadata","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wv","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvid","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json;charset=UTF-8; qs=0.09":{"schema":{"$ref":"#/components/schemas/BTPDMMetadataParams"}}},"required":true},"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1":{},"application/json;charset=UTF-8; qs=0.09":{}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Read","OAuth2Write"]}],"x-BTVisibility":"PRODUCTION"}},"/api/elements/copyelement/{did}/workspace/{wid}":{"post":{"tags":["Elements"],"operationId":"copyElementFromSourceDocument","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json;charset=UTF-8; qs=0.09":{"schema":{"$ref":"#/components/schemas/BTCopyElementParams"}}},"required":true},"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1":{},"application/json;charset=UTF-8; qs=0.09":{}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Write"]}],"x-BTVisibility":"PRODUCTION"}},"/api/elements/translatorFormats":{"get":{"tags":["Elements"],"operationId":"getTranslatorFormats_3","parameters":[],"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1":{},"application/json;charset=UTF-8; qs=0.09":{}}}},"deprecated":false,"x-BTVisibility":"PRODUCTION"}},"/api/elements/d/{did}/e/{eid}/configurationencodings":{"post":{"tags":["Elements"],"operationId":"encodeConfigurationMap","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}},{"name":"versionId","in":"query","schema":{"type":"string"}},{"name":"linkDocumentId","in":"query","schema":{"type":"string"}}],"requestBody":{"content":{"application/json;charset=UTF-8; qs=0.09":{"schema":{"$ref":"#/components/schemas/BTConfigurationParams"}}},"required":true},"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1":{},"application/json;charset=UTF-8; qs=0.09":{}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"}},"/api/elements/d/{did}/{wvm}/{wvmid}/e/{eid}/configurationencodings/{cid}":{"get":{"tags":["Elements"],"operationId":"decodeConfiguration","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvm","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvmid","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}},{"name":"cid","in":"path","required":true,"schema":{"type":"string"}},{"name":"linkDocumentId","in":"query","schema":{"type":"string"}},{"name":"includeDisplay","in":"query","schema":{"type":"boolean","default":false}},{"name":"configurationIsId","in":"query","schema":{"type":"boolean","default":false}}],"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1":{},"application/json;charset=UTF-8; qs=0.09":{}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"}},"/api/elements/d/{did}/w/{wid}/e/{eid}/updatereferences":{"post":{"tags":["Elements"],"operationId":"updateReferences","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wid","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json;charset=UTF-8; qs=0.09":{"schema":{"$ref":"#/components/schemas/BTUpdateReferenceParams"}}},"required":true},"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1":{},"application/json;charset=UTF-8; qs=0.09":{}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Read","OAuth2Write"]}],"x-BTVisibility":"PRODUCTION"}},"/api/elements/d/{did}/{wvm}/{wvmid}/e/{eid}/configuration":{"get":{"tags":["Elements"],"operationId":"getConfiguration","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvm","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvmid","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1":{},"application/json;charset=UTF-8; qs=0.09":{}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"},"post":{"tags":["Elements"],"operationId":"updateConfiguration","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvm","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvmid","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json;charset=UTF-8; qs=0.09":{"schema":{"type":"string"}}}},"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1":{},"application/json;charset=UTF-8; qs=0.09":{}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Write"]}],"x-BTVisibility":"PRODUCTION"}},"/api/elements/translatorFormats/{did}/{wid}/{eid}":{"get":{"tags":["Elements"],"operationId":"getElementTranslatorFormats","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wid","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}},{"name":"checkContent","in":"query","schema":{"type":"boolean","default":true}},{"name":"configuration","in":"query","schema":{"type":"string","default":""}}],"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1":{},"application/json;charset=UTF-8; qs=0.09":{}}}},"deprecated":false,"x-BTVisibility":"PRODUCTION"}},"/api/elements/d/{did}/w/{wid}/e/{eid}":{"delete":{"tags":["Elements"],"operationId":"delete_8","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wid","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1":{},"application/json;charset=UTF-8; qs=0.09":{}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Delete"]}],"x-BTVisibility":"PRODUCTION"}},"/api/featurestudios/d/{did}/{wvm}/{wvmid}/e/{eid}":{"get":{"tags":["FeatureStudios"],"summary":"Get Feature Studio Contents.","operationId":"getFeatureStudioContents","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvm","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvmid","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success!","content":{"application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1":{"schema":{"$ref":"#/components/schemas/BTFeatureStudioContents"}},"application/json;charset=UTF-8; qs=0.09":{"schema":{"$ref":"#/components/schemas/BTFeatureStudioContents"}}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"},"post":{"tags":["FeatureStudios"],"operationId":"updateFeatureStudioContents","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvm","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvmid","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json;charset=UTF-8; qs=0.09":{"schema":{"type":"string"}}}},"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1":{},"application/json;charset=UTF-8; qs=0.09":{}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Write"]}],"x-BTVisibility":"PRODUCTION"}},"/api/featurestudios/d/{did}/w/{wid}":{"post":{"tags":["FeatureStudios"],"operationId":"createFeatureStudio","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json;charset=UTF-8; qs=0.09":{"schema":{"$ref":"#/components/schemas/BTModelElementParams"}}},"required":true},"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1":{},"application/json;charset=UTF-8; qs=0.09":{}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Write"]}],"x-BTVisibility":"PRODUCTION"}},"/api/featurestudios/d/{did}/{wvm}/{wvmid}/e/{eid}/featurespecs":{"get":{"tags":["FeatureStudios"],"operationId":"getFeatureStudioSpecs","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvm","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvmid","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1":{},"application/json;charset=UTF-8; qs=0.09":{}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"}},"/api/metadata/d/{did}/{wv}/{wvid}":{"get":{"tags":["Metadata"],"operationId":"getWVMetadata","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wv","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvid","in":"path","required":true,"schema":{"type":"string"}},{"name":"linkDocumentId","in":"query","schema":{"type":"string"}},{"name":"inferMetadataOwner","in":"query","schema":{"type":"boolean","default":false}}],"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1":{},"application/json;charset=UTF-8; qs=0.09":{}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"},"post":{"tags":["Metadata"],"operationId":"updateWVMetadata","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wv","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json;charset=UTF-8; qs=0.09":{"schema":{"type":"string"}}},"required":true},"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1":{},"application/json;charset=UTF-8; qs=0.09":{}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Write"]}],"x-BTVisibility":"PRODUCTION"}},"/api/metadata/d/{did}/{wv}/{wvid}/e":{"get":{"tags":["Metadata"],"operationId":"getWVEsMetadata","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wv","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvid","in":"path","required":true,"schema":{"type":"string"}},{"name":"linkDocumentId","in":"query","schema":{"type":"string"}},{"name":"inferMetadataOwner","in":"query","schema":{"type":"boolean","default":false}}],"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1":{},"application/json;charset=UTF-8; qs=0.09":{}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"}},"/api/metadata/d/{did}/{wv}/{wvid}/e/{eid}":{"get":{"tags":["Metadata"],"operationId":"getWVEMetadata","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wv","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvid","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}},{"name":"configuration","in":"query","schema":{"type":"string"}},{"name":"linkDocumentId","in":"query","schema":{"type":"string"}},{"name":"inferMetadataOwner","in":"query","schema":{"type":"boolean","default":false}}],"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1":{},"application/json;charset=UTF-8; qs=0.09":{}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"},"post":{"tags":["Metadata"],"operationId":"updateWVEMetadata","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wv","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvid","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json;charset=UTF-8; qs=0.09":{"schema":{"type":"string"}}},"required":true},"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1":{},"application/json;charset=UTF-8; qs=0.09":{}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Write"]}],"x-BTVisibility":"PRODUCTION"}},"/api/metadata/d/{did}/{wvm}/{wvmid}/e/{eid}/p":{"get":{"tags":["Metadata"],"operationId":"getWMVEPsMetadata","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvm","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvmid","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}},{"name":"configuration","in":"query","schema":{"type":"string"}},{"name":"linkDocumentId","in":"query","schema":{"type":"string"}},{"name":"inferMetadataOwner","in":"query","schema":{"type":"boolean","default":false}}],"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1":{},"application/json;charset=UTF-8; qs=0.09":{}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"}},"/api/metadata/d/{did}/{wvm}/{wvmid}/e/{eid}/p/{pid}":{"get":{"tags":["Metadata"],"operationId":"getWMVEPMetadata","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvm","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvmid","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}},{"name":"pid","in":"path","required":true,"schema":{"type":"string"}},{"name":"configuration","in":"query","schema":{"type":"string"}},{"name":"linkDocumentId","in":"query","schema":{"type":"string"}},{"name":"inferMetadataOwner","in":"query","schema":{"type":"boolean","default":false}}],"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1":{},"application/json;charset=UTF-8; qs=0.09":{}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"},"post":{"tags":["Metadata"],"operationId":"updateWVEPMetadata","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvm","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvmid","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}},{"name":"pid","in":"path","required":true,"schema":{"type":"string"}},{"name":"subResource","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json;charset=UTF-8; qs=0.09":{"schema":{"type":"string"}}},"required":true},"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1":{},"application/json;charset=UTF-8; qs=0.09":{}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Write"]}],"x-BTVisibility":"PRODUCTION"}},"/api/metadata/standardcontent/d/{did}/v/{vid}/e/{eid}/{otype}/{oid}/p/{pid}":{"get":{"tags":["Metadata"],"operationId":"getVEOPStandardContentMetadata","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"vid","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}},{"name":"otype","in":"path","required":true,"schema":{"type":"string"}},{"name":"oid","in":"path","required":true,"schema":{"type":"string"}},{"name":"pid","in":"path","required":true,"schema":{"type":"string"}},{"name":"configuration","in":"query","schema":{"type":"string"}},{"name":"linkDocumentId","in":"query","schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1":{},"application/json;charset=UTF-8; qs=0.09":{}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"},"post":{"tags":["Metadata"],"operationId":"updateVEOPStandardContentPartMetadata","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"vid","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}},{"name":"otype","in":"path","required":true,"schema":{"type":"string"}},{"name":"oid","in":"path","required":true,"schema":{"type":"string"}},{"name":"pid","in":"path","required":true,"schema":{"type":"string"}},{"name":"linkDocumentId","in":"query","schema":{"type":"string"}}],"requestBody":{"content":{"application/json;charset=UTF-8; qs=0.09":{"schema":{"type":"string"}}},"required":true},"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1":{},"application/json;charset=UTF-8; qs=0.09":{}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Write"]}],"x-BTVisibility":"PRODUCTION"}},"/api/openapi":{"get":{"tags":["OpenAPI"],"summary":"OpenAPI spec documentation for the Onshape REST API.","operationId":"getOpenApi","parameters":[{"name":"fileType","in":"query","description":"The type of file to return. Defaults to JSON.","schema":{"type":"string","enum":["JSON","YAML"],"default":"JSON"}},{"name":"excludedTags","in":"query","description":"If an operation contains an excluded tag, it is not returned from this endpoint.","schema":{"type":"string"}},{"name":"includedTags","in":"query","description":"Return only operations with tags included in includedTags.","schema":{"type":"string"}},{"name":"includeDeprecated","in":"query","description":"Include deprecated endpoints.","schema":{"type":"boolean"}},{"name":"documentationStatus","in":"query","description":"Only return endpoints that have the specified document status. Default is to return all the endpoints the user should have access to.","schema":{"type":"array","items":{"type":"string","enum":["DEVELOPMENT","PRODUCTION","STAGING","EVP","UNSET","INTERNAL"]}}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OpenAPI"}}}}},"deprecated":false,"x-BTVisibility":"PRODUCTION"}},"/api/parts/d/{did}/{wvm}/{wvmid}":{"get":{"tags":["Parts"],"summary":"Get list of parts","operationId":"getPartsWMV","parameters":[{"name":"did","in":"path","description":"Document ID.","required":true,"schema":{"type":"string"}},{"name":"wvm","in":"path","description":"One of w or v or m corresponding to whether a workspace or version or microversion was entered.","required":true,"schema":{"type":"string"}},{"name":"wvmid","in":"path","description":"Workspace (w), Version (v) or Microversion (m) ID.","required":true,"schema":{"type":"string"}},{"name":"elementId","in":"query","description":"Element ID","schema":{"type":"string"}},{"name":"withThumbnails","in":"query","description":"Whether or not to include thumbnails (not supported for microversion)","schema":{"type":"boolean","default":false}},{"name":"includePropertyDefaults","in":"query","description":"If true, include metadata schema property defaults in response","schema":{"type":"boolean","default":false}},{"name":"linkDocumentId","in":"query","description":"Id of document that links to the document being accessed. This may provide additional access rights to the document. Allowed only with version (v) path parameter.","schema":{"type":"string"}},{"name":"configuration","in":"query","description":"Configuration string.","schema":{"type":"string"}}],"responses":{"200":{"description":"Success!","content":{"application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BTPartMetadataInfo"}}},"application/json;charset=UTF-8; qs=0.09":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BTPartMetadataInfo"}}}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"},"post":{"tags":["Parts"],"summary":"Part metadata batch update.","operationId":"updatePartsWMV","parameters":[{"name":"did","in":"path","description":"Document ID.","required":true,"schema":{"type":"string"}},{"name":"wvm","in":"path","description":"One of w or v or m corresponding to whether a workspace or version or microversion was entered.","required":true,"schema":{"type":"string"}},{"name":"wvmid","in":"path","description":"Workspace (w), Version (v) or Microversion (m) ID.","required":true,"schema":{"type":"string"}},{"name":"editDescription","in":"query","description":"Description of the update (as appear in document history)","schema":{"type":"string"}}],"requestBody":{"content":{"application/json;charset=UTF-8; qs=0.09":{"schema":{"type":"string"}}}},"responses":{"default":{"description":"default response","content":{"application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1":{},"application/json;charset=UTF-8; qs=0.09":{}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Read","OAuth2Write"]}],"x-BTVisibility":"PRODUCTION"}},"/api/parts/d/{did}/{wvm}/{wvmid}/e/{eid}":{"get":{"tags":["Parts"],"summary":"Get parts from an element.","operationId":"getPartsWMVE","parameters":[{"name":"did","in":"path","description":"Document ID.","required":true,"schema":{"type":"string"}},{"name":"wvm","in":"path","description":"One of w or v or m corresponding to whether a workspace or version or microversion was entered.","required":true,"schema":{"type":"string"}},{"name":"wvmid","in":"path","description":"Workspace (w), Version (v) or Microversion (m) ID.","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","description":"Element ID.","required":true,"schema":{"type":"string"}},{"name":"withThumbnails","in":"query","description":"Whether or not to include thumbnails (not supported for microversion)","schema":{"type":"boolean","default":false}},{"name":"includePropertyDefaults","in":"query","description":"If true, include metadata schema property defaults in response","schema":{"type":"boolean","default":false}},{"name":"configuration","in":"query","description":"Configuration string.","schema":{"type":"string"}},{"name":"linkDocumentId","in":"query","description":"Id of document that links to the document being accessed. This may provide additional access rights to the document. Allowed only with version (v) path parameter.","schema":{"type":"string"}}],"responses":{"200":{"description":"Success!","content":{"application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BTPartMetadataInfo"}}},"application/json;charset=UTF-8; qs=0.09":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BTPartMetadataInfo"}}}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"}},"/api/partstudios/d/{did}/{wvm}/{wvmid}/e/{eid}/configuration":{"get":{"tags":["PartStudios"],"summary":"Get Configuration","operationId":"getConfiguration_1","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvm","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvmid","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success!"}},"deprecated":false,"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"},"post":{"tags":["PartStudios"],"summary":"Update Configuration","operationId":"updateConfiguration_1","parameters":[{"name":"did","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvm","in":"path","required":true,"schema":{"type":"string"}},{"name":"wvmid","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json;charset=UTF-8; qs=0.09":{"schema":{"type":"string"}}}},"responses":{"200":{"description":"Success!"}},"deprecated":false,"security":[{"OAuth2":["OAuth2Write"]}],"x-BTVisibility":"PRODUCTION"}},"/api/partstudios/d/{did}/{wvm}/{wvmid}/e/{eid}/stl":{"get":{"tags":["PartStudios"],"summary":"Export Part Studio to STL","operationId":"exportStl_1","parameters":[{"name":"did","in":"path","description":"Document ID.","required":true,"schema":{"type":"string"}},{"name":"wvm","in":"path","description":"One of w or v or m corresponding to whether a workspace or version or microversion was entered.","required":true,"schema":{"type":"string"}},{"name":"wvmid","in":"path","description":"Workspace (w), Version (v) or Microversion (m) ID.","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","description":"Element ID.","required":true,"schema":{"type":"string"}},{"name":"partIds","in":"query","description":"IDs of the parts to retrieve. Repeat query param to add more than one (i.e. partId=JHK&partId=JHD). May not be combined with other ID filters","schema":{"type":"string"}},{"name":"mode","in":"query","description":"Type of file: text, binary","schema":{"type":"string","default":"text"}},{"name":"grouping","in":"query","description":"Whether parts should be exported as a group or individually in a .zip file","schema":{"type":"boolean","default":true}},{"name":"scale","in":"query","description":"Scale for measurements.","schema":{"type":"number","format":"double","default":1.0}},{"name":"units","in":"query","description":"Name of base unit (meter, centimeter, millimeter, inch, foot, or yard)","schema":{"type":"string","default":"inch"}},{"name":"angleTolerance","in":"query","description":"Angle tolerance (in radians). This specifies the limit on the sum of the angular deviations of a tessellation chord from the tangent vectors at two chord endpoints. The specified value must be less than PI/2. This parameter currently has a default value chosen based on the complexity of the parts being tessellated.","schema":{"type":"number","format":"double"}},{"name":"chordTolerance","in":"query","description":"Chord tolerance (in meters). This specifies the limit on the maximum deviation of a tessellation chord from the true surface/edge. This parameter currently has a default value chosen based on the size and complexity of the parts being tessellated.","schema":{"type":"number","format":"double"}},{"name":"maxFacetWidth","in":"query","description":"Max facet width. This specifies the limit on the size of any side of a tessellation facet.","schema":{"type":"number","format":"double"}},{"name":"minFacetWidth","in":"query","description":"Max facet width. This specifies the limit on the size of any side of a tessellation facet.","schema":{"type":"number","format":"double"}},{"name":"configuration","in":"query","description":"Configuration string.","schema":{"type":"string"}},{"name":"linkDocumentId","in":"query","description":"Id of document that links to the document being accessed. This may provide additional access rights to the document. Allowed only with version (v) path parameter.","schema":{"type":"string"}}],"responses":{"307":{"description":"A Redirect!"}},"deprecated":false,"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"}},"/api/partstudios/d/{did}/{wvm}/{wvmid}/e/{eid}/parasolid":{"get":{"tags":["PartStudios"],"summary":"Export Part Studio to Parasolid","operationId":"exportPS_1","parameters":[{"name":"did","in":"path","description":"Document ID.","required":true,"schema":{"type":"string"}},{"name":"wvm","in":"path","description":"One of w or v or m corresponding to whether a workspace or version or microversion was entered.","required":true,"schema":{"type":"string"}},{"name":"wvmid","in":"path","description":"Workspace (w), Version (v) or Microversion (m) ID.","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","description":"Element ID.","required":true,"schema":{"type":"string"}},{"name":"partIds","in":"query","description":"IDs of the parts to retrieve. Repeat query param to add more than one (i.e. partId=JHK&partId=JHD). May not be combined with other ID filters","schema":{"type":"string"}},{"name":"version","in":"query","description":"Parasolid version","schema":{"type":"string","default":"0"}},{"name":"includeExportIds","in":"query","description":"Whether topolgy ids should be exported as parasolid attributes","schema":{"type":"boolean","default":false}},{"name":"configuration","in":"query","description":"Configuration string.","schema":{"type":"string"}},{"name":"linkDocumentId","in":"query","description":"Id of document that links to the document being accessed. This may provide additional access rights to the document. Allowed only with version (v) path parameter.","schema":{"type":"string"}}],"responses":{"307":{"description":"A Redirect!"}},"deprecated":false,"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"}},"/api/partstudios/d/{did}/w/{wid}":{"post":{"tags":["PartStudios"],"summary":"Create Part Studio","operationId":"createPartStudio","parameters":[{"name":"did","in":"path","description":"Document ID.","required":true,"schema":{"type":"string"}},{"name":"wid","in":"path","description":"Workspace ID.","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json;charset=UTF-8; qs=0.09":{"schema":{"$ref":"#/components/schemas/BTModelElementParams"}}},"required":true},"responses":{"200":{"description":"Success!","content":{"application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1":{"schema":{"$ref":"#/components/schemas/BTDocumentElementInfo"}},"application/json;charset=UTF-8; qs=0.09":{"schema":{"$ref":"#/components/schemas/BTDocumentElementInfo"}}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Write"]}],"x-BTVisibility":"PRODUCTION"}},"/api/partstudios/d/{did}/w/{wid}/e/{eid}/features/updates":{"post":{"tags":["PartStudios"],"summary":"Update Features","operationId":"updateFeatures","parameters":[{"name":"did","in":"path","description":"Document ID.","required":true,"schema":{"type":"string"}},{"name":"wid","in":"path","description":"Workspace ID.","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","description":"Element ID.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"feature The serialized feature definition","content":{"application/json;charset=UTF-8; qs=0.09":{"schema":{"type":"string"}}}},"responses":{"200":{"description":"Success!"}},"deprecated":false,"security":[{"OAuth2":["OAuth2Write"]}],"x-BTVisibility":"PRODUCTION"}},"/api/partstudios/d/{did}/w/{wid}/e/{eid}/features/rollback":{"post":{"tags":["PartStudios"],"summary":"Update Feature Rollback","operationId":"updateRollback","parameters":[{"name":"did","in":"path","description":"Document ID.","required":true,"schema":{"type":"string"}},{"name":"wid","in":"path","description":"Workspace ID.","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","description":"Element ID.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The index at which the rollback index should be placed. Features\n with entry index (0-based) higher than or equal to the value are rolled back. Value of -1 is treated\n as an alias for \"end of feature list\". Otherwise the value must be in the range 0 to the number of\n entries in the feature list","content":{"application/json;charset=UTF-8; qs=0.09":{"schema":{"type":"string"}}}},"responses":{"200":{"description":"Success!"}},"deprecated":false,"security":[{"OAuth2":["OAuth2Write"]}],"x-BTVisibility":"PRODUCTION"}},"/api/partstudios/d/{did}/{wvm}/{wvmid}/e/{eid}/featurescript":{"post":{"tags":["PartStudios"],"summary":"Evaluate FeatureScript","operationId":"evalFeatureScript","parameters":[{"name":"did","in":"path","description":"Document ID.","required":true,"schema":{"type":"string"}},{"name":"wvm","in":"path","description":"One of w or v or m corresponding to whether a workspace or version or microversion was entered.","required":true,"schema":{"type":"string"}},{"name":"wvmid","in":"path","description":"Workspace (w), Version (v) or Microversion (m) ID.","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","description":"Element ID.","required":true,"schema":{"type":"string"}},{"name":"configuration","in":"query","description":"Configuration string.","schema":{"type":"string"}}],"requestBody":{"content":{"application/json;charset=UTF-8; qs=0.09":{"schema":{"$ref":"#/components/schemas/BTFeatureScriptEvalCall"}}}},"responses":{"200":{"description":"Success!","content":{"application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1":{"schema":{"$ref":"#/components/schemas/BTFeatureScriptEvalResponse"}},"application/json;charset=UTF-8; qs=0.09":{"schema":{"$ref":"#/components/schemas/BTFeatureScriptEvalResponse"}}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"}},"/api/partstudios/d/{did}/{wvm}/{wvmid}/e/{eid}/massproperties":{"get":{"tags":["PartStudios"],"summary":"Mass properties of parts or a PartStudio.","operationId":"getMassProperties_1","parameters":[{"name":"did","in":"path","description":"Document ID.","required":true,"schema":{"type":"string"}},{"name":"wvm","in":"path","description":"One of w or v or m corresponding to whether a workspace or version or microversion was entered.","required":true,"schema":{"type":"string"}},{"name":"wvmid","in":"path","description":"Workspace (w), Version (v) or Microversion (m) ID.","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","description":"Element ID.","required":true,"schema":{"type":"string"}},{"name":"partId","in":"query","description":"IDs of the parts to retrieve. Repeat query param to add more than one (i.e. partId=JHK&partId=JHD). May not be combined with other ID filters","schema":{"type":"array","items":{"type":"string"}}},{"name":"massAsGroup","in":"query","description":"If true, specified parts will be evaluated as a single object instead of individually","schema":{"type":"boolean","default":true}},{"name":"configuration","in":"query","description":"Configuration string.","schema":{"type":"string"}},{"name":"linkDocumentId","in":"query","description":"Id of document that links to the document being accessed. This may provide additional access rights to the document. Allowed only with version (v) path parameter.","schema":{"type":"string"}}],"responses":{"200":{"description":"Success!","content":{"application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1":{"schema":{"$ref":"#/components/schemas/BTMassPropertiesBulkInfo"}},"application/json;charset=UTF-8; qs=0.09":{"schema":{"$ref":"#/components/schemas/BTMassPropertiesBulkInfo"}}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"}},"/api/partstudios/d/{did}/{wvm}/{wvmid}/e/{eid}/idtranslations":{"post":{"tags":["PartStudios"],"summary":"Id Translations","operationId":"translateIds","parameters":[{"name":"did","in":"path","description":"Document ID.","required":true,"schema":{"type":"string"}},{"name":"wvm","in":"path","description":"One of w or v or m corresponding to whether a workspace or version or microversion was entered.","required":true,"schema":{"type":"string"}},{"name":"wvmid","in":"path","description":"Workspace (w), Version (v) or Microversion (m) ID.","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","description":"Element ID.","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json;charset=UTF-8; qs=0.09":{"schema":{"$ref":"#/components/schemas/BTIdTranslationParams"}}},"required":true},"responses":{"200":{"description":"Success!","content":{"application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1":{"schema":{"$ref":"#/components/schemas/BTIdTranslationInfo"}},"application/json;charset=UTF-8; qs=0.09":{"schema":{"$ref":"#/components/schemas/BTIdTranslationInfo"}}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"}},"/api/partstudios/d/{did}/{wvm}/{wvmid}/e/{eid}/shadedviews":{"get":{"tags":["PartStudios"],"summary":"Get Shaded Views","operationId":"getShadedViews_2","parameters":[{"name":"did","in":"path","description":"Document ID.","required":true,"schema":{"type":"string"}},{"name":"wvm","in":"path","description":"One of w or v or m corresponding to whether a workspace or version or microversion was entered.","required":true,"schema":{"type":"string"}},{"name":"wvmid","in":"path","description":"Workspace (w), Version (v) or Microversion (m) ID.","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","description":"Element ID.","required":true,"schema":{"type":"string"}},{"name":"viewMatrix","in":"query","description":"12-number view matrix (comma-separated), or one of the following named views:\ntop, bottom, front, back, left, right\nThe 12 entries in the view matrix form three rows and four columns, which is a linear transformation applied to the model itself.\nThe matrix's first three columns maps the coordinate axes of the model to the coordinate axes of the view, and the fourth column translates the origin (in meters).\nThe view coordinates have x pointing right, y pointing up, and z pointing towards the viewer, while a front view of the model has x pointing right, y pointing away from the viewer, and z pointing up.\nFor example, the identity matrix viewMatrix=1,0,0,0,0,1,0,0,0,0,1,0 corresponds to the top view, and viewMatrix=0.612,0.612,0,0,-0.354,0.354,0.707,0,0.707,-0.707,0.707,0 corresponds (approximately) to the isometric view.\nThe first three columns of the view matrix should be orthonormal and have a positive determinant.  If this is not the case, view behavior may be undefined.","schema":{"type":"string","default":"front"}},{"name":"outputHeight","in":"query","description":"Output image height (in pixels)","schema":{"type":"integer","format":"int32","default":500}},{"name":"outputWidth","in":"query","description":"Output image width (in pixels)","schema":{"type":"integer","format":"int32","default":500}},{"name":"pixelSize","in":"query","description":"Height and width represented by each pixel (in meters). If the value is 0, the display will be sized to fit the output image dimensions.","schema":{"type":"number","format":"double","default":0.003}},{"name":"edges","in":"query","description":"The treatment to be applied to edges in the display. Options are show: show visible edges, hide: hide visible edges.","schema":{"type":"string","default":"show"}},{"name":"showAllParts","in":"query","description":"Whether or not all parts should be shown in the element,\nregardless of user setting. If false, the visibility setting made by the user will be reflected in the\nimage. If true, all parts will be shown.","schema":{"type":"boolean","default":false}},{"name":"includeSurfaces","in":"query","description":"Whether or not surfaces should be shown in the element.\nIt is applicable only when showAllParts is true. If false, surfaces will be excluded.\nIf true, all surfaces will be shown.","schema":{"type":"boolean","default":false}},{"name":"useAntiAliasing","in":"query","description":"If true, an anti-aliasing factor will be used to smooth\nmodel boundaries in the final image result. If false, the image will be rasterized at the given\nresolution. Setting to true can have negative performance implications with respect to rendering time\nand memory usage. If a high-resolution image is requested and anti-aliasing is turned on, the server\nmay not be able to fulfill the request.","schema":{"type":"boolean","default":false}},{"name":"configuration","in":"query","description":"Configuration string.","schema":{"type":"string"}},{"name":"linkDocumentId","in":"query","description":"Id of document that links to the document being accessed. This may provide additional access rights to the document. Allowed only with version (v) path parameter.","schema":{"type":"string"}}],"responses":{"200":{"description":"Success!","content":{"application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1":{"schema":{"$ref":"#/components/schemas/BTShadedRenderDocumentResponse"}},"application/json;charset=UTF-8; qs=0.09":{"schema":{"$ref":"#/components/schemas/BTShadedRenderDocumentResponse"}}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"}},"/api/partstudios/d/{did}/{wvm}/{wvmid}/e/{eid}/compare":{"get":{"tags":["PartStudios"],"summary":"Compare Part Studios","operationId":"comparePartStudios","parameters":[{"name":"did","in":"path","description":"Document ID.","required":true,"schema":{"type":"string"}},{"name":"wvm","in":"path","description":"One of w or v or m corresponding to whether a workspace or version or microversion was entered.","required":true,"schema":{"type":"string"}},{"name":"wvmid","in":"path","description":"Workspace (w), Version (v) or Microversion (m) ID.","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","description":"Element ID.","required":true,"schema":{"type":"string"}},{"name":"workspaceId","in":"query","schema":{"type":"string"}},{"name":"versionId","in":"query","schema":{"type":"string"}},{"name":"microversionId","in":"query","schema":{"type":"string"}},{"name":"sourceConfiguration","in":"query","schema":{"type":"string"}},{"name":"targetConfiguration","in":"query","schema":{"type":"string"}},{"name":"linkDocumentId","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"Success!","content":{"application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1":{"schema":{"$ref":"#/components/schemas/BTRootDiffInfo"}},"application/json;charset=UTF-8; qs=0.09":{"schema":{"$ref":"#/components/schemas/BTRootDiffInfo"}}}}},"deprecated":false,"security":[{"OAuth2":["OAuth2Read"]}],"x-BTVisibility":"PRODUCTION"}},"/api/partstudios/d/{did}/{wvm}/{wvmid}/e/{eid}/tessellatedfaces":{"get":{"tags":["PartStudios"],"summary":"Tesselated faces of the parts in the Part Studio.","operationId":"getFaces_2","parameters":[{"name":"did","in":"path","description":"Document ID.","required":true,"schema":{"type":"string"}},{"name":"wvm","in":"path","description":"One of w or v or m corresponding to whether a workspace or version or microversion was entered.","required":true,"schema":{"type":"string"}},{"name":"wvmid","in":"path","description":"Workspace (w), Version (v) or Microversion (m) ID.","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","description":"Element ID.","required":true,"schema":{"type":"string"}},{"name":"angleTolerance","in":"query","description":"Angle tolerance (in radians). This specifies the limit on the sum of the angular deviations of a tessellation chord from the tangent vectors at two chord endpoints. The specified value must be less than PI/2. This parameter currently has a default value chosen based on the complexity of the parts being tessellated.","schema":{"type":"number","format":"double"}},{"name":"c
[...]
