{
  "openapi": "3.0.1",
  "info": {
    "title": "Onshape REST API",
    "description": "The Onshape REST API consumed by all clients.",
    "termsOfService": "http://swagger.io/terms/",
    "contact": {
      "email": "api-support@onshape.zendesk.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "1.111",
    "x-logo": {
      "backgroundColor": "#ffffff",
      "altText": "Onshape",
      "href": "https://www.onshape.com/",
      "url": "http://localhost.dev.onshape.com:8080/images/onshape_logo_medium.png"
    }
  },
  "servers": [
    {
      "url": "https://cad.onshape.com",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Applications",
      "description": "Manage application settings."
    },
    {
      "name": "Accounts",
      "description": "Modify and access account information."
    },
    {
      "name": "App Elements",
      "description": "Save and manage application state."
    },
    {
      "name": "Assemblies",
      "description": "Access and manipulate assembly elements."
    },
    {
      "name": "Billing",
      "description": "Access billing plans for clients."
    },
    {
      "name": "BlobElements",
      "description": "Save and access Blob Elements."
    },
    {
      "name": "Companies",
      "description": "Access company information."
    },
    {
      "name": "Documents",
      "description": "Manage documents."
    },
    {
      "name": "Drawings",
      "description": "Access drawing translations."
    },
    {
      "name": "Elements",
      "description": "Access and manipulate Elements."
    },
    {
      "name": "FeatureStudios",
      "description": "Access and write to Feature Studio Elements."
    },
    {
      "name": "Folders",
      "description": "Access Folders."
    },
    {
      "name": "Metadata",
      "description": "Manipulate and access metadata."
    },
    {
      "name": "OpenAPI",
      "description": "Endpoints for getting the OpenAPI specification for the Onshape API."
    },
    {
      "name": "Parts",
      "description": "Get details about specific parts."
    },
    {
      "name": "PartStudios",
      "description": "Modify, change, and get PartStudios."
    },
    {
      "name": "ReleaseManagement",
      "description": "Manage Release Management workflows."
    },
    {
      "name": "Revisions",
      "description": "Access revisions."
    },
    {
      "name": "Teams",
      "description": "Access team details."
    },
    {
      "name": "Translations",
      "description": "Create and manage translations."
    },
    {
      "name": "Users",
      "description": "Get details about users."
    },
    {
      "name": "Versions",
      "description": "Example of API version management."
    },
    {
      "name": "Webhooks",
      "description": "Create and manage webhooks."
    },
    {
      "name": "Workflow",
      "description": "Access Release Management workflows."
    }
  ],
  "paths": {
    "/api/accounts/plans/{planId}/purchases": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get Plan Purchases",
        "operationId": "getPlanPurchases",
        "parameters": [
          {
            "name": "planId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
                "schema": {
                  "$ref": "#/components/schemas/BTListResponseBTPurchaseInfo"
                }
              },
              "application/json;charset=UTF-8; qs=0.09": {
                "schema": {
                  "$ref": "#/components/schemas/BTListResponseBTPurchaseInfo"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-BTVisibility": "PRODUCTION"
      }
    },
    "/api/accounts/purchases": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get User's Appstore Purchases.",
        "operationId": "getPurchases",
        "parameters": [
          {
            "name": "all",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "ownPurchaseOnly",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BTPurchaseInfo"
                  }
                }
              },
              "application/json;charset=UTF-8; qs=0.09": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BTPurchaseInfo"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-BTVisibility": "PRODUCTION"
      }
    },
    "/api/accounts/purchases/{pid}/consume": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "Mark Purchase Consumed For User",
        "operationId": "consumePurchase",
        "parameters": [
          {
            "name": "pid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json;charset=UTF-8; qs=0.09": {
              "schema": {
                "$ref": "#/components/schemas/BTPurchaseUserParams"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
                "schema": {
                  "$ref": "#/components/schemas/BTPurchaseInfo"
                }
              },
              "application/json;charset=UTF-8; qs=0.09": {
                "schema": {
                  "$ref": "#/components/schemas/BTPurchaseInfo"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "OAuth2Purchase"
            ]
          }
        ],
        "x-BTVisibility": "PRODUCTION"
      }
    },
    "/api/accounts/{aid}/purchases/{pid}": {
      "delete": {
        "tags": [
          "Accounts"
        ],
        "summary": "Cancel Recurring Subscription",
        "operationId": "cancelPurchaseNew",
        "parameters": [
          {
            "name": "aid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cancelImmediately",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {},
              "application/json;charset=UTF-8; qs=0.09": {}
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "OAuth2Purchase"
            ]
          }
        ],
        "x-BTVisibility": "PRODUCTION"
      }
    },
    "/api/appelements/d/{did}/w/{wid}": {
      "post": {
        "tags": [
          "App Elements"
        ],
        "summary": "Create Element.",
        "operationId": "createElement",
        "parameters": [
          {
            "name": "did",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json;charset=UTF-8; qs=0.09": {
              "schema": {
                "$ref": "#/components/schemas/BTAppElementParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppElementModifyInfo"
                }
              },
              "application/json;charset=UTF-8; qs=0.09": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppElementModifyInfo"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "OAuth2Write"
            ]
          }
        ],
        "x-BTVisibility": "PRODUCTION"
      }
    },
    "/api/appelements/d/{did}/w/{wid}/e/{eid}/transactions": {
      "post": {
        "tags": [
          "App Elements"
        ],
        "summary": "Start Transaction",
        "operationId": "startTransaction",
        "parameters": [
          {
            "name": "did",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json;charset=UTF-8; qs=0.09": {
              "schema": {
                "$ref": "#/components/schemas/BTAppElementStartTransactionParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppElementModifyInfo"
                }
              },
              "application/json;charset=UTF-8; qs=0.09": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppElementModifyInfo"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "OAuth2Write"
            ]
          }
        ],
        "x-BTVisibility": "PRODUCTION"
      }
    },
    "/api/appelements/d/{did}/w/{wid}/e/{eid}/transactions/{tid}": {
      "post": {
        "tags": [
          "App Elements"
        ],
        "summary": "Commit Transaction",
        "operationId": "commitTransaction",
        "parameters": [
          {
            "name": "did",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json;charset=UTF-8; qs=0.09": {
              "schema": {
                "$ref": "#/components/schemas/BTAppElementCommitTransactionParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppElementModifyInfo"
                }
              },
              "application/json;charset=UTF-8; qs=0.09": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppElementModifyInfo"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "OAuth2Write"
            ]
          }
        ],
        "x-BTVisibility": "PRODUCTION"
      }
    },
    "/api/appelements/d/{did}/{wvm}/{wvmid}/e/{eid}/associativedata": {
      "get": {
        "operationId": "getAssociativeData",
        "parameters": [
          {
            "name": "did",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wvm",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wvmid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transactionId",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "changeId",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "associativeDataId",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "elementId",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "viewId",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "microversionId",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "documentMicroversion",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "deterministicId",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "featureId",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "entityId",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "occurrenceId",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "returnIdTags",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppAssociativeDataInfoArray"
                }
              },
              "application/json;charset=UTF-8; qs=0.09": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppAssociativeDataInfoArray"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "OAuth2Read"
            ]
          }
        ],
        "x-BTVisibility": "PRODUCTION"
      },
      "post": {
        "operationId": "postAssociativeData",
        "parameters": [
          {
            "name": "did",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wvm",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wvmid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json;charset=UTF-8; qs=0.09": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppAssociativeDataInfoArray"
                }
              },
              "application/json;charset=UTF-8; qs=0.09": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppAssociativeDataInfoArray"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "OAuth2Read",
              "OAuth2Write"
            ]
          }
        ],
        "x-BTVisibility": "PRODUCTION"
      },
      "delete": {
        "operationId": "deleteAssociativeData",
        "parameters": [
          {
            "name": "did",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wvm",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wvmid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transactionId",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "parentChangeId",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "associativeDataId",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "elementId",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "viewId",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "microversionId",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "documentMicroversion",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "deterministicId",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "featureId",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "entityId",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "occurrenceId",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppElementBasicInfo"
                }
              },
              "application/json;charset=UTF-8; qs=0.09": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppElementBasicInfo"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "OAuth2Write"
            ]
          }
        ],
        "x-BTVisibility": "PRODUCTION"
      }
    },
    "/api/appelements/d/{did}/{wvm}/{wvmid}/e/{eid}/content": {
      "get": {
        "tags": [
          "App Elements"
        ],
        "summary": "Get Content",
        "operationId": "getSubElementContent",
        "parameters": [
          {
            "name": "did",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wvm",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wvmid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transactionId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "changeId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "baseChangeId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subelementId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "linkDocumentId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppElementContentInfo"
                }
              },
              "application/json;charset=UTF-8; qs=0.09": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppElementContentInfo"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "OAuth2Read"
            ]
          }
        ],
        "x-BTVisibility": "PRODUCTION"
      },
      "post": {
        "tags": [
          "App Elements"
        ],
        "summary": "Update Element",
        "operationId": "updateAppElement",
        "parameters": [
          {
            "name": "did",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wvm",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wvmid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json;charset=UTF-8; qs=0.09": {
              "schema": {
                "$ref": "#/components/schemas/BTAppElementUpdateParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppElementModifyInfo"
                }
              },
              "application/json;charset=UTF-8; qs=0.09": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppElementModifyInfo"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "OAuth2Read",
              "OAuth2Write"
            ]
          }
        ],
        "x-BTVisibility": "PRODUCTION"
      }
    },
    "/api/appelements/d/{did}/{wvm}/{wvmid}/e/{eid}/content/history": {
      "get": {
        "tags": [
          "App Elements"
        ],
        "summary": "Get History",
        "operationId": "getAppElementHistory",
        "parameters": [
          {
            "name": "did",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wvm",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wvmid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppElementHistoryInfo"
                }
              },
              "application/json;charset=UTF-8; qs=0.09": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppElementHistoryInfo"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "OAuth2Read"
            ]
          }
        ],
        "x-BTVisibility": "PRODUCTION"
      }
    },
    "/api/appelements/d/{did}/{wvm}/{wvmid}/e/{eid}/content/ids": {
      "get": {
        "tags": [
          "App Elements"
        ],
        "summary": "Get Sub-element IDs",
        "operationId": "getSubelementIds",
        "parameters": [
          {
            "name": "did",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wvm",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wvmid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transactionId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "changeId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppElementModifyInfo"
                }
              },
              "application/json;charset=UTF-8; qs=0.09": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppElementModifyInfo"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "OAuth2Read"
            ]
          }
        ],
        "x-BTVisibility": "PRODUCTION"
      }
    },
    "/api/appelements/d/{did}/{wvm}/{wvmid}/e/{eid}/content/subelements/{sid}": {
      "delete": {
        "tags": [
          "App Elements"
        ],
        "summary": "Delete a Sub-element",
        "operationId": "deleteAppElementContent",
        "parameters": [
          {
            "name": "did",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wvm",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wvmid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transactionId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "parentChangeId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "description",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppElementModifyInfo"
                }
              },
              "application/json;charset=UTF-8; qs=0.09": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppElementModifyInfo"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "OAuth2Write"
            ]
          }
        ],
        "x-BTVisibility": "PRODUCTION"
      }
    },
    "/api/appelements/d/{did}/{wvm}/{wvmid}/e/{eid}/references": {
      "post": {
        "tags": [
          "App Elements"
        ],
        "summary": "Create Reference",
        "operationId": "createReference",
        "parameters": [
          {
            "name": "did",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wvm",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wvmid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json;charset=UTF-8; qs=0.09": {
              "schema": {
                "$ref": "#/components/schemas/BTAppElementReferenceParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppElementReferenceInfo"
                }
              },
              "application/json;charset=UTF-8; qs=0.09": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppElementReferenceInfo"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "OAuth2Write",
              "OAuth2Read"
            ]
          }
        ],
        "x-BTVisibility": "PRODUCTION"
      }
    },
    "/api/appelements/d/{did}/{wvm}/{wvmid}/e/{eid}/references/{rid}": {
      "get": {
        "tags": [
          "App Elements"
        ],
        "summary": "Resolve Reference",
        "operationId": "resolveReference",
        "parameters": [
          {
            "name": "did",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wvm",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wvmid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transactionId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "parentChangeId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeInternal",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "linkDocumentId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppElementReferenceResolveInfo"
                }
              },
              "application/json;charset=UTF-8; qs=0.09": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppElementReferenceResolveInfo"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "OAuth2Read"
            ]
          }
        ],
        "x-BTVisibility": "PRODUCTION"
      },
      "post": {
        "tags": [
          "App Elements"
        ],
        "summary": "Update Reference",
        "operationId": "updateReference",
        "parameters": [
          {
            "name": "did",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wvm",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wvmid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json;charset=UTF-8; qs=0.09": {
              "schema": {
                "$ref": "#/components/schemas/BTAppElementReferenceParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppElementReferenceInfo"
                }
              },
              "application/json;charset=UTF-8; qs=0.09": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppElementReferenceInfo"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "OAuth2Write",
              "OAuth2Read"
            ]
          }
        ],
        "x-BTVisibility": "PRODUCTION"
      },
      "delete": {
        "tags": [
          "App Elements"
        ],
        "summary": "Delete Reference",
        "operationId": "deleteReference",
        "parameters": [
          {
            "name": "did",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wvm",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wvmid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transactionId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "parentChangeId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "description",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppElementReferenceInfo"
                }
              },
              "application/json;charset=UTF-8; qs=0.09": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppElementReferenceInfo"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "OAuth2Write"
            ]
          }
        ],
        "x-BTVisibility": "PRODUCTION"
      }
    },
    "/api/appelements/d/{did}/{wvm}/{wvmid}/e/{eid}/resolvereferences": {
      "get": {
        "tags": [
          "App Elements"
        ],
        "summary": "Resolve references.",
        "operationId": "resolveReferences",
        "parameters": [
          {
            "name": "did",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wvm",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wvmid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transactionId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "parentChangeId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeInternal",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "linkDocumentId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "referenceIds",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppElementReferencesResolveInfo"
                }
              },
              "application/json;charset=UTF-8; qs=0.09": {
                "schema": {
                  "$ref": "#/components/schemas/BTAppElementReferencesResolveInfo"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "OAuth2Read"
            ]
          }
        ],
        "x-BTVisibility": "PRODUCTION"
      }
    },
    "/api/applications/clients/{cid}/settings/users/{uid}": {
      "get": {
        "tags": [
          "Applications"
        ],
        "summary": "Get User Application Settings",
        "operationId": "getUserAppSettings",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
                "schema": {
                  "$ref": "#/components/schemas/BTUserAppSettingsInfo"
                }
              },
              "application/json;charset=UTF-8; qs=0.09": {
                "schema": {
                  "$ref": "#/components/schemas/BTUserAppSettingsInfo"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-BTVisibility": "PRODUCTION"
      },
      "post": {
        "tags": [
          "Applications"
        ],
        "summary": "Update Application Settings",
        "operationId": "updateAppSettings",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json;charset=UTF-8; qs=0.09": {
              "schema": {
                "$ref": "#/components/schemas/BTUserAppSettingsParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success!"
          }
        },
        "deprecated": false,
        "x-BTVisibility": "PRODUCTION"
      },
      "delete": {
        "tags": [
          "Applications"
        ],
        "summary": "Delete Application Settings",
        "operationId": "deleteAppSettings",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success!"
          }
        },
        "deprecated": false,
        "x-BTVisibility": "PRODUCTION"
      }
    },
    "/api/assemblies/d/{did}/e/{eid}/namedViews": {
      "get": {
        "tags": [
          "Assemblies"
        ],
        "operationId": "getNamedViews",
        "parameters": [
          {
            "name": "did",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skipPerspective",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "linkDocumentId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
                "schema": {
                  "$ref": "#/components/schemas/BTNamedViewsInfo"
                }
              },
              "application/json;charset=UTF-8; qs=0.09": {
                "schema": {
                  "$ref": "#/components/schemas/BTNamedViewsInfo"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "OAuth2Read"
            ]
          }
        ],
        "x-BTVisibility": "PRODUCTION"
      }
    },
    "/api/assemblies/d/{did}/w/{wid}": {
      "post": {
        "tags": [
          "Assemblies"
        ],
        "summary": "Create Assembly",
        "operationId": "createAssembly",
        "parameters": [
          {
            "name": "did",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json;charset=UTF-8; qs=0.09": {
              "schema": {
                "$ref": "#/components/schemas/BTModelElementParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
                "schema": {
                  "$ref": "#/components/schemas/BTDocumentElementInfo"
                }
              },
              "application/json;charset=UTF-8; qs=0.09": {
                "schema": {
                  "$ref": "#/components/schemas/BTDocumentElementInfo"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "OAuth2Write"
            ]
          }
        ],
        "x-BTVisibility": "PRODUCTION"
      }
    },
    "/api/assemblies/d/{did}/w/{wid}/e/{eid}/bomelement": {
      "post": {
        "tags": [
          "Assemblies"
        ],
        "summary": "Get or Create Bill of Materials Element",
        "operationId": "getOrCreateBillOfMaterialsElement",
        "parameters": [
          {
            "name": "did",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
                "schema": {
                  "$ref": "#/components/schemas/BTDocumentElementInfo"
                }
              },
              "application/json;charset=UTF-8; qs=0.09": {
                "schema": {
                  "$ref": "#/components/schemas/BTDocumentElementInfo"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "OAuth2Read"
            ]
          }
        ],
        "x-BTVisibility": "PRODUCTION"
      }
    },
    "/api/assemblies/d/{did}/w/{wid}/e/{eid}/features/featureid/{fid}": {
      "post": {
        "tags": [
          "Assemblies"
        ],
        "operationId": "updateFeature",
        "parameters": [
          {
            "name": "did",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json;charset=UTF-8; qs=0.09": {
              "schema": {
                "type": "string"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
                "schema": {
                  "$ref": "#/components/schemas/BTFeatureDefinitionResponse-1617"
                }
              },
              "application/json;charset=UTF-8; qs=0.09": {
                "schema": {
                  "$ref": "#/components/schemas/BTFeatureDefinitionResponse-1617"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "OAuth2Write"
            ]
          }
        ],
        "x-BTVisibility": "PRODUCTION"
      },
      "delete": {
        "tags": [
          "Assemblies"
        ],
        "summary": "Delete Feature",
        "operationId": "deleteFeature",
        "parameters": [
          {
            "name": "did",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
                "schema": {
                  "$ref": "#/components/schemas/BTFeatureApiBase-1430"
                }
              },
              "application/json;charset=UTF-8; qs=0.09": {
                "schema": {
                  "$ref": "#/components/schemas/BTFeatureApiBase-1430"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "OAuth2Write"
            ]
          }
        ],
        "x-BTVisibility": "PRODUCTION"
      }
    },
    "/api/assemblies/d/{did}/w/{wid}/e/{eid}/instance/nodeid/{nid}": {
      "delete": {
        "tags": [
          "Assemblies"
        ],
        "summary": "Delete assembly instance.",
        "operationId": "deleteInstance",
        "parameters": [
          {
            "name": "did",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {},
              "application/json;charset=UTF-8; qs=0.09": {}
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "OAuth2Write"
            ]
          }
        ],
        "x-BTVisibility": "PRODUCTION"
      }
    },
    "/api/assemblies/d/{did}/w/{wid}/e/{eid}/instances": {
      "post": {
        "tags": [
          "Assemblies"
        ],
        "summary": "Create assembly instance",
        "operationId": "createInstance",
        "parameters": [
          {
            "name": "did",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json;charset=UTF-8; qs=0.09": {
              "schema": {
                "$ref": "#/components/schemas/BTAssemblyInstanceDefinitionParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BTOccurrence-74"
                  }
                }
              },
              "application/json;charset=UTF-8; qs=0.09": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BTOccurrence-74"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "OAuth2Read",
              "OAuth2Write"
            ]
          }
        ],
        "x-BTVisibility": "PRODUCTION"
      }
    },
    "/api/assemblies/d/{did}/w/{wid}/e/{eid}/occurrencetransforms": {
      "post": {
        "tags": [
          "Assemblies"
        ],
        "summary": "Transform assembly occurrences.",
        "operationId": "transformOccurrences",
        "parameters": [
          {
            "name": "did",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json;charset=UTF-8; qs=0.09": {
              "schema": {
                "$ref": "#/components/schemas/BTAssemblyTransformDefinitionParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {},
              "application/json;charset=UTF-8; qs=0.09": {}
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "OAuth2Read",
              "OAuth2Write"
            ]
          }
        ],
        "x-BTVisibility": "PRODUCTION"
      }
    },
    "/api/assemblies/d/{did}/w/{wid}/e/{eid}/transformedinstances": {
      "post": {
        "tags": [
          "Assemblies"
        ],
        "summary": "Create and transform assembly instances",
        "operationId": "insertTransformedInstances",
        "parameters": [
          {
            "name": "did",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json;charset=UTF-8; qs=0.09": {
              "schema": {
                "$ref": "#/components/schemas/BTAssemblyTransformedInstancesDefinitionParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
                "schema": {
                  "$ref": "#/components/schemas/BTAssemblyInsertTransformedInstancesResponse"
                }
              },
              "application/json;charset=UTF-8; qs=0.09": {
                "schema": {
                  "$ref": "#/components/schemas/BTAssemblyInsertTransformedInstancesResponse"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "OAuth2Read",
              "OAuth2Write"
            ]
          }
        ],
        "x-BTVisibility": "PRODUCTION"
      }
    },
    "/api/assemblies/d/{did}/w/{wid}/e/{eid}/translationformats": {
      "get": {
        "tags": [
          "Assemblies"
        ],
        "summary": "Get Translation Formats",
        "operationId": "getTranslatorFormats",
        "parameters": [
          {
            "name": "did",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "checkContent",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BTModelFormatInfo"
                  }
                }
              },
              "application/json;charset=UTF-8; qs=0.09": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BTModelFormatInfo"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-BTVisibility": "PRODUCTION"
      }
    },
    "/api/assemblies/d/{did}/{wvm}/{wvmid}/e/{eid}": {
      "get": {
        "tags": [
          "Assemblies"
        ],
        "summary": "Assembly Definition.",
        "operationId": "getAssemblyDefinition",
        "parameters": [
          {
            "name": "did",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wvm",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wvmid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "linkDocumentId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeMateFeatures",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "includeNonSolids",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "includeMateConnectors",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "configuration",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "explodedViewId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
                "schema": {
                  "$ref": "#/components/schemas/BTAssemblyDefinitionInfo"
                }
              },
              "application/json;charset=UTF-8; qs=0.09": {
                "schema": {
                  "$ref": "#/components/schemas/BTAssemblyDefinitionInfo"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "OAuth2Read"
            ]
          }
        ],
        "x-BTVisibility": "PRODUCTION"
      }
    },
    "/api/assemblies/d/{did}/{wvm}/{wvmid}/e/{eid}/bom": {
      "get": {
        "tags": [
          "Assemblies"
        ],
        "summary": "Get Bill of Materials",
        "operationId": "getBillOfMaterials",
        "parameters": [
          {
            "name": "did",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wvm",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wvmid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "metadataWorkspaceId",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "bomColumnIds",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "indented",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "multiLevel",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "generateIfAbsent",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "linkDocumentId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "configuration",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
                "schema": {
                  "$ref": "#/components/schemas/JsonNode"
                }
              },
              "application/json;charset=UTF-8; qs=0.09": {
                "schema": {
                  "$ref": "#/components/schemas/JsonNode"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "OAuth2Read"
            ]
          }
        ],
        "x-BTVisibility": "PRODUCTION"
      }
    },
    "/api/assemblies/d/{did}/{wvm}/{wvmid}/e/{eid}/boundingboxes": {
      "get": {
        "tags": [
          "Assemblies"
        ],
        "summary": "Bounding Boxes.",
        "operationId": "getAssemblyBoundingBoxes",
        "parameters": [
          {
            "name": "did",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wvm",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wvmid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "linkDocumentId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeHidden",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "displayStateId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "configuration",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "explodedViewId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
                "schema": {
                  "$ref": "#/components/schemas/BTBoundingBoxInfo"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "OAuth2Read"
            ]
          }
        ],
        "x-BTVisibility": "PRODUCTION"
      }
    },
    "/api/assemblies/d/{did}/{wvm}/{wvmid}/e/{eid}/features": {
      "get": {
        "tags": [
          "Assemblies"
        ],
        "summary": "Get Feature List",
        "operationId": "getFeatures",
        "parameters": [
          {
            "name": "did",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wvm",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wvmid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "featureId",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "linkDocumentId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/vnd.onshape.v2+json;charset=UTF-8;qs=0.2": {
                "schema": {
                  "$ref": "#/components/schemas/BTAssemblyFeatureListResponse-1174"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "OAuth2Read"
            ]
          }
        ],
        "x-BTVisibility": "PRODUCTION"
      },
      "post": {
        "tags": [
          "Assemblies"
        ],
        "operationId": "addFeature",
        "parameters": [
          {
            "name": "did",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wvm",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wvmid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json;charset=UTF-8; qs=0.09": {
              "schema": {
                "type": "string"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
                "schema": {
                  "$ref": "#/components/schemas/BTFeatureDefinitionResponse-1617"
                }
              },
              "application/json;charset=UTF-8; qs=0.09": {
                "schema": {
                  "$ref": "#/components/schemas/BTFeatureDefinitionResponse-1617"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "OAuth2Write"
            ]
          }
        ],
        "x-BTVisibility": "PRODUCTION"
      }
    },
    "/api/assemblies/d/{did}/{wvm}/{wvmid}/e/{eid}/featurespecs": {
      "get": {
        "tags": [
          "Assemblies"
        ],
        "operationId": "getFeatureSpecs",
        "parameters": [
          {
            "name": "did",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wvm",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wvmid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
                "schema": {
                  "$ref": "#/components/schemas/BTFeatureSpecsResponse-664"
                }
              },
              "application/json;charset=UTF-8; qs=0.09": {
                "schema": {
                  "$ref": "#/components/schemas/BTFeatureSpecsResponse-664"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "OAuth2Read"
            ]
          }
        ],
        "x-BTVisibility": "PRODUCTION"
      }
    },
    "/api/assemblies/d/{did}/{wvm}/{wvmid}/e/{eid}/shadedviews": {
      "get": {
        "tags": [
          "Assemblies"
        ],
        "operationId": "getAssemblyShadedViews",
        "parameters": [
          {
            "name": "did",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wvm",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wvmid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "linkDocumentId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "viewMatrix",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "front"
            }
          },
          {
            "name": "outputHeight",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 500
            }
          },
          {
            "name": "outputWidth",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 500
            }
          },
          {
            "name": "pixelSize",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "double",
              "default": 0.003
            }
          },
          {
            "name": "edges",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "show"
            }
          },
          {
            "name": "showAllParts",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "includeSurfaces",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "useAntiAliasing",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "displayStateId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "configuration",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "explodedViewId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
                "schema": {
                  "$ref": "#/components/schemas/BTShadedViewsInfo"
                }
              },
              "application/json;charset=UTF-8; qs=0.09": {
                "schema": {
                  "$ref": "#/components/schemas/BTShadedViewsInfo"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "OAuth2Read"
            ]
          }
        ],
        "x-BTVisibility": "PRODUCTION"
      }
    },
    "/api/assemblies/d/{did}/{wv}/{wvid}/e/{eid}/translations": {
      "post": {
        "tags": [
          "Assemblies"
        ],
        "summary": "Create Assembly translation.",
        "operationId": "translateFormat",
        "parameters": [
          {
            "name": "did",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wv",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wvid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json;charset=UTF-8; qs=0.09": {
              "schema": {
                "$ref": "#/components/schemas/BTTranslateFormatParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
                "schema": {
                  "$ref": "#/components/schemas/BTTranslationRequestInfo"
                }
              },
              "application/json;charset=UTF-8; qs=0.09": {
                "schema": {
                  "$ref": "#/components/schemas/BTTranslationRequestInfo"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "OAuth2Read"
            ]
          }
        ],
        "x-BTVisibility": "PRODUCTION"
      }
    },
    "/api/billing/plans/client/{cid}": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "Get billing plans for client.",
        "operationId": "getClientPlans",
        "parameters": [
          {
            "name": "cid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success!"
          }
        },
        "deprecated": false,
        "x-BTVisibility": "PRODUCTION"
      }
    },
    "/api/blobelements/d/{did}/w/{wid}": {
      "post": {
        "tags": [
          "BlobElements"
        ],
        "summary": "Upload File to New Blob Element.",
        "operationId": "uploadFileCreateElement",
        "parameters": [
          {
            "name": "did",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/BTTranslationRequestBean"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
                "schema": {
                  "$ref": "#/components/schemas/BTDocumentElementProcessingInfo"
                }
              },
              "application/json;charset=UTF-8; qs=0.09": {
                "schema": {
                  "$ref": "#/components/schemas/BTDocumentElementProcessingInfo"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "OAuth2Write"
            ]
          }
        ],
        "x-BTVisibility": "PRODUCTION"
      }
    },
    "/api/blobelements/d/{did}/w/{wid}/e/{eid}": {
      "get": {
        "tags": [
          "BlobElements"
        ],
        "summary": "Download File From Blob Element.",
        "operationId": "downloadFileWorkspace",
        "parameters": [
          {
            "name": "did",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contentDisposition",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-None-Match",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "linkDocumentId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "OAuth2Read"
            ]
          }
        ],
        "x-BTVisibility": "PRODUCTION"
      },
      "post": {
        "tags": [
          "BlobElements"
        ],
        "summary": "Update Blob Element.",
        "operationId": "uploadFileUpdateElement",
        "parameters": [
          {
            "name": "did",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "parentChangeId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
                "schema": {
                  "$ref": "#/components/schemas/BTDocumentElementProcessingInfo"
                }
              },
              "application/json;charset=UTF-8; qs=0.09": {
                "schema": {
                  "$ref": "#/components/schemas/BTDocumentElementProcessingInfo"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "OAuth2Write"
            ]
          }
        ],
        "x-BTVisibility": "PRODUCTION"
      }
    },
    "/api/blobelements/d/{did}/w/{wid}/e/{eid}/units": {
      "post": {
        "tags": [
          "BlobElements"
        ],
        "summary": "Update Mesh Units.",
        "operationId": "updateUnits",
        "parameters": [
          {
            "name": "did",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json;charset=UTF-8; qs=0.09": {
              "schema": {
                "$ref": "#/components/schemas/BTUpdateMeshUnitsParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
                "schema": {
                  "$ref": "#/components/schemas/BTDocumentElementProcessingInfo"
                }
              },
              "application/vnd.onshape.v2+json;charset=UTF-8;qs=0.2": {
                "schema": {
                  "$ref": "#/components/schemas/BTDocumentElementProcessingInfo"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "OAuth2Write"
            ]
          }
        ],
        "x-BTVisibility": "PRODUCTION"
      }
    },
    "/api/blobelements/d/{did}/{wv}/{wvid}/e/{eid}/translations": {
      "post": {
        "tags": [
          "BlobElements"
        ],
        "summary": "Create Translation.",
        "operationId": "createBlobTranslation",
        "parameters": [
          {
            "name": "did",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wv",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wvid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json;charset=UTF-8; qs=0.09": {
              "schema": {
                "$ref": "#/components/schemas/BTTranslateFormatParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
                "schema": {
                  "$ref": "#/components/schemas/BTTranslationRequestInfo"
                }
              },
              "application/json;charset=UTF-8; qs=0.09": {
                "schema": {
                  "$ref": "#/components/schemas/BTTranslationRequestInfo"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "OAuth2Read"
            ]
          }
        ],
        "x-BTVisibility": "PRODUCTION"
      }
    },
    "/api/companies": {
      "get": {
        "tags": [
          "Companies"
        ],
        "summary": "Get User companies.",
        "operationId": "findCompany",
        "parameters": [
          {
            "name": "uid",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "activeOnly",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "includeAll",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
                "schema": {
                  "$ref": "#/components/schemas/BTListResponseBTCompanyInfo"
                }
              },
              "application/json;charset=UTF-8; qs=0.09": {
                "schema": {
                  "$ref": "#/components/schemas/BTListResponseBTCompanyInfo"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-BTVisibility": "PRODUCTION"
      }
    },
    "/api/companies/{cid}": {
      "get": {
        "tags": [
          "Companies"
        ],
        "summary": "Get company.",
        "operationId": "getCompany",
        "parameters": [
          {
            "name": "cid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1": {
                "schema": {
                  "$ref": "#/components/schemas/BTCompanyInfo"
                }
              },
              "application/json;charset=UTF-8; qs=0.09": {
                "schema": {
                  "$ref": "#/components/schemas/BTCompanyInfo"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-BTVisibility": "PRODUCTION"
      }
    },
    "/api/documents": {
      "get": {
        "tags": [
          "Documents"
        ],
        "summary": "Get Documents",
        "operationId": "getDocuments",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "filter",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "owner",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "ownerType",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "sortColumn",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "createdAt"
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "desc"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          },
          {
            "name": "label",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "parentId",
            "in": "query",
            "schema": {
[...]
