openapi: 3.0.1
info:
  contact:
    email: api-support@onshape.zendesk.com
  description: The Onshape REST API consumed by all clients.
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: http://swagger.io/terms/
  title: Onshape REST API
  version: "1.111"
  x-logo:
    backgroundColor: '#ffffff'
    altText: Onshape
    href: https://www.onshape.com/
    url: http://localhost.dev.onshape.com:8084/images/onshape_logo_medium.png
servers:
- description: Production
  url: https://cad.onshape.com
tags:
- description: Manage application settings.
  name: Applications
- description: Modify and access account information.
  name: Accounts
- description: Save and manage application state.
  name: App Elements
- description: Access and manipulate assembly elements.
  name: Assemblies
- description: Access billing plans for clients.
  name: Billing
- description: Save and access Blob Elements.
  name: BlobElements
- description: Access company information.
  name: Companies
- description: Manage documents.
  name: Documents
- description: Access drawing translations.
  name: Drawings
- description: Access and manipulate Elements.
  name: Elements
- description: Access and write to Feature Studio Elements.
  name: FeatureStudios
- description: Access Folders.
  name: Folders
- description: Manipulate and access metadata.
  name: Metadata
- description: Endpoints for getting the OpenAPI specification for the Onshape API.
  name: OpenAPI
- description: Get details about specific parts.
  name: Parts
- description: Modify, change, and get PartStudios.
  name: PartStudios
- description: Manage Release Management workflows.
  name: ReleaseManagement
- description: Access revisions.
  name: Revisions
- description: Access team details.
  name: Teams
- description: Create and manage translations.
  name: Translations
- description: Get details about users.
  name: Users
- description: Example of API version management.
  name: Versions
- description: Create and manage webhooks.
  name: Webhooks
- description: Access Release Management workflows.
  name: Workflow
paths:
  /api/accounts/plans/{planId}/purchases:
    get:
      deprecated: false
      operationId: getPlanPurchases
      parameters:
      - explode: false
        in: path
        name: planId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          format: int32
          type: integer
        style: form
      responses:
        default:
          content:
            application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1:
              schema:
                $ref: '#/components/schemas/BTListResponseBTPurchaseInfo'
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTListResponseBTPurchaseInfo'
          description: default response
      summary: Get Plan Purchases
      tags:
      - Accounts
      x-BTVisibility: PRODUCTION
  /api/accounts/purchases:
    get:
      deprecated: false
      operationId: getPurchases
      parameters:
      - explode: true
        in: query
        name: all
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - explode: true
        in: query
        name: ownPurchaseOnly
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        default:
          content:
            application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1:
              schema:
                items:
                  $ref: '#/components/schemas/BTPurchaseInfo'
                type: array
            application/json;charset=UTF-8; qs=0.09:
              schema:
                items:
                  $ref: '#/components/schemas/BTPurchaseInfo'
                type: array
          description: default response
      summary: Get User's Appstore Purchases.
      tags:
      - Accounts
      x-BTVisibility: PRODUCTION
  /api/accounts/purchases/{pid}/consume:
    post:
      deprecated: false
      operationId: consumePurchase
      parameters:
      - explode: false
        in: path
        name: pid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json;charset=UTF-8; qs=0.09:
            schema:
              $ref: '#/components/schemas/BTPurchaseUserParams'
      responses:
        default:
          content:
            application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1:
              schema:
                $ref: '#/components/schemas/BTPurchaseInfo'
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTPurchaseInfo'
          description: default response
      security:
      - OAuth2:
        - OAuth2Purchase
      summary: Mark Purchase Consumed For User
      tags:
      - Accounts
      x-BTVisibility: PRODUCTION
  /api/accounts/{aid}/purchases/{pid}:
    delete:
      deprecated: false
      operationId: cancelPurchaseNew
      parameters:
      - explode: false
        in: path
        name: aid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: pid
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: cancelImmediately
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        default:
          content:
            application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1: {}
            application/json;charset=UTF-8; qs=0.09: {}
          description: default response
      security:
      - OAuth2:
        - OAuth2Purchase
      summary: Cancel Recurring Subscription
      tags:
      - Accounts
      x-BTVisibility: PRODUCTION
  /api/appelements/d/{did}/w/{wid}:
    post:
      deprecated: false
      operationId: createElement
      parameters:
      - explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json;charset=UTF-8; qs=0.09:
            schema:
              $ref: '#/components/schemas/BTAppElementParams'
        required: true
      responses:
        default:
          content:
            application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1:
              schema:
                $ref: '#/components/schemas/BTAppElementModifyInfo'
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTAppElementModifyInfo'
          description: default response
      security:
      - OAuth2:
        - OAuth2Write
      summary: Create Element.
      tags:
      - App Elements
      x-BTVisibility: PRODUCTION
  /api/appelements/d/{did}/w/{wid}/e/{eid}/transactions:
    post:
      deprecated: false
      operationId: startTransaction
      parameters:
      - explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: eid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json;charset=UTF-8; qs=0.09:
            schema:
              $ref: '#/components/schemas/BTAppElementStartTransactionParams'
        required: true
      responses:
        default:
          content:
            application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1:
              schema:
                $ref: '#/components/schemas/BTAppElementModifyInfo'
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTAppElementModifyInfo'
          description: default response
      security:
      - OAuth2:
        - OAuth2Write
      summary: Start Transaction
      tags:
      - App Elements
      x-BTVisibility: PRODUCTION
  /api/appelements/d/{did}/w/{wid}/e/{eid}/transactions/{tid}:
    post:
      deprecated: false
      operationId: commitTransaction
      parameters:
      - explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: eid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: tid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json;charset=UTF-8; qs=0.09:
            schema:
              $ref: '#/components/schemas/BTAppElementCommitTransactionParams'
        required: true
      responses:
        default:
          content:
            application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1:
              schema:
                $ref: '#/components/schemas/BTAppElementModifyInfo'
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTAppElementModifyInfo'
          description: default response
      security:
      - OAuth2:
        - OAuth2Write
      summary: Commit Transaction
      tags:
      - App Elements
      x-BTVisibility: PRODUCTION
  /api/appelements/d/{did}/{wvm}/{wvmid}/e/{eid}/associativedata:
    delete:
      deprecated: false
      operationId: deleteAssociativeData
      parameters:
      - explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: eid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wvm
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wvmid
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: transactionId
        required: false
        schema:
          default: ""
          type: string
        style: form
      - explode: true
        in: query
        name: parentChangeId
        required: false
        schema:
          default: ""
          type: string
        style: form
      - explode: true
        in: query
        name: associativeDataId
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: elementId
        required: false
        schema:
          default: ""
          type: string
        style: form
      - explode: true
        in: query
        name: viewId
        required: false
        schema:
          default: ""
          type: string
        style: form
      - explode: true
        in: query
        name: microversionId
        required: false
        schema:
          default: ""
          type: string
        style: form
      - explode: true
        in: query
        name: documentMicroversion
        required: false
        schema:
          default: ""
          type: string
        style: form
      - explode: true
        in: query
        name: deterministicId
        required: false
        schema:
          default: ""
          type: string
        style: form
      - explode: true
        in: query
        name: featureId
        required: false
        schema:
          default: ""
          type: string
        style: form
      - explode: true
        in: query
        name: entityId
        required: false
        schema:
          default: ""
          type: string
        style: form
      - explode: true
        in: query
        name: occurrenceId
        required: false
        schema:
          default: ""
          type: string
        style: form
      responses:
        default:
          content:
            application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1:
              schema:
                $ref: '#/components/schemas/BTAppElementBasicInfo'
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTAppElementBasicInfo'
          description: default response
      security:
      - OAuth2:
        - OAuth2Write
      x-BTVisibility: PRODUCTION
    get:
      deprecated: false
      operationId: getAssociativeData
      parameters:
      - explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wvm
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wvmid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: eid
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: transactionId
        required: false
        schema:
          default: ""
          type: string
        style: form
      - explode: true
        in: query
        name: changeId
        required: false
        schema:
          default: ""
          type: string
        style: form
      - explode: true
        in: query
        name: associativeDataId
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: elementId
        required: false
        schema:
          default: ""
          type: string
        style: form
      - explode: true
        in: query
        name: viewId
        required: false
        schema:
          default: ""
          type: string
        style: form
      - explode: true
        in: query
        name: microversionId
        required: false
        schema:
          default: ""
          type: string
        style: form
      - explode: true
        in: query
        name: documentMicroversion
        required: false
        schema:
          default: ""
          type: string
        style: form
      - explode: true
        in: query
        name: deterministicId
        required: false
        schema:
          default: ""
          type: string
        style: form
      - explode: true
        in: query
        name: featureId
        required: false
        schema:
          default: ""
          type: string
        style: form
      - explode: true
        in: query
        name: entityId
        required: false
        schema:
          default: ""
          type: string
        style: form
      - explode: true
        in: query
        name: occurrenceId
        required: false
        schema:
          default: ""
          type: string
        style: form
      - explode: true
        in: query
        name: returnIdTags
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        default:
          content:
            application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1:
              schema:
                $ref: '#/components/schemas/BTAppAssociativeDataInfoArray'
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTAppAssociativeDataInfoArray'
          description: default response
      security:
      - OAuth2:
        - OAuth2Read
      x-BTVisibility: PRODUCTION
    post:
      deprecated: false
      operationId: postAssociativeData
      parameters:
      - explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: eid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wvm
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wvmid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json;charset=UTF-8; qs=0.09:
            schema:
              type: string
        required: true
      responses:
        default:
          content:
            application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1:
              schema:
                $ref: '#/components/schemas/BTAppAssociativeDataInfoArray'
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTAppAssociativeDataInfoArray'
          description: default response
      security:
      - OAuth2:
        - OAuth2Read
        - OAuth2Write
      x-BTVisibility: PRODUCTION
  /api/appelements/d/{did}/{wvm}/{wvmid}/e/{eid}/content:
    get:
      deprecated: false
      operationId: getSubElementContent
      parameters:
      - explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: eid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wvm
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wvmid
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: transactionId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: changeId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: baseChangeId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: subelementId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: linkDocumentId
        required: false
        schema:
          type: string
        style: form
      responses:
        default:
          content:
            application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1:
              schema:
                $ref: '#/components/schemas/BTAppElementContentInfo'
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTAppElementContentInfo'
          description: default response
      security:
      - OAuth2:
        - OAuth2Read
      summary: Get Content
      tags:
      - App Elements
      x-BTVisibility: PRODUCTION
    post:
      deprecated: false
      operationId: updateAppElement
      parameters:
      - explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: eid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wvm
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wvmid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json;charset=UTF-8; qs=0.09:
            schema:
              $ref: '#/components/schemas/BTAppElementUpdateParams'
        required: true
      responses:
        default:
          content:
            application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1:
              schema:
                $ref: '#/components/schemas/BTAppElementModifyInfo'
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTAppElementModifyInfo'
          description: default response
      security:
      - OAuth2:
        - OAuth2Read
        - OAuth2Write
      summary: Update Element
      tags:
      - App Elements
      x-BTVisibility: PRODUCTION
  /api/appelements/d/{did}/{wvm}/{wvmid}/e/{eid}/content/history:
    get:
      deprecated: false
      operationId: getAppElementHistory
      parameters:
      - explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: eid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wvm
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wvmid
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1:
              schema:
                $ref: '#/components/schemas/BTAppElementHistoryInfo'
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTAppElementHistoryInfo'
          description: default response
      security:
      - OAuth2:
        - OAuth2Read
      summary: Get History
      tags:
      - App Elements
      x-BTVisibility: PRODUCTION
  /api/appelements/d/{did}/{wvm}/{wvmid}/e/{eid}/content/ids:
    get:
      deprecated: false
      operationId: getSubelementIds
      parameters:
      - explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: eid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wvm
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wvmid
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: transactionId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: changeId
        required: false
        schema:
          type: string
        style: form
      responses:
        default:
          content:
            application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1:
              schema:
                $ref: '#/components/schemas/BTAppElementModifyInfo'
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTAppElementModifyInfo'
          description: default response
      security:
      - OAuth2:
        - OAuth2Read
      summary: Get Sub-element IDs
      tags:
      - App Elements
      x-BTVisibility: PRODUCTION
  /api/appelements/d/{did}/{wvm}/{wvmid}/e/{eid}/content/subelements/{sid}:
    delete:
      deprecated: false
      operationId: deleteAppElementContent
      parameters:
      - explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: eid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wvm
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wvmid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: sid
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: transactionId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: parentChangeId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: description
        required: false
        schema:
          type: string
        style: form
      responses:
        default:
          content:
            application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1:
              schema:
                $ref: '#/components/schemas/BTAppElementModifyInfo'
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTAppElementModifyInfo'
          description: default response
      security:
      - OAuth2:
        - OAuth2Write
      summary: Delete a Sub-element
      tags:
      - App Elements
      x-BTVisibility: PRODUCTION
  /api/appelements/d/{did}/{wvm}/{wvmid}/e/{eid}/references:
    post:
      deprecated: false
      operationId: createReference
      parameters:
      - explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: eid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wvm
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wvmid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json;charset=UTF-8; qs=0.09:
            schema:
              $ref: '#/components/schemas/BTAppElementReferenceParams'
        required: true
      responses:
        default:
          content:
            application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1:
              schema:
                $ref: '#/components/schemas/BTAppElementReferenceInfo'
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTAppElementReferenceInfo'
          description: default response
      security:
      - OAuth2:
        - OAuth2Write
        - OAuth2Read
      summary: Create Reference
      tags:
      - App Elements
      x-BTVisibility: PRODUCTION
  /api/appelements/d/{did}/{wvm}/{wvmid}/e/{eid}/references/{rid}:
    delete:
      deprecated: false
      operationId: deleteReference
      parameters:
      - explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: eid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wvm
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wvmid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: rid
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: transactionId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: parentChangeId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: description
        required: false
        schema:
          type: string
        style: form
      responses:
        default:
          content:
            application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1:
              schema:
                $ref: '#/components/schemas/BTAppElementReferenceInfo'
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTAppElementReferenceInfo'
          description: default response
      security:
      - OAuth2:
        - OAuth2Write
      summary: Delete Reference
      tags:
      - App Elements
      x-BTVisibility: PRODUCTION
    get:
      deprecated: false
      operationId: resolveReference
      parameters:
      - explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: eid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wvm
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wvmid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: rid
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: transactionId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: parentChangeId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: includeInternal
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - explode: true
        in: query
        name: linkDocumentId
        required: false
        schema:
          type: string
        style: form
      responses:
        default:
          content:
            application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1:
              schema:
                $ref: '#/components/schemas/BTAppElementReferenceResolveInfo'
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTAppElementReferenceResolveInfo'
          description: default response
      security:
      - OAuth2:
        - OAuth2Read
      summary: Resolve Reference
      tags:
      - App Elements
      x-BTVisibility: PRODUCTION
    post:
      deprecated: false
      operationId: updateReference
      parameters:
      - explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: eid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wvm
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wvmid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: rid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json;charset=UTF-8; qs=0.09:
            schema:
              $ref: '#/components/schemas/BTAppElementReferenceParams'
        required: true
      responses:
        default:
          content:
            application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1:
              schema:
                $ref: '#/components/schemas/BTAppElementReferenceInfo'
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTAppElementReferenceInfo'
          description: default response
      security:
      - OAuth2:
        - OAuth2Write
        - OAuth2Read
      summary: Update Reference
      tags:
      - App Elements
      x-BTVisibility: PRODUCTION
  /api/appelements/d/{did}/{wvm}/{wvmid}/e/{eid}/resolvereferences:
    get:
      deprecated: false
      operationId: resolveReferences
      parameters:
      - explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: eid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wvm
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wvmid
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: transactionId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: parentChangeId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: includeInternal
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - explode: true
        in: query
        name: linkDocumentId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: referenceIds
        required: false
        schema:
          default: ""
          type: string
        style: form
      responses:
        default:
          content:
            application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1:
              schema:
                $ref: '#/components/schemas/BTAppElementReferencesResolveInfo'
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTAppElementReferencesResolveInfo'
          description: default response
      security:
      - OAuth2:
        - OAuth2Read
      summary: Resolve references.
      tags:
      - App Elements
      x-BTVisibility: PRODUCTION
  /api/applications/clients/{cid}/settings/users/{uid}:
    delete:
      deprecated: false
      operationId: deleteAppSettings
      parameters:
      - explode: false
        in: path
        name: uid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: cid
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: key
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          description: Success!
      summary: Delete Application Settings
      tags:
      - Applications
      x-BTVisibility: PRODUCTION
    get:
      deprecated: false
      operationId: getUserAppSettings
      parameters:
      - explode: false
        in: path
        name: uid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: cid
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: key
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1:
              schema:
                $ref: '#/components/schemas/BTUserAppSettingsInfo'
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTUserAppSettingsInfo'
          description: Success!
      summary: Get User Application Settings
      tags:
      - Applications
      x-BTVisibility: PRODUCTION
    post:
      deprecated: false
      operationId: updateAppSettings
      parameters:
      - explode: false
        in: path
        name: uid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: cid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json;charset=UTF-8; qs=0.09:
            schema:
              $ref: '#/components/schemas/BTUserAppSettingsParams'
        required: true
      responses:
        "200":
          description: Success!
      summary: Update Application Settings
      tags:
      - Applications
      x-BTVisibility: PRODUCTION
  /api/assemblies/d/{did}/e/{eid}/namedViews:
    get:
      deprecated: false
      operationId: getNamedViews
      parameters:
      - explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: eid
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: skipPerspective
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - explode: true
        in: query
        name: linkDocumentId
        required: false
        schema:
          type: string
        style: form
      responses:
        default:
          content:
            application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1:
              schema:
                $ref: '#/components/schemas/BTNamedViewsInfo'
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTNamedViewsInfo'
          description: default response
      security:
      - OAuth2:
        - OAuth2Read
      tags:
      - Assemblies
      x-BTVisibility: PRODUCTION
  /api/assemblies/d/{did}/w/{wid}:
    post:
      deprecated: false
      operationId: createAssembly
      parameters:
      - explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json;charset=UTF-8; qs=0.09:
            schema:
              $ref: '#/components/schemas/BTModelElementParams'
        required: true
      responses:
        default:
          content:
            application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1:
              schema:
                $ref: '#/components/schemas/BTDocumentElementInfo'
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTDocumentElementInfo'
          description: default response
      security:
      - OAuth2:
        - OAuth2Write
      summary: Create Assembly
      tags:
      - Assemblies
      x-BTVisibility: PRODUCTION
  /api/assemblies/d/{did}/w/{wid}/e/{eid}/bomelement:
    post:
      deprecated: false
      operationId: getOrCreateBillOfMaterialsElement
      parameters:
      - explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: eid
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1:
              schema:
                $ref: '#/components/schemas/BTDocumentElementInfo'
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTDocumentElementInfo'
          description: default response
      security:
      - OAuth2:
        - OAuth2Read
      summary: Get or Create Bill of Materials Element
      tags:
      - Assemblies
      x-BTVisibility: PRODUCTION
  /api/assemblies/d/{did}/w/{wid}/e/{eid}/features/featureid/{fid}:
    delete:
      deprecated: false
      operationId: deleteFeature
      parameters:
      - explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: eid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: fid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1:
              schema:
                $ref: '#/components/schemas/BTFeatureApiBase-1430'
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTFeatureApiBase-1430'
          description: Success!
      security:
      - OAuth2:
        - OAuth2Write
      summary: Delete Feature
      tags:
      - Assemblies
      x-BTVisibility: PRODUCTION
    post:
      deprecated: false
      operationId: updateFeature
      parameters:
      - explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: eid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: fid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json;charset=UTF-8; qs=0.09:
            schema:
              type: string
      responses:
        default:
          content:
            application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1:
              schema:
                $ref: '#/components/schemas/BTFeatureDefinitionResponse-1617'
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTFeatureDefinitionResponse-1617'
          description: default response
      security:
      - OAuth2:
        - OAuth2Write
      tags:
      - Assemblies
      x-BTVisibility: PRODUCTION
  /api/assemblies/d/{did}/w/{wid}/e/{eid}/instance/nodeid/{nid}:
    delete:
      deprecated: false
      operationId: deleteInstance
      parameters:
      - explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: eid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: nid
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1: {}
            application/json;charset=UTF-8; qs=0.09: {}
          description: default response
      security:
      - OAuth2:
        - OAuth2Write
      summary: Delete assembly instance.
      tags:
      - Assemblies
      x-BTVisibility: PRODUCTION
  /api/assemblies/d/{did}/w/{wid}/e/{eid}/instances:
    post:
      deprecated: false
      operationId: createInstance
      parameters:
      - explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: eid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json;charset=UTF-8; qs=0.09:
            schema:
              $ref: '#/components/schemas/BTAssemblyInstanceDefinitionParams'
        required: true
      responses:
        "200":
          content:
            application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1:
              schema:
                items:
                  $ref: '#/components/schemas/BTOccurrence-74'
                type: array
            application/json;charset=UTF-8; qs=0.09:
              schema:
                items:
                  $ref: '#/components/schemas/BTOccurrence-74'
                type: array
          description: Success!
      security:
      - OAuth2:
        - OAuth2Read
        - OAuth2Write
      summary: Create assembly instance
      tags:
      - Assemblies
      x-BTVisibility: PRODUCTION
  /api/assemblies/d/{did}/w/{wid}/e/{eid}/occurrencetransforms:
    post:
      deprecated: false
      operationId: transformOccurrences
      parameters:
      - explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: eid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json;charset=UTF-8; qs=0.09:
            schema:
              $ref: '#/components/schemas/BTAssemblyTransformDefinitionParams'
        required: true
      responses:
        default:
          content:
            application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1: {}
            application/json;charset=UTF-8; qs=0.09: {}
          description: default response
      security:
      - OAuth2:
        - OAuth2Read
        - OAuth2Write
      summary: Transform assembly occurrences.
      tags:
      - Assemblies
      x-BTVisibility: PRODUCTION
  /api/assemblies/d/{did}/w/{wid}/e/{eid}/transformedinstances:
    post:
      deprecated: false
      operationId: insertTransformedInstances
      parameters:
      - explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: eid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json;charset=UTF-8; qs=0.09:
            schema:
              $ref: '#/components/schemas/BTAssemblyTransformedInstancesDefinitionParams'
        required: true
      responses:
        default:
          content:
            application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1:
              schema:
                $ref: '#/components/schemas/BTAssemblyInsertTransformedInstancesResponse'
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTAssemblyInsertTransformedInstancesResponse'
          description: default response
      security:
      - OAuth2:
        - OAuth2Read
        - OAuth2Write
      summary: Create and transform assembly instances
      tags:
      - Assemblies
      x-BTVisibility: PRODUCTION
  /api/assemblies/d/{did}/w/{wid}/e/{eid}/translationformats:
    get:
      deprecated: false
      operationId: getTranslatorFormats
      parameters:
      - explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: eid
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: checkContent
        required: false
        schema:
          default: true
          type: boolean
        style: form
      responses:
        default:
          content:
            application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1:
              schema:
                items:
                  $ref: '#/components/schemas/BTModelFormatInfo'
                type: array
            application/json;charset=UTF-8; qs=0.09:
              schema:
                items:
                  $ref: '#/components/schemas/BTModelFormatInfo'
                type: array
          description: default response
      summary: Get Translation Formats
      tags:
      - Assemblies
      x-BTVisibility: PRODUCTION
  /api/assemblies/d/{did}/{wvm}/{wvmid}/e/{eid}:
    get:
      deprecated: false
      operationId: getAssemblyDefinition
      parameters:
      - explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wvm
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wvmid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: eid
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: linkDocumentId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: includeMateFeatures
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: includeNonSolids
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: includeMateConnectors
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: configuration
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: explodedViewId
        required: false
        schema:
          type: string
        style: form
      responses:
        default:
          content:
            application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1:
              schema:
                $ref: '#/components/schemas/BTAssemblyDefinitionInfo'
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTAssemblyDefinitionInfo'
          description: default response
      security:
      - OAuth2:
        - OAuth2Read
      summary: Assembly Definition.
      tags:
      - Assemblies
      x-BTVisibility: PRODUCTION
  /api/assemblies/d/{did}/{wvm}/{wvmid}/e/{eid}/bom:
    get:
      deprecated: false
      operationId: getBillOfMaterials
      parameters:
      - explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wvm
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wvmid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: eid
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: metadataWorkspaceId
        required: false
        schema:
          default: ""
          type: string
        style: form
      - explode: true
        in: query
        name: bomColumnIds
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: indented
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - explode: true
        in: query
        name: multiLevel
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - explode: true
        in: query
        name: generateIfAbsent
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - explode: true
        in: query
        name: linkDocumentId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: configuration
        required: false
        schema:
          type: string
        style: form
      responses:
        default:
          content:
            application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1:
              schema:
                $ref: '#/components/schemas/JsonNode'
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/JsonNode'
          description: default response
      security:
      - OAuth2:
        - OAuth2Read
      summary: Get Bill of Materials
      tags:
      - Assemblies
      x-BTVisibility: PRODUCTION
  /api/assemblies/d/{did}/{wvm}/{wvmid}/e/{eid}/boundingboxes:
    get:
      deprecated: false
      operationId: getAssemblyBoundingBoxes
      parameters:
      - explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wvm
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wvmid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: eid
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: linkDocumentId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: includeHidden
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: displayStateId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: configuration
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: explodedViewId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1:
              schema:
                $ref: '#/components/schemas/BTBoundingBoxInfo'
          description: Success!
      security:
      - OAuth2:
        - OAuth2Read
      summary: Bounding Boxes.
      tags:
      - Assemblies
      x-BTVisibility: PRODUCTION
  /api/assemblies/d/{did}/{wvm}/{wvmid}/e/{eid}/features:
    get:
      deprecated: false
      operationId: getFeatures
      parameters:
      - explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wvm
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wvmid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: eid
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: featureId
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: linkDocumentId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.onshape.v2+json;charset=UTF-8;qs=0.2:
              schema:
                $ref: '#/components/schemas/BTAssemblyFeatureListResponse-1174'
          description: Success!
      security:
      - OAuth2:
        - OAuth2Read
      summary: Get Feature List
      tags:
      - Assemblies
      x-BTVisibility: PRODUCTION
    post:
      deprecated: false
      operationId: addFeature
      parameters:
      - explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wvm
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wvmid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: eid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json;charset=UTF-8; qs=0.09:
            schema:
              type: string
      responses:
        default:
          content:
            application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1:
              schema:
                $ref: '#/components/schemas/BTFeatureDefinitionResponse-1617'
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTFeatureDefinitionResponse-1617'
          description: default response
      security:
      - OAuth2:
        - OAuth2Write
      tags:
      - Assemblies
      x-BTVisibility: PRODUCTION
  /api/assemblies/d/{did}/{wvm}/{wvmid}/e/{eid}/featurespecs:
    get:
      deprecated: false
      operationId: getFeatureSpecs
      parameters:
      - explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wvm
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wvmid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: eid
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1:
              schema:
                $ref: '#/components/schemas/BTFeatureSpecsResponse-664'
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTFeatureSpecsResponse-664'
          description: default response
      security:
      - OAuth2:
        - OAuth2Read
      tags:
      - Assemblies
      x-BTVisibility: PRODUCTION
  /api/assemblies/d/{did}/{wvm}/{wvmid}/e/{eid}/shadedviews:
    get:
      deprecated: false
      operationId: getAssemblyShadedViews
      parameters:
      - explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wvm
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wvmid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: eid
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: linkDocumentId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: viewMatrix
        required: false
        schema:
          default: front
          type: string
        style: form
      - explode: true
        in: query
        name: outputHeight
        required: false
        schema:
          default: 500
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: outputWidth
        required: false
        schema:
          default: 500
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: pixelSize
        required: false
        schema:
          default: 0.003
          format: double
          type: number
        style: form
      - explode: true
        in: query
        name: edges
        required: false
        schema:
          default: show
          type: string
        style: form
      - explode: true
        in: query
        name: showAllParts
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - explode: true
        in: query
        name: includeSurfaces
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - explode: true
        in: query
        name: useAntiAliasing
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - explode: true
        in: query
        name: displayStateId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: configuration
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: explodedViewId
        required: false
        schema:
          type: string
        style: form
      responses:
        default:
          content:
            application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1:
              schema:
                $ref: '#/components/schemas/BTShadedViewsInfo'
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTShadedViewsInfo'
          description: default response
      security:
      - OAuth2:
        - OAuth2Read
      tags:
      - Assemblies
      x-BTVisibility: PRODUCTION
  /api/assemblies/d/{did}/{wv}/{wvid}/e/{eid}/translations:
    post:
      deprecated: false
      operationId: translateFormat
      parameters:
      - explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wv
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wvid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: eid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json;charset=UTF-8; qs=0.09:
            schema:
              $ref: '#/components/schemas/BTTranslateFormatParams'
        required: true
      responses:
        default:
          content:
            application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1:
              schema:
                $ref: '#/components/schemas/BTTranslationRequestInfo'
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTTranslationRequestInfo'
          description: default response
      security:
      - OAuth2:
        - OAuth2Read
      summary: Create Assembly translation.
      tags:
      - Assemblies
      x-BTVisibility: PRODUCTION
  /api/billing/plans/client/{cid}:
    get:
      deprecated: false
      operationId: getClientPlans
      parameters:
      - explode: false
        in: path
        name: cid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Success!
      summary: Get billing plans for client.
      tags:
      - Billing
      x-BTVisibility: PRODUCTION
  /api/blobelements/d/{did}/w/{wid}:
    post:
      deprecated: false
      operationId: uploadFileCreateElement
      parameters:
      - explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/BTTranslationRequestParams'
      responses:
        default:
          content:
            application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1:
              schema:
                $ref: '#/components/schemas/BTDocumentElementProcessingInfo'
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTDocumentElementProcessingInfo'
          description: default response
      security:
      - OAuth2:
        - OAuth2Write
      summary: Upload file to new element.
      tags:
      - BlobElements
      x-BTVisibility: PRODUCTION
  /api/blobelements/d/{did}/w/{wid}/e/{eid}:
    get:
      deprecated: false
      operationId: downloadFileWorkspace
      parameters:
      - explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: eid
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: contentDisposition
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: linkDocumentId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: Success!
      security:
      - OAuth2:
        - OAuth2Read
      summary: Download File From Blob Element.
      tags:
      - BlobElements
      x-BTVisibility: PRODUCTION
    post:
      deprecated: false
      operationId: uploadFileUpdateElement
      parameters:
      - explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: eid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wid
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: parentChangeId
        required: false
        schema:
          type: string
        style: form
      responses:
        default:
          content:
            application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1:
              schema:
                $ref: '#/components/schemas/BTDocumentElementProcessingInfo'
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTDocumentElementProcessingInfo'
          description: default response
      security:
      - OAuth2:
        - OAuth2Write
      summary: Update Blob Element.
      tags:
      - BlobElements
      x-BTVisibility: PRODUCTION
  /api/blobelements/d/{did}/w/{wid}/e/{eid}/units:
    post:
      deprecated: false
      operationId: updateUnits
      parameters:
      - explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: eid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json;charset=UTF-8; qs=0.09:
            schema:
              $ref: '#/components/schemas/BTUpdateMeshUnitsParams'
        required: true
      responses:
        default:
          content:
            application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1:
              schema:
                $ref: '#/components/schemas/BTDocumentElementProcessingInfo'
            application/vnd.onshape.v2+json;charset=UTF-8;qs=0.2:
              schema:
                $ref: '#/components/schemas/BTDocumentElementProcessingInfo'
          description: default response
      security:
      - OAuth2:
        - OAuth2Write
      summary: Update Mesh Units.
      tags:
      - BlobElements
      x-BTVisibility: PRODUCTION
  /api/blobelements/d/{did}/{wv}/{wvid}/e/{eid}/translations:
    post:
      deprecated: false
      operationId: createBlobTranslation
      parameters:
      - explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wv
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wvid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: eid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json;charset=UTF-8; qs=0.09:
            schema:
              $ref: '#/components/schemas/BTTranslateFormatParams'
        required: true
      responses:
        default:
          content:
            application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1:
              schema:
                $ref: '#/components/schemas/BTTranslationRequestInfo'
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTTranslationRequestInfo'
          description: default response
      security:
      - OAuth2:
        - OAuth2Read
      summary: Create Translation.
      tags:
      - BlobElements
      x-BTVisibility: PRODUCTION
  /api/companies:
    get:
      deprecated: false
      operationId: findCompany
      parameters:
      - explode: true
        in: query
        name: uid
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: activeOnly
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - explode: true
        in: query
        name: includeAll
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        default:
          content:
            application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1:
              schema:
                $ref: '#/components/schemas/BTListResponseBTCompanyInfo'
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTListResponseBTCompanyInfo'
          description: default response
      summary: Get User companies.
      tags:
      - Companies
      x-BTVisibility: PRODUCTION
  /api/companies/{cid}:
    get:
      deprecated: false
      operationId: getCompany
      parameters:
      - explode: false
        in: path
        name: cid
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1:
              schema:
                $ref: '#/components/schemas/BTCompanyInfo'
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTCompanyInfo'
          description: default response
      summary: Get company.
      tags:
      - Companies
      x-BTVisibility: PRODUCTION
  /api/documents:
    get:
      deprecated: false
      operationId: getDocuments
      parameters:
      - explode: true
        in: query
        name: q
        required: false
        schema:
          default: ""
          type: string
        style: form
      - explode: true
        in: query
        name: filter
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: owner
        required: false
        schema:
          default: ""
          type: string
        style: form
      - explode: true
        in: query
        name: ownerType
        required: false
        schema:
          default: 1
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: sortColumn
        required: false
        schema:
          default: createdAt
          type: string
        style: form
      - explode: true
        in: query
        name: sortOrder
        required: false
        schema:
          default: desc
          type: string
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: label
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: project
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: parentId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1:
              schema:
                $ref: '#/components/schemas/BTGlobalTreeNodeListResponse'
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTGlobalTreeNodeListResponse'
          description: Success!
      security:
      - OAuth2:
        - OAuth2Read
      summary: Get Documents
      tags:
      - Documents
      x-BTVisibility: PRODUCTION
    post:
      deprecated: false
      operationId: createDocument
      parameters: []
      requestBody:
        content:
          application/json;charset=UTF-8; qs=0.09:
            schema:
              $ref: '#/components/schemas/BTDocumentParams'
        required: true
      responses:
        default:
          content:
            application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1:
              schema:
                $ref: '#/components/schemas/BTDocumentInfo'
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTDocumentInfo'
          description: default response
      security:
      - OAuth2:
        - OAuth2Write
      summary: Create document.
      tags:
      - Documents
      x-BTVisibility: PRODUCTION
  /api/documents/d/{did}/externaldata/{fid}:
    get:
      deprecated: false
      operationId: downloadExternalData
      parameters:
      - explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: fid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1:
              schema:
                format: binary
                type: string
            application/json;charset=UTF-8; qs=0.09:
              schema:
                format: binary
                type: string
            application/vnd.onshape.v1+octet-stream;charset=UTF-8;qs=0.1:
              schema:
                format: binary
                type: string
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: Success!
      security:
      - OAuth2:
        - OAuth2Read
      summary: Download External Data
      tags:
      - Documents
      x-BTVisibility: PRODUCTION
  /api/documents/d/{did}/versions:
    get:
      deprecated: false
      operationId: getDocumentVersions
      parameters:
      - explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      responses:
        default:
          content:
            application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1:
              schema:
                items:
                  $ref: '#/components/schemas/BTVersionInfo'
                type: array
            application/json;charset=UTF-8; qs=0.09:
              schema:
                items:
                  $ref: '#/components/schemas/BTVersionInfo'
                type: array
          description: default response
      security:
      - OAuth2:
        - OAuth2Read
      summary: Get Versions
      tags:
      - Documents
      x-BTVisibility: PRODUCTION
    post:
      deprecated: false
      operationId: createVersion
      parameters:
      - explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json;charset=UTF-8; qs=0.09:
            schema:
              $ref: '#/components/schemas/BTVersionOrWorkspaceParams'
        required: true
      responses:
        default:
          content:
            application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1:
              schema:
                $ref: '#/components/schemas/BTVersionInfo'
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTVersionInfo'
          description: default response
      security:
      - OAuth2:
        - OAuth2Write
      summary: Create Version.
      tags:
      - Documents
      x-BTVisibility: PRODUCTION
  /api/documents/d/{did}/versions/{vid}:
    get:
      deprecated: false
      operationId: getVersion
      parameters:
      - explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: vid
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: parents
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - explode: true
        in: query
        name: linkDocumentId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1:
              schema:
                $ref: '#/components/schemas/BTVersionInfo'
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTVersionInfo'
          description: Success!
      security:
      - OAuth2:
        - OAuth2Read
      summary: Get Version
      tags:
      - Documents
      x-BTVisibility: PRODUCTION
  /api/documents/d/{did}/w/{wid}/e/{eid}/latestdocumentreferences:
    post:
      deprecated: false
      operationId: updateExternalReferencesToLatestDocuments
      parameters:
      - explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: eid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json;charset=UTF-8; qs=0.09:
            schema:
              $ref: '#/components/schemas/BTLinkToLatestDocumentParams'
      responses:
        "200":
          content:
            application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1:
              schema:
                $ref: '#/components/schemas/BTLinkToLatestDocumentInfo'
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTLinkToLatestDocumentInfo'
          description: Success!
      security:
      - OAuth2:
        - OAuth2Write
      summary: Update External References to Latest
      tags:
      - Documents
      x-BTVisibility: PRODUCTION
  /api/documents/d/{did}/w/{wid}/moveelement:
    post:
      deprecated: false
      operationId: moveElementsToDocument
      parameters:
      - explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json;charset=UTF-8; qs=0.09:
            schema:
              $ref: '#/components/schemas/BTMoveElementParams'
        required: true
      responses:
        default:
          content:
            application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1:
              schema:
                $ref: '#/components/schemas/BTMoveElementInfo'
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTMoveElementInfo'
          description: default response
      security:
      - OAuth2:
        - OAuth2Write
      summary: Move Elements
      tags:
      - Documents
      x-BTVisibility: PRODUCTION
  /api/documents/d/{did}/w/{wid}/syncApplicationElements:
    post:
      deprecated: false
      operationId: syncApplicationElements
      parameters:
      - explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wid
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: applicationElementIds
        required: true
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: description
        required: false
        schema:
          type: string
        style: form
      responses:
        default:
          content:
            application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1: {}
            application/json;charset=UTF-8; qs=0.09: {}
          description: default response
      security:
      - OAuth2:
        - OAuth2Write
      summary: Sync Application Elements
      tags:
      - Documents
      x-BTVisibility: PRODUCTION
  /api/documents/d/{did}/workspaces:
    get:
      deprecated: false
      operationId: getDocumentWorkspaces
      parameters:
      - explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1:
              schema:
                items:
                  $ref: '#/components/schemas/BTWorkspaceInfo'
                type: array
            application/json;charset=UTF-8; qs=0.09:
              schema:
                items:
                  $ref: '#/components/schemas/BTWorkspaceInfo'
                type: array
          description: default response
      security:
      - OAuth2:
        - OAuth2Read
      summary: Get Workspaces
      tags:
      - Documents
      x-BTVisibility: PRODUCTION
    post:
      deprecated: false
      operationId: createWorkspace
      parameters:
      - explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json;charset=UTF-8; qs=0.09:
            schema:
              $ref: '#/components/schemas/BTVersionOrWorkspaceParams'
      responses:
        default:
          content:
            application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1:
              schema:
                $ref: '#/components/schemas/BTWorkspaceInfo'
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTWorkspaceInfo'
          description: default response
      security:
      - OAuth2:
        - OAuth2Write
      summary: Create Workspace
      tags:
      - Documents
      x-BTVisibility: PRODUCTION
  /api/documents/d/{did}/workspaces/{wid}:
    delete:
      deprecated: false
      operationId: deleteWorkspace
      parameters:
      - explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wid
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1: {}
            application/json;charset=UTF-8; qs=0.09: {}
          description: default response
      security:
      - OAuth2:
        - OAuth2Delete
      summary: Delete Workspace
      tags:
      - Documents
      x-BTVisibility: PRODUCTION
  /api/documents/d/{did}/{wvm}/{wvmid}/elements:
    get:
      deprecated: false
      operationId: getElementsInDocument
      parameters:
      - explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wvm
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wvmid
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: elementType
        required: false
        schema:
          default: ""
          type: string
        style: form
      - explode: true
        in: query
        name: elementId
        required: false
        schema:
          default: ""
          type: string
        style: form
      - explode: true
        in: query
        name: withThumbnails
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - explode: true
        in: query
        name: linkDocumentId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1:
              schema:
                items:
                  $ref: '#/components/schemas/BTDocumentElementInfo'
                type: array
            application/json;charset=UTF-8; qs=0.09:
              schema:
                items:
                  $ref: '#/components/schemas/BTDocumentElementInfo'
                type: array
          description: Success!
      security:
      - OAuth2:
        - OAuth2Read
      summary: Get a list of elements in the workspace, version, or microversion of
        the document.
      tags:
      - Documents
      x-BTVisibility: PRODUCTION
  /api/documents/d/{did}/{wvm}/{wvmid}/insertables:
    get:
      deprecated: false
      operationId: getInsertables
      parameters:
      - explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wvm
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wvmid
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: betaCapabilityIds
        required: false
        schema:
          items:
            type: string
          type: array
          uniqueItems: true
        style: form
      - explode: true
        in: query
        name: includeParts
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - explode: true
        in: query
        name: includeSurfaces
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - explode: true
        in: query
        name: includeWires
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - explode: true
        in: query
        name: includeSketches
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - explode: true
        in: query
        name: includeReferenceFeatures
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - explode: true
        in: query
        name: includeAssemblies
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - explode: true
        in: query
        name: includeFeatures
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - explode: true
        in: query
        name: includeFeatureStudios
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - explode: true
        in: query
        name: includePartStudios
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - explode: true
        in: query
        name: includeBlobs
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - explode: true
        in: query
        name: includeMeshes
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - explode: true
        in: query
        name: includeFlattenedBodies
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - explode: true
        in: query
        name: allowedBlobMimeTypes
        required: false
        schema:
          default: ""
          type: string
        style: form
      - explode: true
        in: query
        name: maxFeatureScriptVersion
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: includeApplications
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - explode: true
        in: query
        name: allowedApplicationMimeTypes
        required: false
        schema:
          default: ""
          type: string
        style: form
      - explode: true
        in: query
        name: includeCompositeParts
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - explode: true
        in: query
        name: includeFSTables
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        default:
          content:
            application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1:
              schema:
                $ref: '#/components/schemas/BTInsertablesListResponse'
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTInsertablesListResponse'
          description: default response
      security:
      - OAuth2:
        - OAuth2Read
      summary: Insertable List for Document Version.
      tags:
      - Documents
      x-BTVisibility: PRODUCTION
  /api/documents/d/{did}/{wv}/{wvid}/currentmicroversion:
    get:
      deprecated: false
      operationId: getCurrentMicroversion
      parameters:
      - explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wv
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wvid
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1:
              schema:
                $ref: '#/components/schemas/BTMicroversionInfo'
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTMicroversionInfo'
          description: default response
      security:
      - OAuth2:
        - OAuth2Read
      summary: Get Current Document Microversion
      tags:
      - Documents
      x-BTVisibility: PRODUCTION
  /api/documents/d/{did}/{wv}/{wvid}/e/{eid}/export:
    post:
      deprecated: false
      operationId: export2Json
      parameters:
      - explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wv
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wvid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: eid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json;charset=UTF-8; qs=0.09:
            schema:
              $ref: '#/components/schemas/BTExportModelParams'
      responses:
        default:
          content:
            application/vnd.onshape.v1+octet-stream;charset=UTF-8;qs=0.1: {}
            application/json;charset=UTF-8; qs=0.09: {}
          description: default response
      security:
      - OAuth2:
        - OAuth2Read
      tags:
      - Documents
      x-BTVisibility: PRODUCTION
  /api/documents/search:
    post:
      deprecated: false
      operationId: search
      parameters: []
      requestBody:
        content:
          application/json;charset=UTF-8; qs=0.09:
            schema:
              $ref: '#/components/schemas/BTDocumentSearchParams'
        required: true
      responses:
        default:
          content:
            application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1: {}
            application/json;charset=UTF-8; qs=0.09: {}
          description: default response
      security:
      - OAuth2:
        - OAuth2Read
      tags:
      - Documents
      x-BTVisibility: PRODUCTION
  /api/documents/{did}:
    delete:
      deprecated: false
      operationId: deleteDocument
      parameters:
      - explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: forever
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        default:
          content:
            application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1: {}
            application/json;charset=UTF-8; qs=0.09: {}
          description: default response
      security:
      - OAuth2:
        - OAuth2Delete
      summary: Delete Document
      tags:
      - Documents
      x-BTVisibility: PRODUCTION
    get:
      deprecated: false
      operationId: getDocument
      parameters:
      - explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.onshape.v1+json;charset=UTF-8;qs=0.1:
              schema:
                $ref: '#/components/schemas/BTDocumentInfo'
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTDocumentInfo'
          description: Success!
      security:
      - OAuth2:
        - OAuth2Read
      summary: Get Document
      tags:
      - Documents
      x-BTVisibility: PRODUCTION
    post:
      deprecated: false
      operationId: updateDocumentAttributes
      parameters:
      - explode: false
        in: path
        name: did
        required: true
[...]
