[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
codecov = "*"
v = {editable = true,version = "*"}
coverage = "*"
pytest = "*"
pytest-cov = "*"
onshape-client = {editable = true,path = "."}

[packages]
requests = "*"
pytest = "*"
ruamel-yaml = "*"

[requires]
python_version = "3.5"
