[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true
# This is really only for dev packages. Any normally required package should be installed by setup.py in onshape_client

[dev-packages]
codecov = "*"
coverage = "*"
pytest = "*"
pytest-cov = "*"
twine = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
pytest-console-scripts = "*"
tox-pipenv = "*"
tox = "*"
black = "*"
onshape-client = {path = ".",editable = true}

[packages]
urllib3 = "*"
six = "*"
certifi = "*"
python-dateutil = "*"
requests-oauthlib = "*"
ruamel-yaml = "*"
pathlib = "*"
pint = "*"
numpy = "*"

[pipenv]
allow_prereleases = true
